<option {if $search.type == "abyt"}selected="selected"{/if} value="abyt">{__("abt__yt.banners.types.abyt")}</option>
<option {if $search.type == "abyt_advanced"}selected="selected"{/if} value="abyt_advanced">{__("abt__yt.banners.types.abyt_advanced")}</option>
