.ty-social-buttons {
  margin: 20px 0px;
}
.ty-social-buttons__inline {
  display: inline-block;
  vertical-align: top;
  margin: 5px 20px 10px 0;
}
.ty-social-buttons__email-sharing {
  text-decoration: none;
}
.ty-social-buttons__email-icon {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 16px;
}
.ty-product-bigpicture .ty-social-buttons__inline {
  margin: 5px 0 0;
}
.pinterest__wrapper {
  margin-top: -1px;
  display: block;
}
@media (max-width: 767px) {
  .ty-social-buttons__inline {
    display: block;
  }
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
