//grid
#tygh_container .col_4 {
	margin-left: -20px;
	width: auto;
	float: none;
	.clearfix;
	
	& > .row-fluid > [class*="span"] {
		width: 25%;
		padding-left: 20px;
		margin-left: 0;
		
		@media (max-width: @th_tablet) {	
			float: left;
			width: 50%;
			margin-left: 0;
			
			&:nth-child(2n+1) {
				clear: left;		
			}
		}
		@media (max-width: @th_phone) {
			width: 100%;
			float: none;
		}
	}
	
}