#tygh_container .col_3,
#tygh_container .col_5 {
	margin-left: -20px;
	width: auto;
	min-width: 100%;
	box-sizing: border-box;
	.clearfix;
}
.col_3 > * {
	float: left;
	width: 33.333333%;
	padding-left: 20px;
	.box-sizing(border-box);
	
	.col_3--special& {
		margin-top: 20px;
		
		@media (min-width: @th_phone + 1) and (max-width: 767px) {
			width: 50%;
			
			&:nth-child(3) {
				width: 100%;
	
				.th_simple_banner--tt__block {
					-webkit-transform: scale(1.6);
					-ms-transform: scale(1.6);
					transform: scale(1.6);
					
					transform-origin: bottom left;
				}
			}
		}
	}	

	@media (max-width: 767px) {
		width: 100%;
	}
}
.col_3--special {
	margin-bottom: 20px;
}
//col 4
.col_4.col_4--special > * {
	float: left;
	width: 25%;
	padding-left: 20px;
	.box-sizing(border-box);

	margin-top: 20px;
	
	@media (max-width: 767px) {
		width: 100%;
	}
	@media (min-width: @th_phone + 1) and (max-width: 767px) {
		width: 50%;
	}
}
.col_4--special {
	margin-bottom: 20px;
}
//col 5
.col_5 > * {
	float: left;
	width: 20%;
	padding-left: 20px;
	.box-sizing(border-box);
	
	.col_5--special& {
		margin-top: 20px;
		
		@media (min-width: @th_phone + 1) and (max-width: 767px) {
			width: 50%;
			
			&:nth-child(3) {
				width: 100%;
	
				.th_simple_banner--tt__block {
					-webkit-transform: scale(1.6);
					-ms-transform: scale(1.6);
					transform: scale(1.6);
					
					transform-origin: bottom left;
				}
			}
		}
	}	

	@media (max-width: 767px) {
		width: 100%;
	}
}
.col_5--special {
	margin-bottom: 20px;
}
	

