.ath_container {
	max-width: @fluidContainerMaxWidth;
	min-width: @fluidContainerMinWidth;
	
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;   
}
.container-fluid,
.ath_container--full-width {
	padding-right: 0;
	padding-left: 0;
	max-width: none;
}