.stripe-payment-form__card,
.stripe-payment-form__expiry,
.stripe-payment-form__cvc {
  padding: 8px;
  border: 1px solid #acbdcd;
  background: white;
  min-height: 21px;
}
.stripe-payment-form__expiry {
  max-width: 75px;
}
.stripe-payment-form__cvc {
  width: 45px;
  display: inline-block;
  vertical-align: middle;
}
.ty-control-group.error .sc-field {
  border-color: #bf4d4d;
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
