//companies_list.tpl
.title-svg {
	display: inline-block;
	width: 1.2em;
	vertical-align: bottom;
	margin-right: 4px;
	
	svg {
		fill: currentColor;
		display: block;
	}
}
.vendors_list__link {
	color: @font;
	padding-left: 16px;
	display: block;
	position: relative;
	
	i {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
		font-size: 8px;
	}
}

.vendors_list__item {
	padding: 4px 0;
	
	@media(max-width: 767px) {
		width: 30%;
		margin-right: 2%;
		display: inline-block;
		vertical-align: top;
	}
	@media(max-width: 600px) {
		width: 47%;
	}
	@media(max-width: 360px) {
		width: 100%;
		display: block;
		margin-right: 0;
	}
}

.ty-homepage-vendors__btn {
	padding: 0  0 10px;
    margin-top: 15px;
}

//deatail
.ty-product-bigpicture .ty-control-group {
 	display: block;
}
.ty-product-bigpicture .paypal-adaptive-vendor-name .ty-control-group__label,
.paypal-adaptive-vendor-name .ty-control-group__label {
	min-width: auto;
    width: auto;
    padding-right: 10px;
    margin-right: 0;
}
.ty-product-bigpicture .paypal-adaptive-vendor-name .ty-control-group__label,
.paypal-adaptive-vendor-name .ty-control-group__label,
.paypal-adaptive-vendor-name .ty-control-group__item,
.paypal-adaptive-vendor-name img {
	display: inline-block;
}

//vendor store page

.th_vendor-head-info__grid {	

	
	@media(max-width: 767px) {

		text-align: center;
	}
}
.th_vendor-logo__box {
	float: left;
	margin-right: 30px;
	
	@media(max-width: 767px) {
		float: none;
		display: inline-block;
		text-align: center;
		margin-right: 0;
		margin-bottom: 10px;
	}
}
.th_vendor-information__box {
	overflow: hidden;
}

.th_vendor-head-info {
	border-top: 1px solid @border_color;
	margin: 4px 0 0;
	padding: 20px 0;
}
.ty-vendor-information {
	text-align: left;
}
.th_vendor-information__name {
	margin-bottom: 0;
	
	a {
		color: @font;
	}
}
.th_vendor-information__discription {
	margin: 5px 0 10px;
}
.ty-sort-container + .ty-companies {
	margin-top: -30px;
}

.th_vendor-logo__container {
	display: block;
	background: #fff;
	border: 1px solid @border_color;
	text-align: center;
}

//vendors grid list + name
.ty-grid-vendors .ty-grid-list__company-name .company-name {
	display: block;
    text-align: center;
    color: @font;
    word-wrap: break-word;
    font-weight: bold;
}
