//special classes
.th-top-indent-no {
	margin-top: 0;
}


//comment
.ath_gird-section  .ty-discussion-post {
	border: 1px solid @font;
	.border-radius(4px);
	
	.ty-caret-bottom {
		bottom: -13px;
		
	    font-size: 19px;
	    width: 18px;
	    height: 24px;
	    background: #fff;
	    border-radius: 50%;
	    text-align: center;
	    color: @font;
	}
	.ty-caret-bottom .ty-caret-outer,
	.ty-caret-bottom .ty-caret-inner {
		display: none;
	}
}
.ty-discussion-post__content + .ty-discussion-post__content {
	margin-top: 30px;
}


//feature
.ty-product-feature:nth-child(2n) {
	background: #e8e8e8;
}


//tags
.ty-tags-list__a:hover {
	background: @links_hover;
}
.ty-tags-list__a:hover:before {
    border-right-color: @links_hover;
}


//newsletters
.ty-newsletters {
	margin-bottom: 10px;
}


//product empty (wish list)
.ty-product-empty {
	background: none;
}
.ty-wish-list-empty {
	padding-left: 0;
	margin-bottom: 10px;
	.clearfix;
}

//brands
.th_brand-scroller__img {
	-webkit--transition: transform .6s;
	-moz-transition: transform .6s;
	-o-transition: transform .6s;
	transition: transform .6s;
    
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	backface-visibility: hidden;
}
.th_brand-scroller__link:hover .th_brand-scroller__img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.th_brand-scroller__link {
	display: block;
	padding: 20px 0;
}

//buy now
.ty-cr-product-button span:before {
	content: '\e830';
	
	font-family: "t_thin_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	
	display: inline-block;
	text-decoration: inherit;

	text-align: center;

	font-variant: normal;
	text-transform: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	margin-right: 4px;
}

//Gift pag
@media (min-width: 768px) {
	.certificates-verify-grid {
		padding-bottom: 420px;
		background: url('/images/gift.png') center bottom no-repeat;
	}
}


//qty
.ty-min-qty-description {
	margin-top: 10px;
	padding-bottom: 0;
	margin-bottom: -10px;
	
	.ty-product-list & {
		margin-bottom: 0;
	}
}
.ty-min-qty-description + div {
	margin-top: 15px;
}
.touchevents .ty-product-bigpicture .th_qty_and_btns .ty-qty {
    text-align: center;
    float: none;
    margin: 10px 0 0;
}


//2.16 
.ty-variations-list .ty-add-to-wish:before {
	display: none;
}

//for social proof
.ty-product-block__img  .ty-product-thumbnails {
    overflow: initial;
}

//v3.0
.litecheckout__step-title .litecheckout__step-title--right {
	font-size: 13px;
}
.litecheckout__step-title + .litecheckout__fields-row {
	clear: right;
}
.shipping-method__container .shipping-method__delivery-time {
    white-space: normal;
}
.ty-mainbox-container > .ty-mainbox-title:first-child {
	margin-top: 0;
}

.ty-menu-vertical__dropdown {
	margin-bottom: 15px;
		
	.no-touch & .ty-menu__item:hover .ty-menu__item-link,
	& .is-hover-menu .ty-menu__item-link,
	& .is-hover-menu.ty-menu__item-active .ty-menu__item-link,
	& .ty-menu__item-toggle-active + .ty-menu__item-link,
	& .ty-menu__item-active .ty-menu__item-link,
	.ty-menu__items {
		background: none;
	}
	.no-touch &.ty-menu-vertical .ty-menu__submenu .ty-menu__item:hover > .ty-menu__submenu-item-header .ty-menu__item-link,
	&.ty-menu-vertical .ty-menu__submenu .is-hover-menu > .ty-menu__submenu-item-header .ty-menu__item-link {
		background: none;
		color: @links_hover;
	}
}

//v4.10
.ty-grid-list__item:hover .ty-grid-list__control {
    padding: 0;
    border: 0;
    position: static;
}
.litecheckout__footer {
	margin-bottom: 30px;
}
.litecheckout__header {
	.ty-logo-container {
		margin: 20px 0 10px;
	}
}
.ty-product-bigpicture {
	position: relative;
}

//v3.09 
.th_list_buttons {
	display: inline-block;
	vertical-align: top;
}
.ty-product-bigpicture__right {
	.ty-control-group__label {
		width: 95px;
		text-align: left;
	}
	select {
		min-width: auto;
	}
	.ty-control-group {
		text-align: left;
	}
	.ty-product-block__sku {
		margin-top: 4px;
	}
	.ty-cr-product-button {
		display: block;
		margin-bottom: 8px
	}
}
.ty-grid-list__control {
	.ty-cr-product-button {
		display: none;
	}
}

//v3.12
.ty-text-links-btn .ty-icon-short-list {
	position: relative;
	top: -3px;
}
.ty-grid-list__item {
	padding: 0;
}
.ty-grid-list__item--overlay {
	border: 0;
}

//v3.14
.ty-sidebox__title-toggle {
	z-index: 49;
}

//v3.16
.object-container .owl-carousel.owl-theme {
  .owl-controls {
    margin-top: 0;

    .owl-buttons {
      div{
        margin: 5px 9px 5px 8px;
        padding: 0;
        background: none;
        font-family: Arial;
        font-size: @body_font_size - 3;
        text-transform: lowercase;
        color: spin(desaturate(lighten(@font, 32%), 21%), -211);
      }

      .owl-prev:after {
        content: "\e01a";
        font-family: 'glyphs';
        display: inline-block;
        height: 27px;
        width: 15px;
        line-height: 28px;
        margin-left: 7px;
        border: 1px solid @base;
      }

      .owl-next:before {
        content: "\e01b";
        font-family: 'glyphs';
        display: inline-block;
        height: 27px;
        width: 15px;
        line-height: 28px;
        margin-right: 7px;
        border: 1px solid @base;
      }

      div {
        &:hover {
          &:after, &:before {
            border-color: @secondary_button;
          }
        }
      }
    }
  }
}
.ty-cart-items__list-item .ty-icon-cancel-circle,
.ty-remove .ty-icon-cancel-circle,
.ty-cart-content__product-delete .ty-icon-cancel-circle,
.ui-widget-header .ui-icon-closethick,
.notification-content-extended h1 span {
    color: @links;
}
.ty-cart-items__list-item .ty-icon-cancel-circle:hover,
.ty-remove:hover .ty-icon-cancel-circle,
.ty-cart-content__product-delete:hover .ty-icon-cancel-circle,
.notification-content-extended h1 span:hover,
.ui-widget-header .ui-dialog-titlebar-close.ui-state-hover span:before {
    color: @links_hover;
}
