//icons
html[dir="rtl"] .ty-icon-right-circle:before {
    content: '\E875';
}
html[dir="rtl"] .ty-icon-left-circle:before {
	content: '\E876';
}
//bread 
.ty-breadcrumbs > .ty-breadcrumbs__a:first-child:before {
	top: 6px;
}
//carusel
.owl-theme .owl-controls-outside .owl-buttons div .ty-icon-left-open-thin:before {
	content: '\E88A';
}
.owl-theme .owl-controls-outside .owl-buttons div .ty-icon-right-open-thin:before {
	content: '\E889';
}

//slider 
.owl2-carousel .owl2-stage-outer {
	direction: rtl;
}
.owl2-carousel .owl2-item {
	float: right;
}

.ty-scroller-list .owl-buttons div.owl-next:before,
.banners .owl2-nav div.owl2-next i:before,
.banners .owl-controls .owl-buttons div.owl-next:before {
	content: '\E875';
}
.ty-scroller-list .owl-buttons div.owl-prev:before,
.banners .owl2-nav div.owl2-prev i:before,
.banners .owl-controls .owl-buttons div.owl-prev:before {
	content: '\E876';
}
//star
.ty-stars {
	.ty-stars__icon {
		float: left;
	}
	.ty-icon-star-half {
		-webkit-transform: rotateY(180deg);  /* Chrome, Safari, Opera */
		transform: rotateY(180deg);
	}
}

//mega menu

@media (min-width: 768px) {
	.ath_mega-menu-have-child--icon {
		    -ms-transform: rotate(-90deg);
	    -webkit-transform: rotate(-90deg);
	    transform: rotate(-90deg);
	}
	.ath_mega-menu__l1:hover .ath_mega-menu-have-child--icon {
		-ms-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
	    transform: rotate(90deg);
	}
}

.ath_mega-menu .icon-tt-right:before {
	content: '\e875';
}

//Price
.ty-order-products__price,
.ty-product-notification__price {
	direction: rtl;
}

//Menu fix
/* Safari 6.1+ (9.0 is the latest version of Safari at this time) */
_::-webkit-full-page-media, _:future, :root .mega_menu--active { 
    left: 0;
}

//fix menu for android
@media (max-width: 767px) {
	.mega_menu--active {
		left: 0;
	}
	.ath_mega-menu-have-child--icon:before, .ath_mega-menu__full_tree__l1__icon--child:before {
		transform: translate(50%,-50%);
	}
}
