@media (min-width: 768px) {
	.ath_eStik__fixed {
	    position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 500;
	    box-shadow: 0 2px 2px 0px #0000001c;
	}
}
@media (max-width: 767px) {
	
	.header-grid {
		-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		backface-visibility: hidden;
	}
	
	.ath_eStikMob__fixed {
	    position: fixed;
	    top: -11px;
	    right: 0;
	    left: 0;
	    z-index: 50;
	    box-shadow: 0 2px 2px 0px #0000001c;
	    
	    background: @header_bg;
	    
	    .th_top-search {
		    position: absolute;
		    top: -500px;
	    }
	    .th_svg-logo  a {
		    display: flex;
		    min-height: 45px;
	    }
	    .th_svg-logo svg {
		    width: 100%;
	    }
	    .ty-logo-container a {
			display: block;
			min-height: 45px;
			line-height: 45px;
	    }
	}
}