.th_benefits {
	margin: 20px 0px 0px;
}
.th_benefit__icon img {
	width: 35px;
}
.th_benefit__icon {
	display: block;
    background-color: fade(@border_color, 30%);
    width: 70px;
    height: 70px;
    padding-top: 17px;
    border-radius: 36px;
    text-align: center;
    float: left;
    margin-right: 30px;
    box-sizing: border-box;
    
    @media (min-width: 768px) and  (max-width: @th_tablet) {
	    float: none;
    }
}

.th_benefit {
	margin-bottom: 20px;
}

.th_benefit .th_benefit__title {
	margin-top: 8px;
	font-size: 24px;
	
	span {
		font-size: 14px;
		font-weight: normal;
		display: block;
		color: @accent;
	}
}
