.banners .owl2-nav,
.banners .owl-controls {
	margin: 0;
}


.ty-scroller-list .owl-controls .owl-buttons div,
.banners .owl2-nav div,
.banners .owl-controls .owl-buttons div {
	font-size: 52px;
	background: none;
	color: @font;
	//display: block;
	width: 30px;
	height: 54px;
	padding: 0;
	text-align: center;
	overflow: hidden;
	.border-radius(0);
	
	position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    
    @media (max-width: 680px) {
		-webkit-transform: scale(.6);
		-ms-transform: scale(.6);
		transform: scale(.6);
    }
	
	&:before {
		display: block;
	}
	
	&.owl2-prev,
	&.owl-prev {
		left: 10px;
		transform-origin: 0% -100%;
		
		& i:before,
		&:before {
			position: relative;
			left: -10px;
			text-shadow: 2px 0px 0 @base;
			
		}
	}
	&.owl2-next,
	&.owl-next {
		right: 10px;
		transform-origin: 50% -100%;
		
		& i:before,
		&:before {
			position: relative;
			left: -10px;
			text-shadow: -2px 0px 0 @base;
		}
	}
}

.banners .owl2-nav div {
	
	i {
		vertical-align: top;
		position: relative;
		top: -6px;
	}
	
	&:before {
		display: none;
	}
}

.banners .owl2-dots,
.banners .owl-controls .owl-pagination {
	text-align: right;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 20px;
}
.banners .owl2-dots .owl2-dot {
    display: inline-block;
    margin-bottom: 5px;
}
.banners .owl2-dots .owl2-dot span,
.banners .owl-controls .owl-page span {
	display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    
    .border-radius(50%);
	
	background: @base;
	.opacity(100);
}
.banners .owl2-dots .owl2-dot.active span,
.banners .owl2-dots.clickable .owl2-dot:hover span,
.banners .owl-controls .owl-page.active span,
.banners .owl-controls.clickable .owl-page:hover span {
	background: @accent;
}

//list
.ty-scroller-list .owl-controls .owl-buttons div {
	width: 24px;
	height: 24px;
	font-size: 24px;
	margin: 0;
	color: @font;
	.opacity(100);
	
}
.ty-scroller-list .owl-controls .owl-buttons div.owl-prev {
	left: 0;
	
	&:before {
		position: static;
	}
}
.ty-scroller-list .owl-controls .owl-buttons div.owl-next {
	right: 0;
	
	&:before {
		position: static;
	}
}

//detail thumbnails fix
.ty-product-thumbnails {
	position: relative;
}
.owl-more-theme .owl-controls {
	text-outline: 50%;
	margin-top: 0;
}
.owl-more-theme .owl-prev,
.owl-more-theme .owl-next {
	top: 0;
	transform: translate(0, -50%);
	
	-webki-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

