.ty-logo-container,
.top-logo-grid {
	padding: 0;
	margin-top: 0;
}
/*SVG*/
.ty-logo-container,
.th_svg-logo {
	max-width: 180px;
}
.th_svg-logo svg {
	max-height: 45px;
}
.th_svg-logo * {
	display: block;
	max-width: 100%
}

@media (max-width: 767px) {
	.ty-logo-container {
		margin: 0;
	}
	.top-logo-grid {
		padding-right: 138px;
	}
}