// Create v2.1

// ~~~~~~~~~~~~~~~ Desctop ~~~~~~~~~~~~~~~
@media (min-width: 768px) {
	
	//grid
	@columns: 10;
	
	.thm_columns (@index) when (@index > 0) {
	    .thm_columns(@index - 1);
	    .th_mm-column@{index} {
		    margin-right: 0;
		    padding-left: 20px;
			.box-sizing(border-box);
			display: block;
			float: left;
			width: percentage((100 / @index) * 0.01);
	    }
		.th_mm-column@{index}:nth-child(@{index}n+1) {
		    clear: left;
		}
	}
	.thm_columns(0) { }
	.thm_columns(@columns);


	//base
	.ath_mega-menu {
		position: relative;
		clearfix;
		margin-left: -15px;
	}
	//l1
	.ath_mega-menu__l1 {
		display: inline-block;
		padding: 0;
	}
	.ath_mega-menu__l1__icon {
		margin-right: 3px;
	}
	.ath_mega-menu__l1--right {
		float: right;
	}
	
	.ath_mega-menu__l1__link {
		display: block;
		color: @menu_links;
		font-size: 14px;
		padding: 10px 15px;
		border-bottom: 3px solid @menu;
		line-height: 24px;
		position: relative;
	}
	
	.ath_mega-menu__l1__link__svg-icon {
		display: inline-block;
		margin-right: 3px;
		color: currentColor;
	}
	.ath_mega-menu__l1__link__svg-icon svg {
		width: 22px;
		height: 22px;
		
		display: inline-block;
		vertical-align: middle;
		
		fill: currentColor !important;
	    margin-top: -1px;
	}
	
	.ath_mega-menu__l1:hover .ath_mega-menu__l1__link {
		border-color: @accent;
	}
	.ath_mega-menu__l1--drop-down-Y .ath_mega-menu__l1__link {
		padding-right: 25px;
	}
	
	.ath_mega-menu-have-child--icon {
		position: absolute;
		top: 19px;
		
		height: 8px;
		font-size: 8px;
		line-height: 1;
		margin-left: 5px;
		display: inline-block;
		
	    -ms-transform: rotate(90deg); /* IE 9 */
	    -webkit-transform: rotate(90deg); /* Safari */
	    transform: rotate(90deg);
	    
	    .ath_mega-menu__l1:hover & {
			-ms-transform: rotate(-90deg); /* IE 9 */
			-webkit-transform: rotate(-90deg); /* Safari */
			transform: rotate(-90deg);
	    }
	}
	
	//l2
	.ath_mega-menu__dd-wrapper-l2 {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 999;
		.opacity(0);
		visibility: hidden;
		
		.ath_mega-menu__l1:hover & {
			visibility: visible;
			.opacity(100);
			transition: 350ms opacity ease-in-out;
		}
	}
	//list
	.ath_mega-menu__l1.list {
		position: relative;
	}
	.ath_mega-menu__dd-wrapper-l2--list {
		box-sizing: border-box;
		min-width: 100%;
		left: 0;
		right: auto;
		.clearfix;
		background: #fff;
		border: 1px solid @border_color;
		padding: 10px 15px;
		
		.ath_mega-menu__l1--right & {
			right: 0;
			left: auto;
		}
	}
	//column
	.grid-list .ath_mega-menu__l2-items {
		margin-left: -20px;
	}
	.ath_mega-menu__dd-wrapper-l2--columns {
		padding: 15px 10px;
		left: 32px;
		right: 0;
		top: 100%;
		.clearfix;
		background: #fff;
		border: 1px solid @border_color;
		
	}
	.ath_mega-menu__l2 {	
		display: block;
	}
	.ath_mega-menu__l2__link {
		color: @font;
		display: block;
		min-width: 140px;
		padding: 0.4em;
	}
	.ath_mega-menu__l2__link--title {
		font-size: 13px;
		padding-bottom: 3px;
		font-weight: bold;
		border-bottom: 1px solid @font;
		min-width: 140px;
		display: inline-block;		
	}
	.ath_mega-menu__l2--wysiwyg {
		color: @font;
		h4 {
			color: inherit;
		}
		p {
			padding: 0;
			color: inherit;
		}
	}
	//l3
	.ath_mega-menu__l3-tems {
		margin-top: 5px;
		padding: 0;
	}
	.ath_mega-menu__l3 {
		padding: 2px 0;
	}
	.ath_mega-menu__l3__link {
		font-size: 12px;
		line-height: 18px;
		color: @font;
		display: block;
		vertical-align: middle;
		padding-left: 15px;
		position: relative;
	}
	.ath_mega-menu__l3__link,
	.ath_mega-menu__full_tree__l3__link {
		.icon-tt-right {
			position: absolute;
			left: 0;
			top: 5px;
			font-size: 7px;
			line-height: 1;
		}
	}

	//full cat
	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	.ath_mega-menu__l1--full_tree {
		position: relative;
// 		vertical-align: middle;
		
		&:hover .ath_mega-menu__full_tree-wrapper {
			visibility: visible;
			.opacity(100);
			transition: 350ms opacity ease-in-out;
		}
		
		.icon-tt-menu {
			font-size: 18px;
			margin-right: 3px;
			line-height: 20px;
			vertical-align: middle;
			
			position: relative;
			top: -2px;
			display: inline-block;
		}
	}
	
	.ath_mega-menu__full_tree-wrapper {
		z-index: 990;
		position: absolute;
		left: 0;
		visibility: hidden;
		.opacity(0);
	}
	.ath_mega-menu__full_tree {
		padding: 4px 0px;
		display: block;
		position: relative;
		border: 1px solid @border_color;
		background: #fff;
	}
	//l1
	.ath_mega-menu__full_tree__l1 {
		display: block;
		padding: 0;
		width: 240px;
	}
	.ath_mega-menu__full_tree__l1 .ath_mega-menu__full_tree__l1__link {
		color: @font;
	}
	.ath_mega-menu__full_tree__l1.maintainHover .ath_mega-menu__full_tree__l1__link {
		color: @links_hover;
	}
	
	.ath_mega-menu__full_tree__l1__link {
		position: relative;
		display: block;
		padding: 3px 20px 3px 40px;
		font-size: 13px;
		line-height: 26px;
		border: 1px solid #fff;
		border-width: 1px 0;
		
		color: @font;
		
		&:last-child {
			border-bottom: 0;
		}
		&:first-child {
			border-top: 0;
		}
	}
	
	.ath_mega-menu__full_tree__l1__icon {
		position: absolute;
		top: 3px;
		left: 7px;
		
		display: block;
		width: 24px;
		height: 24px;
		font-size: 20px;
	}
	
	.ath_mega-menu__full_tree__l1__link__svg-icon svg {
		width: 24px;
		height: 24px;
		display: inline-block;		
		fill: currentColor !important;
	}
	
	.ath_mega-menu__full_tree__l1__icon--child {
		position: absolute;
		display: block;
		top: 2px;
		right: 10px;
		font-size: 8px;
	}
	// l2
	.ath_mega-menu__full_tree__l2-wrapper {
		visibility: hidden;
		.opacity( 0 );
		
	    padding: 0 0 0 0;
		position: absolute;
		top: -1px;
		left: 100%;
		background: #fff;
		border: 1px solid @border_color;
		z-index: 999;
		width: 410px;
		min-height: 100%;
		//transition: 250ms opacity ease-in;
			
		.ath_mega-menu__full_tree__l1.maintainHover & {
			visibility: visible;
			.opacity( 100 );
		}
	}
	.ath_mega-menu__full_tree__l2-wrapper--with-banner {
		width: 640px;
	}
	.ath_mega-menu__full_tree__l2--categories {
		padding-top: 10px;
		display: block;
		width: 410px;
	}
	.ath_mega-menu__full_tree__l1__banner-wrapper {
		max-width: 230px;
		margin-top: -0px;
		margin-bottom: -0px;
		float: right;
	}
	.ath_mega-menu__full_tree__l1__banner {
		display: block;
		max-width: 100%;
	}
	.ath_mega-menu__full_tree__l2 {
		padding-left: 20px;
		float: left;
		width: 175px;
		display: block;
		padding-bottom: 10px;
		
		&:nth-child(2n+1) {
			clear: left;
		}
	}
	
	.ath_mega-menu__full_tree__l2__link,
	.ath_mega-menu__full_tree__l3__link {
		font-size: 12px;
		color: @font;
		position: relative;
		line-height: 18px;
	}
	.ath_mega-menu__full_tree__l3__link {
		padding-left: 15px;
		display: block;
	}
	.ath_mega-menu__full_tree__l2__link {
		font-size: 13px;
		font-weight: bold;
		margin-top: 5px;
		display: block;
	}
	.ath_mega-menu__full_tree__l2__link--title {
		border-bottom: 1px solid @font;
		padding-bottom: 3px;
		margin-bottom: 5px;
	}
	.ath_mega-menu__full_tree__l2__link--alone {
		text-align: center;
		margin-bottom: 15px;
	}
	.ath_mega-menu__full_tree__l2__cat-name {
		margin-bottom: 10px;
		display: block;
	}
	.ath_mega-menu__full_tree__l2__img-link--left {
		float: left;
		margin-right: 10px;
	}
	
	//more
	.ath_mega-menu__full_tree__l1--more .ath_mega-menu__full_tree__l1__icon {
		top: 5px;
	}
	.ath_mega-menu__full_tree__l2--more {
		width: auto;
		float: none;
		clear: left;
		padding-right: 20px;
	}
	
	//hide on desctop
	.ath_mega-menu__mob-settings,
	.ath_mega-menu-mask,
	.ath_mega-menu__back,
	.ath_mega-menu__mobile-opener {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 966px) {
	.ath_mega-menu__full_tree__l1__banner-wrapper {
		display: none;
	}
	.ath_mega-menu__full_tree__l2-wrapper--with-banner {
		width: 410px;
	}
}
@media (min-width: 768px) and (max-width: 965px) {
	.ath_mega-menu__l1--drop-down-Y .ath_mega-menu__l1__link {}
	.ath_mega-menu__l1 .ath_mega-menu__l1__link {
		padding-left: 17px;
		padding-right: 0px;
		
		& > .icon-tt-right {
			display: none;
		}
	}
}

//text
.ath_mega-menu h4 {
	font-weight: bold;
	margin-bottom: 0;
}



// ~~~~~~~~~~~~~~~ Specials ~~~~~~~~~~~~~~~
.ath_mega-menu__contacts {
	min-width: 150px;
}



// ~~~~~~~~~~~~~~~ Mobile ~~~~~~~~~~~~~~~
@media (max-width: 767px) {
	body {
		position: relative;
		left: 0;
		
		-webkit-transition: left 0.3s ease;
		-moz-transition: left 0.3s ease;
		transition: left 0.3s ease;
	}
	
	.ath_mega-menu-wrapper,
	.ath_mega-menu .ath_mega-menu__dd-wrapper-l2,
	.ath_mega-menu__full_tree__l2-wrapper,
	.ath_mega-menu__full_tree-wrapper {
		position: fixed;
		left: -240px;
		top: 0;
		bottom: 0;
		width: 240px;
		height: 100%;
		margin: 0;
		z-index: 13001;
		background: #fff;
		border-right: 1px solid @border_color;
		overflow: auto;
		
		-webkit-transition: left 0.3s ease;
		-moz-transition: left 0.3s ease;
		transition: left 0.3s ease;
	}
	
	.ath_mega-menu-mask {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 13000;
		background: rgba(0, 0, 0, 0.2);
		cursor: pointer;
		
		visibility: hidden;
		.opacity(0);
		
		-webkit-transition: opacity 0.5s ease-in;
		-moz-transition: opacity 0.5s ease-in;
		transition: opacity 0.5s ease-in;
		
		i {
			font-size: 42px;
			position: absolute;
			left: 250px;
			top: 16px;
			color: #fff;
		}
	}
	
	.no-touch .ty-menu__item:hover .ty-menu__item-link {
		background: none;
		color: @links_hover;
	}
	
	//l1
	.ath_mega-menu li {
		padding: 0;
		position: relative;
	}
	.ath_mega-menu__back,
	.ath_mega-menu__l1__link,
	.ath_mega-menu__full_tree__l1__link,
	.ath_mega-menu__full_tree__l2__link,
	.ath_mega-menu__full_tree__l3__link,
	.ath_mega-menu__l2__link,
	.ath_mega-menu__l3__link {
		display: block;
		padding: 1em 3em 1em 1em;
		border-bottom: 1px solid @border_color;
		color: @font;
		height: auto;
		.box-sizing(border-box);
	}
	.ath_mega-menu__back {
		background: #eee;
		
		i {
			margin-right: 10px;
		}
	}
	.ath_mega-menu__l1__link__svg-icon {
		display: inline-block;
	}
	.ath_mega-menu__l1__link__svg-icon,
	.ath_mega-menu__l1__icon,
	.ath_mega-menu__full_tree__l1__icon {
        margin-right: 10px;
	}
	.ath_mega-menu__full_tree__l1__icon,
	.ath_mega-menu__l1__link__svg-icon svg,
	.ath_mega-menu__full_tree__l1__link__svg-icon svg {
		width: 24px;
		height: 24px;
		vertical-align: middle;
		display: inline-block;
		fill: currentColor;
	}
	.ath_mega-menu-have-child--icon,
	.ath_mega-menu__full_tree__l1__icon--child {
		position: absolute;
		right: 0;
		top: 0%;
		width: 3em;
        height: auto;
        bottom: 0;
		line-height: 50px;
		text-align: center;
		border-left: 1px solid @border_color;
	}
	.ath_mega-menu-have-child--icon:before,
	.ath_mega-menu__full_tree__l1__icon--child:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
	
	.ath_mega-menu__l1--full_tree .icon-tt-menu {
		font-size: 18px;
		margin-right: 3px;
		line-height: 20px;
		vertical-align: middle;
		position: relative;
		top: -2px;
	}
		
	//l2
	.ath_mega-menu__full_tree__l2__link--title,
	.ath_mega-menu__l2__link {
		font-weight: bold;
	}
	
	.ath_mega-menu .ath_mega-menu__l2--wysiwyg {
		padding: 10px 15px;
		
		p {
			padding: 0;
		}
	}
	
	//hide elem
	.ath_mega-menu__full_tree__l2__img,
	.ath_mega-menu__full_tree .ty-no-image,
	.ath_mega-menu__full_tree__l1__banner-wrapper {
		display: none;
	}
	
	// Active ~~~~~~~~~~~~~~~~~
	.mega_menu--active {
	    overflow-x: hidden;
	    position: relative;
	    left: 240px;
		
		.ath_mega-menu-mask {
			visibility: visible;
			.opacity(100);
		}
	}
	.mega_menu--open {
		left: 0;
	}
	.ath_mega-menu {
		.active .ath_mega-menu__dd-wrapper-l2,
		.mm2.active .ath_mega-menu__full_tree__l2-wrapper,
		.active .ath_mega-menu__full_tree-wrapper {
			display: block;
			left: 0;
			z-index: 13002;
		}
	}
	
	// Settings 
	.ath_mega-menu__mob-settings {
		margin-top: 1em;
		padding-bottom: 4em;
	}
	.ath_mega-menu__mob-setting {
		padding: 1em 1em .5em;
		
		h4 {
			font-weight: bold;
			margin-bottom: 5px;
		}
		
		.ty-languages__item,
		.ty-currencies__item {
			color: @font;	
			padding-left: 0;
			padding-right: 1em;
			
			&:hover {
				background: none;
			}
		}
		.ty-currencies__active,
		.ty-languages__active {
			background: none;
			text-decoration: underline;
			color: @font;
		}
	}
	.ath_mega-menu__l1__icon + .ath_mega-menu__name__link,
	.ath_mega-menu__full_tree__l1__icon + .ath_mega-menu__name__link,
	.ath_mega-menu__l1__link__svg-icon + .ath_mega-menu__name__link {
		display: inline-block;
		width: 140px;
		vertical-align: middle;
	}
}


