.th_simple_banner--tt {
	position: relative;
    line-height: 0;
    display: inline-block;
    min-height: 130px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    
    .th_simple_banner--tt__link {
	    display: block;
    }
	
	img {
		width: 100%;
		-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		backface-visibility: hidden;

		-webkit--transition: transform .6s;
		-moz-transition: transform .6s;
		-o-transition: transform .6s;
		transition: transform .6s;
	}
	
	&:hover img {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.ty-btn {margin-top: 10px;}
}

.th_simple_banner--tt__block {
	position: absolute;
	bottom: 12.5%;
    left: 12.5%;
    z-index: 2;
}

.th_simple_banner--tt__top-line,
.th_simple_banner--tt__title {
	line-height: 1.2;
	font-weight: bold;
	color: #333;
	transition: 350ms color;
}
.th_simple_banner--tt__top-line {font-size: 14px;}
.th_simple_banner--tt__title {font-size: 22px;}
