//Top panel text (HTML block with Smarty support)
.th_top-panel__text {
	//text-transform: uppercase;
	margin: 6px 0 7px;
	
	i {		
	    font-size: 18px;
	    margin: -4px 0;
	    display: inline-block;
	}
	
	@media (max-width: 767px) {
		text-align: center;
		
		&.ty-float-left,
		&.ty-float-right {
			float: none;		
		}
	}
}
