.ty-blog__item {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 30px;
  margin: -1px;
  margin-bottom: 50px;
}
.ty-blog__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.ty-blog *,
.ty-blog-grid * {
  font-size: 14px;
}
.ty-blog h1,
.ty-blog-grid h1 {
  font-size: 25px;
}
.ty-blog h2,
.ty-blog-grid h2 {
  font-size: 23px;
}
.ty-blog h3,
.ty-blog-grid h3 {
  font-size: 21px;
}
.ty-blog h4,
.ty-blog-grid h4 {
  font-size: 19px;
}
.ty-blog h5,
.ty-blog-grid h5 {
  font-size: 16px;
}
.ty-blog h6,
.ty-blog-grid h6 {
  font-size: 14px;
}
.ty-blog hr,
.ty-blog-grid hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ty-blog img,
.ty-blog-grid img {
  width: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.ty-blog h2.ty-blog__post-title,
.ty-blog-grid h2.ty-blog__post-title {
  margin-bottom: 4px;
}
.ty-blog .ty-blog__post-title,
.ty-blog-grid .ty-blog__post-title {
  margin-bottom: 0;
  padding: 0 0 6px;
  font-size: 27px;
}
.ty-blog .ty-blog__img-block,
.ty-blog-grid .ty-blog__img-block {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ty-blog .ty-blog__img-block img,
.ty-blog-grid .ty-blog__img-block img {
  margin-top: 0;
  margin-bottom: 0;
}
.ty-blog .ty-blog__description,
.ty-blog-grid .ty-blog__description {
  margin-bottom: 30px;
}
.ty-blog .ty-blog__date,
.ty-blog-grid .ty-blog__date {
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 10px;
  color: #adadad;
  font-weight: normal;
  font-size: 12px;
}
.ty-blog .ty-blog__author,
.ty-blog-grid .ty-blog__author {
  display: inline-block;
  margin-bottom: 15px;
  padding-left: 12px;
  border-left: 1px solid #adadad;
  color: #adadad;
  font-weight: normal;
  font-size: 12px;
}
.ty-blog-sidebox {
  margin: 0 0 10px;
}
.ty-blog-sidebox__item {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 7px;
  word-wrap: break-word;
}
.ty-blog-sidebox__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.ty-blog-text-links {
  margin: 20px 0 40px;
}
.ty-blog-text-links__item {
  margin-bottom: 20px;
}
.ty-blog-text-links__item:last-child {
  margin-bottom: 25px;
}
.ty-blog-text-links__date {
  color: #adadad;
  border: 1px solid #ffffff;
  padding: 3px 8px;
  margin-right: 9px;
  float: left;
  font-size: 12px;
}
.ty-blog-text-links__a {
  display: block;
  padding-top: 3px;
  word-wrap: break-word;
}
.ty-blog-recent-posts-scroller {
  margin-left: -10px;
  margin-right: -10px;
}
.ty-blog-recent-posts-scroller__item {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  word-wrap: break-word;
}
.ty-blog-recent-posts-scroller__item .ty-blog__date {
  display: block;
  margin-bottom: 0;
  margin-top: 5px;
  color: #adadad;
  font-size: 12px;
}
.ty-blog-recent-posts-scroller__img-block {
  margin-bottom: 10px;
  max-height: 150px;
  min-height: 150px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.ty-blog-recent-posts-scroller__img-block img {
  display: block;
  bottom: -100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -100%;
  vertical-align: middle;
}
.ty-blog-recent-posts-scroller__img-block .ty-no-image {
  height: 150px;
  min-height: initial !important;
  min-width: initial !important;
}
@media (max-width: 767px) {
  .ty-blog__title {
    margin-top: 50px;
  }
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
