/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
.ypi-top-panel {
	.ty-geo-maps__geolocation__opener {
		border-left: 1px solid @base;
		border-right: 1px solid @base;
		padding: 6px 10px;
		margin-top: 0;
		color: @light-color-40;

		&-text {
			border: 0 none;
		}
		&:hover, i {
			color: @links !important;
		} 
	}
}

.ty-geo-maps__geolocation {
	&__opener-text {
		border-bottom: 1px dotted currentColor;
	}
	&__opener {
		margin-top: 2px;
		padding-left: 10px;
		padding-right: 0;
	}
}

.ty-geo-maps-shipping {
	
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;    
	}
	&__wrapper {
		border: 1px solid @base;
		margin: 15px 0;
		padding: 0 20px 10px;
		
		i.ty-icon-location-arrow {
			font-size: 18px;
		}
		i.ty-icon-shipping {
			font-size: 16px;
			position: relative;
			top: 4px;
			margin-right: 5px;
		}
	}
	&__list-city {
		text-align: center;
	}
}


.ty-warehouses-shipping__link {
	 i.ty-icon-cart {
		.material-icons-css();
		position: relative;
		top: 5px;
		
		&:before {
			content: "\e862";
		}
	}
}
.ty-warehouses-stores-list__item {
	border-top: 1px solid @base;
	border-bottom: 0 !important;
}
.ty-warehouses-stores-search {
	padding-top: 15px;
	
	&__query-wrapper {
		input.ty-warehouses-stores-search__query {
			border: 2px solid @links !important;
			.transition(all 150ms);
			
		    &:hover, &:focus  {
		        border-color: darken(@links, 10%) !important;
		    }
		}	
	}
}