.ty-newsletters {
  margin-bottom: 30px;
}
.ty-newsletters__item {
  margin-bottom: 5px;
}
.checkout-steps .ty-newsletters {
  padding: 0 20px;
}
.ty-checkout__billing-options .ty-newsletters {
  padding: 0;
}
.ty-footer-form-block--responsive > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.ty-footer-form-block--responsive .ty-footer-form-block__title {
  padding: 0;
}
.ty-footer-form-block--responsive .ty-footer-form-block__form-container {
  padding-left: 10px;
}
.ty-footer-form-block--responsive .ty-footer-form-block__form-container .ty-footer-form-block-policy__input {
  width: 100%;
  padding-bottom: 10px;
}
.ty-footer-form-block--responsive .ty-footer-form-block__form-container .ty-lable-subscribe-policy {
  margin-bottom: 10px;
}
.ty-footer-form-block--responsive .ty-lable-subscribe-policy > a {
  color: inherit;
  text-decoration: underline;
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
