.ty-geo-maps__geolocation {
  display: inline-block;
  max-width: 100%;
}
.ty-geo-maps__geolocation__opener {
  display: flex;
  align-items: center;
  padding: 8px 2px;
}
.ty-geo-maps__geolocation__opener-text {
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ty-geo-maps__geolocation__map {
  height: 405px;
  margin: 0 auto 10px auto;
}
@media (min-width: 768px) {
  .ty-geo-maps__geolocation__map {
    width: 690px;
  }
}
@media (max-width: 768px) {
  .ty-geo-maps__geolocation__map {
    height: calc(100vh - 165px);
  }
}
.geo-map-google-search-bar {
  background-color: #fff;
  font-family:Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 12px;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
.geo-map-google-search-bar:focus {
  border-color: #4d90fe;
}
.ty-geo-maps-shipping__wrapper {
  margin-top: 20px;
  border-top: 1px solid #ededed;
}
.ty-geo-maps-shipping__title {
  font-weight: 700;
  margin-top: 10px;
}
.ty-geo-maps-shipping__item {
  padding-top: 6px;
  padding-bottom: 6px;
}
.ty-geo-maps-shipping__label {
  display: inline-block;
}
.ty-geo-maps-shipping__value {
  display: inline-block;
}
.ty-geo-maps-shipping__link-text {
  border-bottom: 1px dotted currentColor;
}
.ty-geo-maps-shipping__price {
  font-weight: 700;
}
.ty-geo-maps-shipping__popup {
  margin-bottom: 20px;
  text-align: left;
}
.ty-geo-maps-shipping__list {
  border: 0;
  margin-top: 0;
  margin-top: 10px;
}
.ty-geo-maps-shipping__list-city {
  text-align: right;
  font-weight: 700;
}
.ty-table tr.ty-geo-maps-shipping__list-item:nth-child(2n) {
  background: none;
}
.ty-geo-maps-shipping__list-item:last-child .ty-geo-maps-shipping__list-col {
  border-bottom: 0;
}
th.ty-geo-maps-shipping__list-head {
  background: none;
  border-right: 0;
}
th.ty-geo-maps-shipping__list-head--price {
  text-align: right;
}
.ty-geo-maps-shipping__list-col--price {
  font-weight: 700;
  text-align: right;
}
td.ty-geo-maps-shipping__list-col {
  border-right: 0;
}
.ty-product-bigpicture .ty-geo-maps-shipping__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}
.ty-product-bigpicture .ty-geo-maps-shipping__item {
  text-align: left;
  margin-left: 40px;
  margin-right: 20px;
}
.ty-product-bigpicture .ty-geo-maps-shipping__label {
  text-indent: -20px;
}
.ty-geo-maps-shipping__loader {
  width: 50px;
  height: 50px;
  background: url('../../../../../../../../design/themes/responsive/media/images/icons/ajax_loader.svg?1606392701') no-repeat;
}
.ty-product-list .ty-geo-maps-shipping__title,
.ty-product-list .ty-geo-maps-shipping__value-separator,
.ty-product-list .ty-geo-maps-shipping__value {
  display: none;
}
.ty-product-list .ty-geo-maps-shipping__wrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.ty-product-list .ty-geo-maps-shipping__item {
  padding-right: 30px;
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
