{** block-description:email_marketing.tmpl_subscription **}
{if $addons.email_marketing}
<div class="ty-footer-form-block ty-footer-form-block--responsive">
    <form action="{""|fn_url}" method="post" name="subscribe_form" class="ty-footer-form-block__form-wrapper cm-processing-personal-data">
        <input type="hidden" name="redirect_url" value="{$config.current_url}" />

        <div class="ty-footer-form-block__form-container">
            <p class="ty-uppercase ty-social-link__title" style="max-width:320px;">{__("exclusive_promotions_content")}</p>
            <div class="ty-footer-form-block__form ty-control-group ty-input-append cm-block-add-subscribe">
                <label class="cm-required cm-email hidden" for="subscr_email{$block.block_id}">{__("email")}</label>
                <input type="text" name="subscribe_email" id="subscr_email{$block.block_id}" size="20" value="{__("enter_email")}" class="cm-hint ty-input-text" />
                {include file="buttons/go.tpl" but_name="em_subscribers.update" alt=__("go")}
            </div>
        </div>
    </form>
</div>
{/if}    
