#th_404_img {
	fill: @accent;
}

.th_exception {
    text-align: center;
    
    h3 {
	    font-weight: normal;
    }
	
	.ty-exception__title-info {
		text-align: left;
		margin-top: 45px;
		vertical-align: top;
	}
	.ty-exception__links-item__or {
		padding: 20px 0;
		margin: 0;
		clear: both;
	}
	.ty-exception__title {
		color: @font;
		padding-bottom: 0;
	}
	.ty-exception__title-info,
	.ty-exception__code {
		max-width: 300px;
	}
	
	@media (max-width: 979px) {
		margin: 0 0 0 -20px;
		padding: 0 0 20px;
		
		.ty-exception__code,
		.ty-exception__title-info {
			padding: 0 0 0 20px;
			display: inline-block;
		}
	}
	@media (max-width: 662px) {
		.ty-exception__title-info {
			margin-top: 0;
		}
	}
}