// Create v2.1
.ath_subcategories-link {
	position: relative;
	display: block;
	width: 100%;
	min-height: 67px;
	margin-bottom: 20px;
	text-align: center;
}
.ath_subcategories-name {
	.box-sizing(border-box);
	
	display: block;
	position: absolute;
	
	left: 0;
	bottom: 0;
	
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    width: 100%;
    padding: 25px;
    font-weight: 700;
    
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    .ath_subcategories-link:hover & {
	    background: #333;
    }
}
.ty-column__scroll-item {
	width: 100%;
}