@min-height-button: 44px;

.ab__qobp {
	
	&_product, &_cart, &_checkout {
		
		.ab__qobp_phone {
	        flex: 1 calc(~'100% - 130px');
	        min-width: 140px;
	        min-height: @min-height-button;
	        margin: 0 5px 10px;
	        padding: 0 4%;
	    }
	    #ab__qobp_product {
		    flex: 1;
	        height: @min-height-button;
	        width: auto;
	        min-width: 110px;
	        margin: 0 5px 10px;
	        padding: 0 4%;
	        white-space: normal;
		    line-height: 120%;
		    text-transform: none;
	        
	        > span {
		        height: @min-height-button;
	        }
	    }
	}
	&_content {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
		max-width: 360px;
	}
	// Product
	&_product {
		display: inline-block;
		position: relative;
		width: 100%;
		clear: both;
	}
	// Cart
	&_cart {
	    float: right;
	    margin-top: 10px;
	    
	    .ab__qobp_content {
		    max-width: 300px;
	    }

	    @media screen and ( max-width: 767px ) {
	        margin-top: 20px;
	    }
	    @media screen and ( max-width: 360px ) {
	        input {
	            width: 100%;
	            margin-bottom: 7px;
	        }
	    }
	}
	// Checkout
	&_checkout {
		margin-top: 20px;
	}
	
	// Agreement
	&_agreement {
		min-height: -webkit-fit-content;
		min-height: -moz-fit-content;
		min-height: max-content;
	    padding: 0 5px 5px 5px;
	    display: inline-block;
	    width: 100%;
	}
}

.sticky_add_to_cart .ab__qobp_product {
	display: none;
}

.grid-list .ab__qobp_product {
	display: none;
}

// responsive
@media screen and (max-width: 767px) {
	.ab__qobp_cart {
	    padding-top: 25px;
	    float: left;
    }
}
@media screen and (max-width: 400px) {
    button.ty-btn__ab__qobp {
		max-width: @vertical-hsize;
    }
    .ab__qobp_content input.ab__qobp_phone {
        width: calc(~'100% - 50px');
        max-width: inherit;
        padding: 0 10px;
    }
}

// hide for variations
// and in product block
.ty-variations-list__item, .yt-vl__control, .ty-sellers-list, .fixed-product-form .sticky-block {
    .ab__qobp_product {
        display: none;
    }
}

.ab__qobp_agreement {
	overflow: hidden;
}