h4 {
	font-weight: normal;
}

//headers
.ty-wysiwyg-content h3.ty-subheader {
	font-weight: normal;
}
.ty-subheader {
	color: @font;
	font-weight: normal;
}

//ty-wysiwyg-content column
.ty-wysiwyg-content [class*="ty-column"] {
    display: inline-block;
    float: none;
    margin-right: -0.25em;
}
@media screen and (max-width: 480px) {
	.ty-wysiwyg-content .ty-column2 {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
}
//ty-wysiwyg-content styles
.ty-wysiwyg-content .ty-image {
    padding: 10px;
    border: 4px solid #fff;
    outline: 2px solid @content_bg_section;
    box-sizing: border-box;
}
.ty-wysiwyg-content .ty-notice {
	background-color: @content_bg_section;
}
