.ty-image-zoom__wrapper {
  display: inline;
}
.ty-image-zoom__flyout {
  opacity: 0;
  transition: opacity var(--image-zoom-animation-time);
  box-shadow: 0 0 8px #ffffff;
  border: 1px solid #ffffff;
}
.ty-image-zoom__flyout--visible {
  opacity: 1;
}
.ty-image-zoom__flyout img {
  max-width: unset;
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
