{hook name="categories:view"}
{include file="common/breadcrumbs.tpl"}

{include file="views/categories/components/subcategories.tpl"}

<div id="selected_filters_ypi">{$smarty.capture.abt__selected_filters nofilter}<!--selected_filters_ypi--></div>

{if $products}
<div class="ypi-filters-container">
    <a class="ypi-white-vfbt"><i class="material-icons">&#xE16D;</i></a>
    <span class="f-title hidden">{__("filters")}</span>
</div>
{/if}

<div class="cat-view-grid" id="category_products_{$block.block_id}">

{if $products}
{assign var="layouts" value=""|fn_get_products_views:false:0}
{if $category_data.product_columns}
    {assign var="product_columns" value=$category_data.product_columns}
{else}
    {assign var="product_columns" value=$settings.Appearance.columns_in_products_list}
{/if}

{if $layouts.$selected_layout.template}
    {include file="`$layouts.$selected_layout.template`" columns=$product_columns}
{/if}

{elseif !$subcategories || $show_no_products_block}
<p class="ty-no-items cm-pagination-container">{__("text_no_products")}</p>
{else}
<div class="cm-pagination-container"></div>
{/if}

{hook name="categories:view_description"}
    {if $category_data.description || $runtime.customization_mode.live_editor}
        <div class="ab-category-description ty-wysiwyg-content ty-mb-l" {live_edit name="category:description:{$category_data.category_id}"}>{$category_data.description nofilter}</div>
    {/if}
{/hook}
<!--category_products_{$block.block_id}--></div>

{capture name="mainbox_title"}<span {live_edit name="category:category:{$category_data.category_id}"}>{$category_data.category}</span>{/capture}
{/hook}