//new 1.4
.ty-product-bigpicture .ty-control-group {
	text-align: center;	
}
@media(max-width: 767px) {
	.ty-product-bigpicture .ty-previewer {
		margin-left: 0;
	}
	.ty-product-bigpicture .ty-product-bigpicture-thumbnails_gallery {
		padding-left: 0;
	}
}
