.ty-product-thumbnails__item.active {
	border-color: @accent_second;
}
.ty-product-detail .ty-product-block__left {
	padding-right: 0;
}

.ty-product-block__note {
	position: static;
	padding: 0;
	width: auto;
}

.ty-product-block__left {
	.brand .ty-features-list{
		margin: -5px 0 5px;
	}
	.brand .ty-features-list a {
		font-size: 16px;
		color: lighten( @font, 30);
		font-weight: bold;
	}
}

.ty-product-prices {
	margin: 10px 0;
}

.ty-save-price {
	color: @ok_color;
	font-weight: bold;
}

.ty-strike,
.list-price-label {
	font-size: 12px;
	color: @old_price;
	
	.ty-list-price {
		font-size: inherit;
		color: inherit;
	}
}
.ty-product-block__option,
.ty-product-block__advanced-option,
.ty-product-block__field-group {
	margin: 0;
}

.ty-product-block__sku {
	
	.ty-control-group__label,
	.ty-control-group__item {
		width: auto;
		min-width: auto;
		font-size: 12px;
	}
}

.th_qty_and_btns {
	.ty-qty {
		margin: 0 5px 0 0;
		float: left;
	}
}

.th_availability-icon {
	margin-right: 5px;
}

.ty-product-block__button {
	margin-top: 10px;
}

.ty-qty-discount {
	margin-top: 10px;
}

.product-variant-image-selected {
	border-color: @accent_second;
	border-radius: 3px;
}

//new 1.4
.ty-product-block__option .ty-control-group__label {
	width: auto;
	padding: 9px 0;
}
.ty-product-block__option .ty-product-variant-image {
	margin-left: 0;
}
.ty-product-block__option select {
	min-width: 150px;
}

.ty-product-block__button .ty-btn ~ .ty-btn {
	margin-left: 0;
}
