/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2019   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and  accept   *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
@min-height-button: 36px;
.ab__qobp {
&_product, &_cart, &_checkout {
.ab__qobp_phone {
flex: 1 calc(~'100% - 110px');
min-width: 140px;
min-height: @min-height-button;
margin: 0 5px 10px;
}
#ab__qobp_product {
flex: 1;
height: @min-height-button;
width: auto;
min-width: 90px;
margin: 0 5px 10px;
font-size: 12px;
line-height: 100%;
> span {
height: @min-height-button;
}
}
}
&_content {
display: flex;
flex-wrap: wrap;
margin: 0 -5px;
max-width: 360px;
}
&_product {
display: inline-block;
position: relative;
width: 100%;
clear: both;
}
&_cart {
float: right;
margin-top: 10px;
.ab__qobp_content {
max-width: 300px;
}
@media screen and ( max-width: 768px ) {
margin-top: 20px;
}
@media screen and ( max-width: 360px ) {
input {
width: 100%;
margin-bottom: 7px;
}
}
}
&_checkout {
margin-top: 20px;
}
&_agreement {
min-height: -webkit-fit-content;
min-height: -moz-fit-content;
min-height: max-content;
padding: 0 5px 5px 5px;
display: inline-block;
width: 100%;
}
}
.ty-variations-list, .ty-sellers-list {
.ab__qobp_product {
display: none;
}
}