.tygh-content > div {
	padding-bottom: 20px;
}
.accent_bg_section,
.content_bg_section {
	margin: 20px 0;
	background-color: @content_bg_section;
	
	.ty-banner__image-wrapper {
		margin: 0;
	}
}

.accent_bg_section {
	background-color: @accent;
}

.tygh-content > div .content_bg_section:last-child {
	padding-top: 40px;
	padding: 40px;
	margin-bottom: -40px;
}

//home
.th_home-main-banners {
	overflow: hidden;
	position: relative;
	
	#tygh_main_container & .banners {
		position: static;
		width: auto;
		float: none;
		
		@media (max-width: 1500px) {
			margin-left: -160px;
			margin-right: -160px;
		}
		@media (max-width: 530px) {
			margin-left: -120px;
			margin-right: -120px;
		}
	}
	
	
	@media (min-width: @fluidContainerMaxWidth) {
		.owl2-nav,
		.owl2-dots,
		.owl-buttons,
		.owl-pagination {		
			width: @fluidContainerMaxWidth;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -@fluidContainerMaxWidth/2;
		}
		.owl2-dots,
		.owl-pagination {
			top: auto;
			bottom: 0;
		}
	}
}

//detail page
@media (max-width: 979px) and (min-width: 768px) {
	#tygh_container .th_detail-page {
		width: 100%;
	}
}