.tygh-footer .ty-footer-grid {
	padding-top: 2px;
}
.th_copyright_section {
	background: @footer_copyright_section;
	color: @footer_copyright_section_color;
	padding-bottom: 40px;
	margin-top: 20px;
}
.bottom-copyright {
	color: @footer_copyright_section_color;
}
.tygh-footer,
.th_copyright_section {
	&:before {
		content: '';
		display: block;
		border-bottom: 1px solid @border_color;
	    box-shadow: 0 1px 0 @top_panel__shadow_color;
	}
}

//headers
.ty-footer-menu__header,
.ty-footer-general__header {	
	color: @accent;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
	font-size: 12px;
}
.ty-footer-menu__items,
.ty-footer-general__body {
	margin: 0;
	padding: 0;

	.ty-text-links__item,	
	.ty-footer-menu__item {
		margin: 0 0 4px;
		padding: 0;
	}
	.th_social-link a,
	.ty-footer-menu__item a,
	.ty-text-links__a {
		color: @footer_text;
		line-height: 1.2;
		
		&:hover {
			color: @links_hover;
		}
	}
}

//social
.th_social-link {
	display: inline-block;
}
.th_social-link a {
	font-size: 16px;
	margin: 0 4px 4px;
}

//form
.tygh-footer .ty-footer-form-block__form {
	width: 100%;
	margin: 0 !important;
}
.tygh-footer .th_subscribe-input {
	height: 37px;
	line-height: 36px;
	padding: 0 10px;
	margin-bottom: 4px;
}
.tygh-footer .ty-btn__subscribe {
	background: @footer_text;
	color: @footer_bg;
	font-weight: normal;
	
	&:hover {
		background: @links_hover;
	}
}

//mobile
@media (max-width: 767px) {
	.ty-footer-menu__icon-open, .ty-footer-menu__icon-hide {
		
	}
}