.ty-scroller-discussion-list {
  margin-left: -10px;
  margin-right: -10px;
}
.ty-discussion-post__content {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ty-discussion-post__content a {
  display: block;
  position: relative;
}
.ty-scroller-discussion-list__item {
  margin-left: 10px;
  margin-right: 10px;
}
.ty-discussion-post {
  position: relative;
  margin: 10px 0 15px 0;
  padding: 15px;
  border: 1px solid #ffffff;
}
.ty-discussion-post__author {
  font-weight: bold;
}
.ty-discussion-post__date {
  float: right;
  right: 0;
  margin-top: 1px;
  color: #adadad;
  font-size: 12px;
}
.ty-discussion-post__rating {
  font-size: 15px;
  margin-bottom: 5px;
}
.ty-discussion-post__message {
  line-height: 1.75;
  word-wrap: break-word;
}
.ty-company-detail__top-links .ty-stars__icon {
  font-size: 21px;
}
.ty-discussion__rating-wrapper {
  margin-bottom: 10px;
}
.ty-discussion__rating-wrapper .ty-stars .ty-stars__icon {
  font-size: 20px;
  margin-right: 0px;
}
.ty-stars,
.ty-discussion__review-a,
.ty-discussion__review-write {
  display: inline-block;
  margin-right: 25px;
  cursor: pointer;
}
.ty-grid-vendors .grid-list__rating {
  text-align: center;
  word-wrap: break-word;
}
.ty-grid-vendors .grid-list__rating .ty-stars {
  margin-right: 10px;
}
.ty-grid-vendors .grid-list__rating .ty-discussion__review-quantity {
  color: #8c8c8c;
  display: inline-block;
}
.ty-stars {
  color: #242f3d;
}
.ty-stars__icon {
  vertical-align: middle;
  margin-left: 2px;
  font-size: 14px;
}
.ty-stars__icon:first-child {
  margin-left: 0;
}
.ty-stars a:hover {
  text-decoration: none;
}
.ty-product-list__rating {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
}
.ty-product-list__rating .ty-stars {
  margin-right: 0;
}
.grid-list__rating .ty-stars {
  margin-bottom: 5px;
}
.ty-companies .ty-stars {
  display: block;
  margin: 5px 0 0;
}
.ty-rating {
  float: left;
  color: #242f3d;
}
.ty-rating__label {
  display: inline-block;
}
.ty-rating:not(:checked) > .ty-rating__check {
  position: absolute;
  left: -9999px;
  clip: rect(0,0,0,0);
}
.ty-rating:not(:checked) > .ty-rating__label {
  float: right;
  width: 17px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 100%;
  line-height: 1.2;
  margin-right: 2px;
}
.ty-rating:not(:checked) > .ty-rating__label:before {
  font-family:glyphs;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 21px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e004";
}
.ty-rating:not(:checked) > .ty-rating__label:hover:before,
.ty-rating:not(:checked) > .ty-rating__label:hover ~ .ty-rating__label:before {
  content: "\e041";
}
.ty-rating > .ty-rating__check:checked ~ .ty-rating__label:before,
.ty-rating > .ty-rating__check:checked + .ty-rating__label:hover:before,
.ty-rating > .ty-rating__check:checked + .ty-rating__label:hover ~ .ty-rating__label:before,
.ty-rating > .ty-rating__check:checked ~ .ty-rating__label:hover:before,
.ty-rating > .ty-rating__check:checked ~ .ty-rating__label:hover ~ .ty-rating__label:before,
.ty-rating > .ty-rating__label:hover ~ .ty-rating__check:checked ~ .ty-rating__label:before {
  content: "\e041";
}
.ty-template-small__item-description .ty-stars {
  display: block;
}
@media (max-width: 979px) {
  .ty-discussion-post__author {
    display: block;
  }
  .ty-discussion-post__date {
    display: block;
    float: none;
  }
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
