.ty-product-labels__item--shipping {
	padding-left: 35px;
	position: relative;
}	
.ty-product-labels__item--shipping.ty-product-labels__item--mini {
	padding-left: 30px;
}
.ty-template-small__item-img .ty-product-labels__item--shipping {
	padding-left: 25px;
}

.ty-product-labels__item--shipping .ty-product-labels__content:before {
	content: '\E8AA';
	font-family: t_thin_font;
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 160%;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translate(-0%,-50%);
}
.ty-product-labels__item--mini.ty-product-labels__item--shipping .ty-product-labels__content:before {
	left: 6px;
	top: 55%;
}
