@columns: 10;

.grid-list {
	margin-left: -20px;
	width: auto;
	.clearfix;
}
[class*="ty-column"],
.grid-list [class*="ty-column"] {
    margin-right: 0;
    padding-left: 20px;
	.box-sizing(border-box);
	display: block;
	float: left;
}


/* Columns
   ========================================================================== */
@columns: 10;

.th_columns (@index) when (@index > 0) {
    .th_columns(@index - 1);
    .ty-column@{index} {
	    margin-right: 0;
	    padding-left: 20px;
		.box-sizing(border-box);
		display: block;
		float: left;
		
    }
	.ty-column@{index}:nth-child(@{index}n+1) {
	    clear: left;
	}
}
.th_columns(0) { }
.th_columns(@columns);

@media (max-width: 979px) {
.th_columns(@columns);
.th_columns (@index) when (@index > 1) {
    .th_columns(@index - 1);
    .ty-column@{index} {
        width: percentage((100 / (@index - 1)) * 0.01);
        clear: none;
    }
    
    .ty-column@{index}:nth-child(@{index}n+1) {
	    clear: none;
	}
    
    @index_clear: @index - 1;
    .ty-column@{index}:nth-child(@{index_clear}n+1) {
	    clear: left;
	}
}
.th_columns(0) { }
} // media 979

@media (max-width: 767px) {
.th_columns(@columns);

.th_columns (@index) when (@index > 1) {
    .th_columns(@index - 1);
    .ty-column@{index} {
        width: percentage((100 / 2) * 0.01);
    }
    
    .ty-column@{index}:nth-child(odd) {
	    clear: left;
	}
    .ty-column@{index}:nth-child(even) {
	    clear: none;
    }
    
}
.th_columns(0) { }
} // media 767
/*
@media screen and (max-width: 480px) {
.th_columns(@columns);
    .th_columns (@index) when (@index > 0) {
    .th_columns(@index - 1);
    .ty-column@{index} {
        width: 100%;
    }
}
.th_columns(0) { }
} // media 480
*/

/* Product item
   ========================================================================== */
.ty-grid-list__item {
	margin: 0 0 20px;
}
.ty-grid-list__image {
	border-width: 0 0 1px;
	padding: 0;
	border-color: @border_color;
	border: 0;
	box-shadow: 0 1px 0 @top_panel__shadow_color;
}
.ty-grid-list__item-name .product-title {
    display: block;
    font-size: 14px;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    font-weight: 400;
    line-height: 1.5;
	color: @font;
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.th_grid-list__item {
	.grid-list__rating {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 5;
	}
	.grid-list__rating .ty-stars {
		margin-right: 0;
		margin-bottom: 9px;
	}
	.ty-add-to-wish {
	    float: right;
	    color: @font;
	    padding: 0;
	    font-size: 20px;
	    display: block;
	    margin: -8px 0 0;
	    border: 0;
	    
		&:hover {
			color: @links_hover;
		}
	}
	
	.ty-strike {
		display: block;
		font-size: 14px;
		color: @old_price;
		margin-top: 3px;
		
		.ty-list-price {
			font-size: inherit;
			color: inherit;
		}
	}
	
	.ty-price-num {
		font-size: 14px;
	}
}
.th_quick-view-button__opener {	
	font-size: 11px;
	font-weight: normal;
	background: @quick_view_link_bg;
	border-radius: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	margin: 0;
	padding: 7px;
	float: none;
	color: @font;
	overflow: hidden;
	position: absolute;
	text-align: center;
	white-space: nowrap;
	display: block;
	width: 32px;
	text-transform: uppercase;
	line-height: 1.42857;
	.opacity(70);
	.box-sizing(border-box);
	.border-radius(0 3px 0 0);
	
	&:hover {
		.opacity(100);
		background: @accent_second;
		color: @accent_under_text;
		
	}
	
	@media (max-width: 767px) {
		display: none;
	}
}
.th_grid-list__item-category-link {	
    color: @tertiary_button;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    display: block;
    margin-right: 35px;
}
.ty-grid-list__item-name {
	margin: 0;
}

.ty-grid-list__price-and-control {
	position: relative;
	min-height: 32px;
	margin-top: 5px;
	
	.ty-btn {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin: 0;
		visibility: hidden;
		.opacity(0);
		
		.ty-grid-list__item:hover & {
			visibility: visible;
			.opacity(100);
		}
	}
}




