// Style tel input

input[type="tel"] {
    height: 36px;
    padding: 4px 8px;
    border: 1px solid darken(@base, 15%);
    background: #fff;
    font-family: @body_font;
    font-size: @body_font_size;
    font-style: @body_font_style;
    font-weight: @body_font_weight;
    color: @font;
    outline: none;
    .box-sizing(border-box);
    .border-radius(0);
    &:focus {
        outline: 0;
        border-color: @links;
        .transition(border 0.2s linear 0s);
    }
}