.ty-variations-list__wrapper {
  width: 100%;
  overflow-x: auto;
}
.ty-variations-list__title {
  font-weight: bold;
}
th.ty-variations-list__title--right {
  text-align: right;
}
.ty-variations-list__product-elem .ty-control-group {
  margin-bottom: 0;
}
.ty-variations-list__product-elem .ty-control-group__item {
  padding: 0;
}
.ty-variations-list__product-elem .ty-btn {
  margin-right: 10px;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .ty-variations-list__product-elem .ty-btn {
    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }
}
.ty-variations-list__product-elem .ty-qty-out-of-stock {
  margin-right: 10px;
  margin-bottom: 13px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .ty-variations-list__product-elem .ty-qty-out-of-stock {
    margin-left: 15px;
    margin-right: 0;
    margin-bottom: 0;
    vertical-align: baseline;
  }
}
.ty-variations-list__image img {
  max-width: none;
}
.ty-variations-list__sku {
  min-width: 100px;
}
.ty-variations-list__sku .ty-sku-item {
  font-size: 13px;
  color: #465f73;
}
.ty-variations-list__controls {
  white-space: nowrap;
  text-align: right;
}
.ty-variations-list__controls .ty-add-to-wish.ty-btn i {
  margin-left: 3px;
  margin-right: 3px;
}
.ty-variations-list__controls form > div {
  display: inline-block;
}
.ty-variations-list__controls .ty-table__responsive-header {
  display: none;
}
.ty-variations-list__price {
  margin-bottom: 13px;
  vertical-align: middle;
  text-align: right;
}
@media (min-width: 768px) {
  .ty-variations-list__price {
    margin-bottom: 0;
  }
}
.ty-variations-list__controls form > .ty-variations-list__price {
  display: block;
}
@media (min-width: 768px) {
  .ty-variations-list__controls form > .ty-variations-list__price {
    display: inline-block;
  }
}
.ty-variations-list.ty-table {
  border: none;
}
.ty-variations-list.ty-table th {
  background: none;
  border-right: none;
  padding-left: 5px;
  padding-right: 7px;
}
@media (min-width: 980px) {
  .ty-variations-list.ty-table th {
    padding-left: 12px;
    padding-right: 18px;
  }
}
.ty-variations-list.ty-table tbody tr:nth-child(2n) {
  background: none;
}
.ty-variations-list.ty-table td,
.ty-variations-list.ty-table .table td {
  border-right: none;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 980px) {
  .ty-variations-list.ty-table td,
  .ty-variations-list.ty-table .table td {
    padding-left: 13px;
    padding-right: 19px;
  }
}
.ty-variations-list .ty-table__responsive-content {
  display: inline-block;
  width: auto;
}
.ty-grid-list__item-features {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 5px;
}
.ty-grid-list__item-features-description {
  color: #8c8c8c;
}
.ty-grid-list__item-features-item {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ty-grid-list__item-features-variant {
  margin-left: 0.5rem;
}
.ty-product-variations__variation-features--secondary {
  color: #737373;
}
.ty-product-variations__variation-features--inline {
  display: inline-block;
}
.ty-product-variations__variation-features--mini {
  font-size: 12.6px;
}
.ty-product-variations__variation-features--clearfix {
  clear: both;
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
