.ty-tabs {
	border-bottom: 0;
	border-top: 1px solid @border_color;
}

.ty-tabs__item,
.ty-tabs .subtab,
.ty-tabs__item.active,
.ty-tabs .subtab.active {
	margin: 0 7px;
	padding: 0;
	background: none;
	
	&:first-child {
	    margin-left: 0;
	}
		
	&:hover {
		background: none;
	}
}
.ty-tabs__a,
.ty-tabs .subtab a,
.ty-tabs__item.active .ty-tabs__a {
	padding: 10px 0;
	display: block;
	position: relative;
	background: none;
	font-weight: bold;
	text-transform: uppercase;
	height: auto;
	color: @font;
	background: none;
	
	&:hover {
		background: none;
		color: @font;
	}
}
.ty-tabs__a,
.ty-tabs .subtab a {	
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: -1px;
		right: 0;
		left: 0;
		
		height: 3px;
		background: @accent_second;
		
		.opacity(0);
		.transition( all 0.3s );
	}
	
	.ty-tabs:hover &:before {
		.opacity(0);
	}
	.active &:before,
	.ty-tabs:hover &:hover:before {
		.opacity(100);
	}
}

.ty-tabs__content {
	padding: 0px 0 20px;
}

//accordion
.ty-accordion .ui-accordion-header.ui-state-active {
	background: @accent_second;
	color: @font;
}
.ty-accordion .ui-accordion-header {
	color: @font;
	background: @content_bg_section;
}
.ty-accordion .ui-accordion-content {
	margin-bottom: 20px;
}