//v3.12
.ty-template-small__item-img {
	position: relative;
	display: block;
	
	.ty-product-labels__content {
		font-size: 11px;
		line-height: 1.1;
	}
	.ty-product-labels--top-left {
		top: -10px;
	}
	.ty-product-labels__item--mini {
	    padding: 3px 5px 3px 6px;
	}
}
