@media (max-width: 767px) {
	.tt_header-menu__section .ty-menu__menu-btn {
	    right: auto;
	    left: 15px;
	}
	.tt_header-menu__section .ty-menu__menu-btn span {
	    display: inline-block;
	}
	.top-logo-grid {
	    padding-right: 85px;
	    padding-left: 85px;
	}
	.tygh-header .ty-logo-container, .tygh-header .th_svg-logo {
		margin-right: auto;
		margin-left: auto;
	}
}