.ty-hybrid-auth__icon {
  margin-right: 5px;
}
.ty-link-unlink-provider {
  position: relative;
}
.ty-link-unlink-provider img {
  opacity: 0.25;
  filter: alpha(opacity=25);
}
.ty-link-unlink-provider .ty-hybrid-auth__add {
  position: absolute;
  top: 12px;
  left: 7px;
  font-size: 22px;
  z-index: 1;
  display: none;
  line-height: 0;
}
.ty-link-unlink-provider:hover .ty-hybrid-auth__add {
  display: block;
}
.ty-link-unlink-provider:hover img {
  opacity: 1;
  filter: alpha(opacity=100);
}
.ty-hybrid-auth__icon {
  position: relative;
}
.ty-hybrid-auth__icon .ty-hybrid-auth__remove {
  position: absolute;
  top: -7px;
  left: 29px;
  z-index: 1;
  display: none;
  line-height: 0;
}
.ty-hybrid-auth__icon:hover .ty-hybrid-auth__remove {
  display: block;
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
