/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
#addon_abt__youpithemeinstalled .bg-icon, #addon_abt__youpitheme .bg-icon {
background-size: contain;
background: transparent url('../../../media/images/addons/abt__youpitheme/logo.png') no-repeat center;
border: none;
}
#addon_abt__youpithemeinstalled .bg-icon i, #addon_abt__youpitheme .bg-icon i {display: none;}
.chains_search_form {
.control-label {
display: inline-block;
}
.clear-picker {
line-height: 20px;
}
}
.abt-yt-upgrade {
&-text{
font-size: 14px;
}
&-notifications{
}
&-notification{
margin: 10px 0;
&-title{
margin: 8px 0;
font-size: 18px;
font-weight: bold;
}
&-body{
font-size: 14px;
}
img{
margin: 10px 0;
border: 1px solid #c1c1c1;
}
}
}
.yt-icon-example {
i {
font-size: 1.2rem;
}
}
.abt-yt-doc {
background-color: #ffe9e9;
color: #ee5f5b;
margin: 0 0 15px 0;
padding: 10px 15px;
text-align: center;
}