.store-locator .pickup__offices {
  align-items: flex-start;
  align-content: flex-start;
}
.store-locator .pickup__offices-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-basis: 30%;
  overflow-y: hidden;
  height: 500px;
  max-height: 500px;
  border: 1px solid #ffffff;
  border-right: 0;
  border-radius: 6px 0 0 6px;
}
.store-locator .pickup__offices--list .ty-one-store {
  padding: 0 !important;
  min-height: auto;
  border-bottom: 1px solid #ffffff;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.store-locator .pickup__offices--list .ty-one-store .ty-sdek-store__label.ty-one-store__label {
  border: 0 !important;
  border-radius: 0 !important;
}
.store-locator .pickup__offices--list .ty-one-store:last-child {
  border-bottom: 0;
}
.store-locator .pickup__offices--list .ty-sdek-office__selected {
  border-radius: 0 !important;
  border-left-color: #4f78a6 !important;
  background-color: #fff !important;
}
.store-locator .pickup__offices--list .ty-sdek-office__selected .ty-one-store__name {
  color: #4f78a6;
}
@media (min-width: 768px) {
  .store-locator .pickup__offices {
    overflow-y: auto;
  }
}
.store-locator .pickup__search {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-shrink: 0;
}
.store-locator .pickup__search-field {
  margin: 0 0 8px 0;
}
.store-locator .pickup__search-field:last-child {
  margin-bottom: 0;
}
.store-locator .pickup--list .pickup__offices-wrapper {
  flex-basis: 100%;
  border: 0;
  overflow: initial;
  height: auto;
  max-height: none;
}
@media (min-width: 768px) {
  .store-locator .pickup--list .pickup__offices.store-locator__fields-row--wrapped .ty-one-store {
    flex-basis: 33.3%;
  }
}
.store-locator .pickup--map-list,
.store-locator .pickup--list {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.store-locator .pickup__map-wrapper {
  display: flex;
  flex-basis: 70%;
  height: 500px;
  border-radius: 0 6px 6px 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .store-locator .pickup__map-wrapper {
    border-radius: 0;
  }
}
.store-locator .pickup__map-container {
  flex-basis: 100%;
}
.store-locator .pickup--map-list .ty-one-city,
.store-locator .pickup--list .ty-one-city {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
}
.store-locator .pickup--map-list .ty-one-city__name,
.store-locator .pickup--list .ty-one-city__name {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1px 20px;
  margin: -1px 0 0 0;
  width: 100%;
  order: 1;
  background-color: #fff;
  border-left: 3px solid transparent;
  border-top: 1px solid #dce3ea;
  border-bottom: 1px solid #dce3ea;
  font-size: 16px;
  font-weight: 600;
}
.store-locator .pickup--map-list .ty-one-city__hidden,
.store-locator .pickup--list .ty-one-city__hidden {
  display: none;
}
.store-locator .pickup--map-list .ty-one-store,
.store-locator .pickup--list .ty-one-store {
  width: 100%;
  margin: 0px;
  order: 1;
  border-left: 3px solid transparent;
  box-sizing: border-box;
}
.store-locator .pickup--map-list .ty-one-store.hidden,
.store-locator .pickup--list .ty-one-store.hidden {
  display: none;
}
.store-locator .pickup--map-list .ty-one-store__name,
.store-locator .pickup--list .ty-one-store__name {
  font-size: 16px;
  padding: 0;
}
.store-locator .pickup--map-list .ty-one-store__description .ty-one-office__address,
.store-locator .pickup--list .ty-one-store__description .ty-one-office__address {
  font-size: 12px;
  color: #6c6c6c;
}
.store-locator .pickup--map-list .ty-one-store__description .ty-one-office__worktime,
.store-locator .pickup--list .ty-one-store__description .ty-one-office__worktime {
  font-size: 12px;
  color: #6c6c6c;
}
.store-locator .pickup--map-list .ty-one-store__label,
.store-locator .pickup--list .ty-one-store__label {
  padding: 0 20px;
}
.store-locator .pickup--map-list .ty-one-store__radio-0,
.store-locator .pickup--list .ty-one-store__radio-0 {
  display: none;
}
.store-locator .pickup--map-list .ty-one-store *,
.store-locator .pickup--list .ty-one-store * {
  box-sizing: border-box;
}
.store-locator .pickup--map-list .pickup__search {
  background-color: rgba(0,0,0,0.02);
}
.store-locator .pickup--map-list .ty-one-store {
  background-color: rgba(0,0,0,0.02);
}
.store-locator .pickup--map-list .ty-one-store__label {
  cursor: pointer;
}
.store-locator .pickup--map-list .ty-one-store__label * {
  cursor: pointer;
}
.store-locator .pickup--map-list .ty-one-store:hover {
  background: rgba(0,0,0,0.05);
}
@media (min-width: 768px) {
  .store-locator .pickup--list .ty-one-store {
    min-height: 145px;
  }
}
@media (max-width: 767px) {
  .store-locator .pickup--map-list,
  .store-locator .pickup--list {
    flex-wrap: wrap;
    position: relative;
  }
  .store-locator .pickup__offices-wrapper {
    flex-basis: 100%;
    height: auto;
    max-height: unset;
    border: 0;
  }
  .store-locator .pickup__map-wrapper {
    flex-direction: column;
    flex-basis: 100%;
    height: auto;
    border: 0;
  }
  .store-locator .pickup__map-container {
    flex-basis: 70vh;
    height: 70vh;
    border: 1px solid #acbdcd;
  }
  .store-locator .pickup__map-container--mobile-hint {
    display: flex;
    min-height: 30px;
    z-index: 999;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #acbdcd;
    border-top: 2px solid white;
    padding: 5px;
    font-size: 0.9em;
  }
}
@media (min-width: 767px) {
  .store-locator .pickup__map-container--mobile-hint {
    display: none;
  }
}
.ty-store-locator__not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 140px;
  color: #bdc3c7;
  font-size: 115%;
  text-align: center;
  background: #f8f9f9;
}
.ty-store-locator__not-found__hidden {
  display: none;
}
.ty-checkout-select-store {
  padding-left: 30px;
  float: left;
  width: 38%;
  margin-right: 2px;
}
.ty-checkout-select-store__list {
  padding-left: 30px;
  float: left;
  width: 100%;
}
.ty-checkout-select-store__estimation {
  padding-left: 30px;
  float: left;
  width: 90%;
  margin-right: 2px;
}
.ty-checkout-select-store__item-view {
  margin: 10px 0 10px 0;
}
.ty-checkout-select-store__map-full-div {
  padding-left: 20px;
}
.ty-checkout-select-store__map-full {
  float: right;
  width: 100%;
  height: 400px;
  border: 1px solid #979797;
  margin: 0 0 20px 0;
}
.ty-checkout-select-store__map {
  float: right;
  width: 56%;
  height: 400px;
  border: 1px solid #ffffff;
  margin: 0 0 20px 0;
}
.ty-checkout-select-store__map-details {
  float: left;
  width: 100%;
  height: 300px;
  border: 1px solid #979797;
  margin: 0 0 20px 0;
}
.ty-checkout-select-store__map-full-div .ty-one-store {
  padding: 10px 0 15px 0;
}
.ty-checkout-select-store__map-full-div .ty-one-store__radio {
  float: left;
}
.ty-checkout-select-store__map-full-div .ty-one-store__label {
  margin: -13px 0 0 30px;
}
.ty-checkout-select-store__map-full-div .ty-one-store__name {
  font-weight: bold;
}
.ty-checkout-select-store__map-full-div .ty-one-store__description p {
  color: #737373;
}
.ty-checkout-select-store__map-full-div .ty-one-store__select-store {
  padding: 20px 0;
}
@media (max-width: 767px) {
  .ty-checkout-select-store__map {
    float: none;
    width: 100%;
  }
  .ty-checkout-select-store {
    float: none;
    width: 100%;
  }
}
.store-locator__select {
  width: 100%;
  height: 41px;
  border: 1px solid #acbdcd;
  border-radius: 5px;
  font-size: 16px;
  color: #2e3a47;
}
.store-locator__select:hover {
  border-color: #465f73;
}
.store-locator__select:focus {
  border-color: #4fbe31;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(79,190,49,0.2), 0 0 0 1px #4fbe31;
}
@media (min-width: 768px) {
  .store-locator__select {
    font-size: 14px;
  }
}
.store-locator__select-label {
  padding: 6px 16px 6px 0;
  font-weight: bold;
}
.store-locator__location {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 8px;
}
@media (min-width: 768px) {
  .store-locator__location--city,
  .store-locator__location--vendor {
    max-width: 33.33%;
  }
}
.store-locator__location--city .object-picker--cities,
.store-locator__location--vendor .object-picker--companies {
  width: 100%;
}
.store-locator__location--wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .store-locator__location--wrapper {
    flex-direction: column;
  }
  .store-locator__location--wrapper .store-locator__step-title {
    align-items: initial;
    justify-content: center;
    margin-bottom: 10px;
  }
}
.store-locator__fields-row {
  display: flex;
}
.store-locator__fields-row--wrapped {
  flex-wrap: wrap;
}
.store-locator__fields-row.hidden {
  display: none;
}
.store-locator__field {
  display: inline-block;
  width: 100%;
  position: relative;
}
.store-locator__label,
.store-locator__input {
  display: block;
  padding: 0;
  width: 100%;
  font-weight: normal;
}
.store-locator__label.hidden,
.store-locator__input.hidden {
  display: none;
}
.store-locator .store-locator__input {
  padding: 10px 4px;
  border: 1px solid #acbdcd;
  border-radius: 3px;
  box-sizing: border-box;
  height: auto;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #2e3a47;
}
.store-locator .store-locator__input:not(:placeholder-shown),
.store-locator .store-locator__input:focus {
  padding-top: 16px;
  padding-bottom: 4px;
}
.store-locator .store-locator__input:hover {
  border-color: #465f73;
}
.store-locator .store-locator__input:focus {
  border: solid 1px #4fbe31;
  box-shadow: 0 0 0 4px rgba(79,190,49,0.2), 0 0 0 1px #4fbe31;
  outline: 0;
}
.store-locator .store-locator__input:placeholder-shown:not(:focus) + .store-locator__label {
  top: 10px;
  font-size: 14px;
  pointer-events: none;
}
.store-locator .store-locator__input[type=hidden] + .store-locator__label {
  display: none;
}
.store-locator__label {
  transition: .3s all;
  font-size: 12px;
  color: #a1a6aa;
  position: absolute;
  top: 2px;
  left: 6px;
}
.store-locator__step-title {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .store-locator__step-title {
    flex-direction: column;
  }
}
.store-locator__all-stores-btn {
  color: #4f78a6;
  background: none;
  border: 0;
  width: 100%;
  text-align: right;
}
.store-locator__all-stores-btn:first-letter {
  text-transform: uppercase;
}
.store-locator__all-stores--hidden {
  display: none;
}
.store-locator__scroll-top-btn {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  height: 40px;
  margin-top: -40px;
  color: #4f78a6;
  text-align: center;
  width: 100%;
  background: #fff;
}
@media (min-width: 768px) {
  .store-locator__scroll-top-btn {
    display: none;
  }
}
.pickup--list .store-locator__fields-row {
  display: flex;
  box-shadow: inset 0px -1px 0 #dce3ea;
}
.ty-store-locator__geolocation__location {
  border-bottom: 1px dotted;
}
.ty-store-locator__geolocation__location__states,
.ty-store-locator__geolocation__location__cities {
  padding-left: 10px;
}
.ty-store-locator__geolocation__location__state,
.ty-store-locator__geolocation__location__country {
  padding-bottom: 20px;
}
.ty-store-locator__geolocation__locations {
  min-width: 400px;
}
@media (max-width: 767px) {
  .store-locator-ya-baloon {
    overflow-x: hidden;
  }
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
