// AB: Motivation block abt__youpitheme styles

.ab__mb_items {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid @base;

	.ab__mb_item {
		padding: 10px 20px;
		border-bottom: 1px solid @base;
	    
	    &:hover {
			background: fade(@content_bg, 30%);
		}
				
		&:last-child {
	        border-bottom: none;
	    }
	}

    &.colored {
	    border: 0 none;
	    
	    .ab__mb_item {
			padding: 10px 15px;
			border-bottom: 3px solid @content_bg;
			
			&:hover .ab__mb_item-title:after {
				color: @links;
			}
			
			&:last-child {
				border-bottom: 0;
			}
		}	    
    }

}

.ab__mb_item-title {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    min-height: 24px;
    padding-right: 24px;
    
    &:after {
        content: "\e019";
        font-family: "glyphs";
        position: absolute;
        right: -1px;
        font-size: 16px;
        color: lighten(@font, 50%);
        .rotate(-90deg);
        .transition(.2s);
    }
    
    &.open {
        &:after {
	        color: @font;
            .rotate(0);
        }
    }
}

.ab__mb_item-name {
    font-weight: bold;
    font-size: .81rem;
}

.ab__mb_item-description {
    margin: 5px 0;
    
    p {
        padding: 4px 0;
        display: flex;
        align-items: center;
        color: lighten(@font, 30%);
        
        i {
	        margin-right: 5px;
        }
    }
    
    li {
        padding: 2px 0;
        list-style-type: disc;
        color: lighten(@font, 30%);
    }
    
    .desktop-hidden {
        display: none;
    }
}