/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/

.ty-sellers-list {
	overflow-y: auto;
	
	&__image {
		max-width: 100px;	
		min-width: 80px;
	}
	&__controls {
		margin-top: 0;
				
		.ty-btn {
		    margin-bottom: 0;
		}
	}			
	&__buttons .ypi-quick-view-button {
		display: none !important;
	}
	.ty-qty-out-of-stock {
    	margin-right: 15px;
	}
			
	@media screen and (min-width: 768px) {

		&__title {
			min-width: 150px;
		}
		&__item-location {
			min-width: 150px;
		}
		&__price {
			min-width: 100px;
			margin-bottom: 0;
			
			.ty-price-num {
                font-size: 18px;
                color: @font;
            }
		}
		&__buttons {
			height: 44px;
			white-space: nowrap;
			overflow: hidden;
		}	
	}
	@media screen and (max-width: 767px) {
		
		&__content {
			display: flex;
			flex-wrap: wrap;			
		}
		&__image {
			max-width: 90px;
			min-width: 80px;
			min-height: 30px;
			margin-right: 20px;
		}
		&__title {
			flex: 1 auto;
			
			a {
				padding-top: 0;
			}
		}
		&__item-location {
			flex: 1 100px;
			margin-top: 0;
			width: 100%;
			text-align: right;
			
			a {
				color: @light-color-30;
			}
		}
		&__price {
			margin-top: 10px;
		}
		&__controls {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			margin-top: 10px;
			
			> div {
				margin: 0 10px;
			}
			> div:first-child {
				margin-left: 0;
			}
			> div:last-child {
				margin-right: 0;
			}
		}
		&__buttons {
			height: 36px;
			white-space: nowrap;
			overflow: hidden;
			text-align: right;
		}
		.ty-btn {
		    height: 36px;
		    min-width: 36px;
		    padding: 0 15px;
		}
		.ty-add-to-wish {
			width: 36px;
			padding: 0;
			
			&:before {
				font-size: 20px;
				line-height: 36px;
			}
		}
	}
}
