/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2019   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and  accept   *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
#addon_ab__scroll_to_topinstalled .bg-icon, #addon_ab__scroll_to_top .bg-icon {
background-size: contain;
background: transparent url('../../../media/images/addons/ab__scroll_to_top/logo.png') no-repeat center;
border: none;
}
#addon_ab__scroll_to_topinstalled .bg-icon i, #addon_ab__scroll_to_top .bg-icon i {display: none;}
@font-face {
font-weight: normal;
font-style: normal;
font-family: 'abscroll';
src: url('../css/addons/ab__scroll_to_top/fonts/abscroll.eot');
src: url('../css/addons/ab__scroll_to_top/fonts/abscroll.eot?#iefix') format('../css/addons/ab__scroll_to_top/fonts/embedded-opentype'),
url('../css/addons/ab__scroll_to_top/fonts/abscroll.woff') format('woff'),
url('../css/addons/ab__scroll_to_top/fonts/abscroll.ttf') format('truetype'),
url('../css/addons/ab__scroll_to_top/fonts/abscroll.svg#abscroll') format('svg');
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
@font-face {
font-family: "abscroll";
src: url("../css/addons/ab__scroll_to_top/fonts/abscroll.svg#abscroll") format("svg");
}
}
div.ab__scroll_to_top_button {
position: fixed;
cursor: pointer;
display: inline-block;
span {
font-family: abscroll;
font-style: normal;
color: #000;
font-size: 64px;
font-weight: normal;
}
span.ab__stt-arrow_1:before {content: "\f100";}
span.ab__stt-arrow_2:before {content: "\f101";}
span.ab__stt-arrow_3:before {content: "\f102";}
span.ab__stt-arrow_4:before {content: "\f103";}
span.ab__stt-arrow_5:before {content: "\f104";}
span.ab__stt-arrow_6:before {content: "\f105";}
span.ab__stt-arrow_7:before {content: "\f106";}
span.ab__stt-arrow_8:before {content: "\f107";}
span.ab__stt-arrow_9:before {content: "\f108";}
span.ab__stt-arrow_10:before {content: "\f109";}
}