.ty-compact-list__item:last-child {
	border-bottom: 0;
}
.ty-compact-list__image {
	padding: 0 10px 0 0;
	width: auto;
}
.ty-compact-list__title {
	.product-title {
		color: @font;
		font-size: 16px;
	}
	.ty-control-group__label,
	.ty-control-group__item {
		font-size: 12px;
	}
	.ty-control-group {
		margin: 0;
	}
	.ty-control-group:after {
		clear: none;
	}
}

.ty-compact-list__price {
	.ty-strike {
		font-size: 13px;
		color: @old_price;
		
		.ty-list-price {
			font-size: inherit;
			color: inherit;
		}
	}
	.ty-price-update {
		display: block;
	}
}
.ty-compact-list__price .ty-list-price {
	margin-right: 0;	
}
.ty-compact-list__item .ty-compact-list__price,
.ty-compact-list__item .ty-btn__big,
.ty-compact-list__item .ty-qty {
	margin-bottom: 5px;
}

.ty-compact-list__title {
	width: 40%;
	margin-right: 0;
}
.ty-compact-list__controls {
	width: 40%;
	padding-bottom: 15px;
}
@media (max-width: 979px) {
	.ty-compact-list__title {
		width: 35%;
	}
	.ty-compact-list__controls {
		width: 51%;
	}
}
@media (max-width: 580px) {
	.ty-compact-list__image {
		float: left;
	}
	.ty-compact-list__title,
	.ty-compact-list__controls {
		float: none;
		width: auto;
		margin-left: 70px;
		text-align: left;
		padding-bottom: 0;
	}
}