.ty-product-list {
	padding: 0 0 20px;
}
.ty-product-list__image {
	border: 0;
}
.ty-product-list__item-name .product-title {
	color: @font;
}
.ty-product-list__content {	
	.ty-strike {
		margin-left: 5px;
		font-size: 14px;
		color: @old_price;
		margin-top: 3px;
		
		.ty-list-price {
			font-size: inherit;
			color: inherit;
		}
	}
	.ty-control-group__label {
		width: auto;
	}
}

.ty-product-list__qty {
	float: left;
	margin-right: 10px;
	
	.ty-qty {
		margin-bottom: 0;
	}
}