.ty-template-small__item {
	padding: 15px 0 20px 0;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0, 0.05);
	
	&:last-child {
		border-bottom: 0;
	}	
	.product-title {
		display: block;
		height: 32px;
		overflow: hidden;
		line-height: 15px;
		font-size: 12px;
		color: @font;
	}
	
	.ty-template-small__item-price {
		margin-top: 0;
			
		.ty-strike {
			display: block;
			font-size: 12px;
			color: @old_price;
			
			.ty-list-price {
				font-size: inherit;
				color: inherit;
			}
		}
		
		.ty-price-num {
			font-size: 12px;
		}
	}
	.ty-template-small__item-description {
		overflow: visible;
	}
	.ty-stars {
		margin-bottom: -15px;
	}
}
