.ty-scroller-list__item {
	padding: 0 15px;
}
.ty-scroller-list__description .product-title {
	padding: 5px 0 0;
	font-size: 12px;
	color: @font;
}

.ty-simple-list__price .ty-price-num {
	font-size: 12px;
}
.ty-owl-controls {
	z-index: 40;
}