.tygh-header {
	border-bottom: 1px solid @border_color;
}
.tygh-header > div {
	padding: 0;
}
.top-menu-grid {
	padding-top: 0;
}
.tygh-header {
	.ty-logo-container,
	.th_svg-logo {
		margin-top: 17px;
		margin-right: -50px;
	}
	
	.th_top-search {
		margin-top: 16px;
		margin-bottom: 16px;
	}
	
	.th_your-account,
	.th_cart-content  {
		margin-top: 11px;	
	}
	@media (min-width: 768px) and (max-width: 900px) {
		.th_cart-content {
			margin-right: -15px;
		}
	}
}
.tygh-header .ty-dropdown-box__title {
	color: @header_font;
	
	&:hover {
		color: @links_hover;
	}
	
	&.open {
		color: @font;
	}
}

.ty-menu__menu-btn.ty-menu__item .ty-menu__item-link {
	color: @header_font;
	
	&:hover {
		color: @links_hover;
	}
}

//menu
.tt_header-menu__section {
// 	margin-top: 6px;
	
	@media (min-width: 768px) {
		background: @menu;		
	}
}
.tt_header-menu__section:before,
.ty-menu__submenu-items:before {
	content: '';
	display: block;
	border-bottom: 1px solid @border_color;
}
//mobile
@media (max-width: 767px) {
	.tygh-header {
		position: relative;
	}
	.tygh-header {
		.ty-logo-container,
		.th_svg-logo {
			margin-top: 15px;
			margin-right: 0;
		}
		.th_top-search {
			margin-top: 5px;
			margin-bottom: 10px;
		}
		.ty-menu__menu-btn,
		.th_your-account,
		.th_cart-content {
			position: absolute;
			top: 12px;
			right: 2px;
			margin: 0;
		}
		.th_your-account {
			right: 57px;
		}
	}
	//menu
	.tt_header-menu__section:before,
	.ty-menu__submenu-items:before {
		display: none;
	}
	.tt_header-menu__section {		
		.ty-menu__items {
			position: static;
		}
		.ty-menu__menu-btn {
			top: 13px;
			right: 110px;
			
			.ty-menu__item-link {			
				min-height: auto;
				padding: 5px;
				border: 0;
			}
		}
		.ty-menu__menu-btn + .ty-menu__item:before {
			content: '';
			display: block;
			border-bottom: 1px solid @border_color;
		}
	}
}
@media (max-width: 460px) {
	.tt_header-menu__section .ty-menu__menu-btn {
		top: 14px;
		right: 108px;
	}
	.tt_header-menu__section .ty-menu__menu-btn span {
		display: none;
	}
	.tt_header-menu__section .ty-menu__menu-btn .ty-icon-short-list {
		padding-right: 0;
	}
	.tygh-header .th_your-account {
	    right: 52px;
	}
}