.tygh-top-panel {	
    border-bottom: 1px solid @top_panel__border;
    
    & > div {
		padding: 0;
	}
	
	//text links
	.ty-text-links {
		margin-top: 4px;
	}
	.ty-select-block__a,
	.ty-wysiwyg-content a,
	.ty-text-links a {
		color: @top_panel_links;
	}
	.ty-text-links__active > .ty-text-links__a,
	.ty-wysiwyg-content a:hover,
	.no-touch & .ty-text-links__a:hover {
		color: @links_hover;
	}
	
	//select block
	.ty-select-block__a:hover {
		color: @links_hover;
	}
}