@font-face {
  font-family: 't_thin_font';
  src: url('../../media/fonts/t_thin_font.eot');
  src: url('../../media/fonts/t_thin_font.eot#iefix') format('embedded-opentype'),
       url('../../media/fonts/t_thin_font.woff2') format('woff2'),
       url('../../media/fonts/t_thin_font.woff') format('woff'),
       url('../../media/fonts/t_thin_font.ttf') format('truetype'),
       url('../../media/fonts/t_thin_font.svg#t_thin_font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-tt-"]:before, [class*=" icon-tt-"]:before {
	font-family: "t_thin_font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	
	display: inline-block;
	text-decoration: inherit;

	text-align: center;

	font-variant: normal;
	text-transform: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tt-mail {
	position: relative;
	top: -1px;
}
 
.icon-tt-cat-bullet:before { content: '\e800'; } /* '' */
.icon-tt-down-open-mini:before { content: '\e801'; } /* '' */
.icon-tt-up-open-mini:before { content: '\e802'; } /* '' */
.icon-tt-home:before { content: '\e803'; } /* '' */
.icon-tt-lock:before { content: '\e80f'; } /* '' */
.icon-tt-wish:before { content: '\e813'; } /* '' */
.icon-tt-mail:before { content: '\e818'; } /* '' */
.icon-tt-img:before { content: '\e827'; } /* '' */
.icon-tt-user:before { content: '\e82a'; } /* '' */
.icon-tt-cart:before { content: '\e82e'; } /* '' */
.icon-tt-phone-1:before { content: '\e830'; } /* '' */
.icon-tt-phone:before { content: '\e831'; } /* '' */
.icon-tt-comment:before { content: '\e83f'; } /* '' */
.icon-tt-gift:before { content: '\e844'; } /* '' */
.icon-tt-search:before { content: '\e86f'; } /* '' */
.icon-tt-cancel:before { content: '\e870'; } /* '' */
.icon-tt-menu:before { content: '\e871'; } /* '' */
.icon-tt-up:before { content: '\e873'; } /* '' */
.icon-tt-down:before { content: '\e874'; } /* '' */
.icon-tt-left:before { content: '\e875'; } /* '' */
.icon-tt-right:before { content: '\e876'; } /* '' */
.icon-tt-cancel-circle:before { content: '\e880'; } /* '' */
.icon-tt-c-up:before { content: '\e887'; } /* '' */
.icon-tt-c-left:before { content: '\e889'; } /* '' */
.icon-tt-c-right:before { content: '\e88a'; } /* '' */
.icon-tt-compare:before { content: '\e88e'; } /* '' */
.icon-tt-delivery:before { content: '\e8aa'; } /* '' */
.icon-tt-bars:before { content: '\e8bd'; } /* '' */
.icon-tt-squares:before { content: '\e8be'; } /* '' */
.icon-tt-thumbnails:before { content: '\e8c0'; } /* '' */
.icon-tt-cancel-button:before { content: '\e8c1'; } /* '' */
.icon-tt-check-square:before { content: '\e8c2'; } /* '' */
.icon-tt-clock:before { content: '\e8c3'; } /* '' */
.icon-tt-pin:before { content: '\e8c4'; } /* '' */
.icon-tt-twitter:before { content: '\f099'; } /* '' */
.icon-tt-youtube-play:before { content: '\f16a'; } /* '' */
.icon-tt-instagram:before { content: '\f16d'; } /* '' */
.icon-tt-apple:before { content: '\f179'; } /* '' */
.icon-tt-android:before { content: '\f17b'; } /* '' */
.icon-tt-skype:before { content: '\f17e'; } /* '' */
.icon-tt-odnoklassniki:before { content: '\f264'; } /* '' */
.icon-tt-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-tt-facebook-squared:before { content: '\f308'; } /* '' */
.icon-tt-vkontakte:before { content: '\f354'; } /* '' */

.icon-tt-viber:before { content: '\e8b9'; } /* '' */
.icon-tt-whatsapp:before { content: '\e8ba'; } /* '' */
