.ty-select-block {
	top: 100%;
	width: 100%;
    box-sizing: border-box;
}
.ty-float-right .ty-select-block {
	right: 0;
	left: auto;
}
.ty-horizontal-product-filters-dropdown__wrappe,
.ty-select-block__a {
	padding: 6px 10px;
}
.ty-select-block__list-a {
	padding: 7px 10px;
}

.ty-dropdown-box__title {
	padding: 8px 16px 15px 13px;
}

.ty-dropdown-box__title a,
.ty-dropdown-box__title.open a,
.ty-dropdown-box__title.open i,
.ty-dropdown-box__title.open .ty-minicart-title {
	color: inherit;
}
.ty-dropdown-box__title.open .th_minicart__icon,
.ty-dropdown-box__title.open .th_user__icon {
	color: @links_hover;
}
.ty-horizontal-product-filters-dropdown__wrapper,
.ty-dropdown-box__title,
.ty-sort-dropdown__wrapper,
.ty-select-block__a {
    border: 1px solid transparent;
    border-bottom: 0 none;
    transition: color 150ms;
}
.ty-select-block__a:hover,
.ty-sort-dropdown__wrapper:hover,
.ty-dropdown-box__title:hover {
	color: @links_hover;
	background: none;
}
.ty-horizontal-product-filters-dropdown__wrapper.open,
.ty-dropdown-box__title.open,
.ty-sort-dropdown__wrapper.open,
.ty-select-block__a.open,
.ty-select-block__a.open:hover {
    position: relative;
    z-index: 69;
    
	color: inherit;
    background-color: @dropdown_box__bg;
    border: 1px solid @dropdown_box__border;
    border-bottom: 0 none;
    
    &:after {
	    content: '';
	    
	    position: absolute;
	    top: 100%;
	    margin-top: -4px;
	    
	    display: block;
	    height: 4px;
	    
	    background: @dropdown_box__bg;
    }
}
.ty-dropdown-box__title.open:after {
	left: -1px;
	right: 0;
}

.ty-sort-dropdown__wrapper.open:after {
	left: 0;
	right: -4px;
}
.ty-horizontal-product-filters-dropdown__wrapper.open:after {
	width: 10px;
	right: -6px;
	margin-top: -2px;
}

.ty-select-block__a.open .ty-select-block__arrow {
	color: inherit;
}
.ty-horizontal-product-filters-dropdown__content,
.ty-dropdown-box__content,
.ty-sort-dropdown__content,
.ty-select-block {
	padding-top: 4px;
	z-index: 68;
	margin-top: -5px;
    border: 1px solid @dropdown_box__border;
    background: @dropdown_box__bg;
}

.ty-horizontal-product-filters-dropdown__content {
	margin-top: -3px;
}

.ty-account-info__item .ty-account-info__a {
	color: @font;
}
.ty-dropdown-box__content .ty-dropdown-box__item:hover a,
.ty-dropdown-box__content .ty-dropdown-box__item:hover {
	background: none;
	color: @links_hover;
}