.ty-value-changer {
    width: 57px;
}
.ty-value-changer__increase,
.ty-value-changer__decrease {
	width: 15px;
	height: 15px;
	color: @font;
}
.no-touch .ty-value-changer__increase:hover, .no-touch .ty-value-changer__decrease:hover {
	background: @ok_color;
	border-color: @ok_color;
}
.ty-value-changer__increase {
	margin-bottom: 2px;
	.border-radius(0 3px 0 0);
}
.ty-value-changer__decrease {
	.border-radius(0 0 3px 0);
}
input.ty-value-changer__input {
	.border-radius(3px 0 0 3px);
}
.ty-qty .ty-control-group__label {
//     padding: 9px 0;
    display: none;
}

.touch input.ty-value-changer__input {
	height: 36px;
	.border-radius(0);
}

.touch .ty-value-changer__increase,
.touch .ty-value-changer__decrease {
	height: 34px;
	line-height: 32px;
}

.touch .ty-value-changer__increase {
	.border-radius(0 3px 3px 0);
	border-width: 1px 1px 1px 0;
}
.touch .ty-value-changer__decrease {
	.border-radius(3px 0 0 3px);
	border-left: 1px solid darken(@base, 15%);;
	border-width: 1px 0 1px 2px;
}