.ty-quick-view__wrapper {
	.ty-product-block__description {
		margin: 10px 0;
	}
	.ty-product-block__note {
		padding: 0;
		margin-bottom: 10px;
	}
	.ty-product-prices {
		margin-top: 0;
	}
	.ty-product-block__option .ty-control-group__label {	
		min-width: auto;
	}
}