.ty-social-buttons {
    margin: 5px 0px 0;
}

.ty-social-buttons__inline {
	margin-right: 5px;
	display: inline-block;
	
	[id*="___plusone"],
	[id*="___plusone"] iframe {
		width: 70px !important;
	}
}