.ty-sort-container {
    display: block;
	width: auto;
	background: none;
	padding-left: 0;
	margin-top: 10px;
	margin-left: -8px;
}

.ty-sort-container__views-a.active {
	color: @accent_second;
	background: none;	
}

.ty-sort-container__views-a {
	width: auto;
	height: auto;
	padding: 0px 0 0 11px;
	font-size: 24px;
	color: @font;
}