/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/

.grid-list {
	
	.col-tile {
		width: 16.6666%;
		display: inline-block;
		float: left;
		&.bnw-x2 {
			width: 33.32666%;
		}
	}
	@media screen and (max-width: 1680px) {
		.col-tile {
			width: 20%;
			&.bnw-x2 {
				width: 39.9333%;
			}
		}
	}
	@media screen and (max-width: 1365px) {
		.col-tile {
			width: 25%;
			&.bnw-x2 {
				width: 50%;
			}
		}
	}
	@media screen and (max-width: 1024px) {
		.col-tile {
		  width: 33.33333%;
			&.bnw-x2 {
				width: 33.32666%;
			}
		}
	}
	@media screen and (max-width: 767px) {
	  .col-tile {
		  width: 50%;
            &.bnw-x1 {
                width: 50%;
            } 
            &.bnw-x2 {
                width: 100%;
            }
		}
	}
	@media screen and (max-width: 320px) {
	    .col-tile {
            width: 100% !important;
            &.bnw-x1, &.bnw-x2 {
                width: 100% !important;
            }
        }		
	}
}

.span12 .grid-list {
	
	.col-tile {
		width: 25%;
		&.bnw-x2 {
			width: 50%;
		}
	}
	@media screen and (max-width: 1660px) {
		.col-tile {
			width: 25%;
			&.bnw-x2 {
				width: 50%;
			}
		}
	}
	@media screen and (max-width: 1365px) {
		.col-tile {
		  width: 33.33333%;
			&.bnw-x2 {
				width: 33.32666%;
			}
		}
	}
	@media screen and (max-width: 1023px) {
	  .col-tile {
		  width: 50%;
		    &.bnw-x1 {
				width: 50%;
			}
			&.bnw-x2 {
    			width: 100%;
			}
		}
	}
}


.top-menu-grid .top-menu > .ty-menu__items {
	
	.ty-top-mine__submenu-col {
	  width: -webkit-calc(~'100%/6 - 14px');
	  width: calc(~'100%/6 - 14px');	
	}
	& > .ty-menu__item > .ty-menu__submenu {
		.ty-menu__submenu-items {
			padding: 40px 0;
		}
	}
	@media screen and (max-width: 1280px) {
		.ty-top-mine__submenu-col {
		  width: -webkit-calc(~'100%/5 - 14px');
		  width: calc(~'100%/5 - 14px');	
		}
	}
	@media screen and (max-width: 1024px) {
		.ty-top-mine__submenu-col {
		  width: -webkit-calc(~'100%/4 - 14px');
		  width: calc(~'100%/4 - 14px');	
		}
	}
	@media screen and (max-width: 900px) {
		.ty-top-mine__submenu-col {
		  width: -webkit-calc(~'100%/3 - 14px');
		  width: calc(~'100%/3 - 14px');	
		}
	}
}


.ty-product-detail {
    @media screen and (min-width: 1600px) {
	    
        .sticky-block .ypi-product-block__left .span8 + .span8 {
			.xcalc(580px);
		}
		.ypi-product-block__left {
	        .xcalc(380px);
	        padding-right: 20px;
	        .ty-product-block__img-wrapper {
		        max-width: 580px;
				width: 580px;
			}
        }
    }
    @media screen and (min-width: 1680px) {
        &.fixed-form.view .sticky-block {
	        .prices-container {
                min-height: inherit;
            }
        }   
    }
    .ypi-product-block__left {
        .xcalc(380px);

        @media screen and (min-width: 800px) {
        	padding-right: 20px;
        }
        @media screen and (min-width: 1260px) {
        	padding-right: 40px;
        }
    }
    .ypi-product-block__right {
        width: 380px;
    }
        
    &.fixed-form {
        .sticky-block {
            width: 380px;
            min-height: 270px;
        }
    }
}