/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
@fluid-row_min-padding: 20px;
@fluid-row_max-padding: 80px;

.container-fluid {
    width: auto;
    min-width: inherit;
    max-width: none;
    padding-right: 0;
    padding-left: 0;
}
.container-fluid-row {
    max-width: @fluidContainerMaxWidth;
    min-width: @fluidContainerMinWidth;
    margin: 0 auto;
    .clearfix();
}
.container-fluid > .container-fluid-row.container-fluid-row-no-limit {
    padding: 0;
}
.container-fluid-row-full-width,
.container-fluid-row-no-limit {
    max-width: none;
}
.container-fluid-row-full-width > .row-fluid {
    max-width: @fluidContainerMaxWidth;
    min-width: @fluidContainerMinWidth;
    margin: 0 auto;
}
.container-fluid-row.container-fluid-row-no-limit {
    padding-right: 0;
    padding-left: 0;
}
.row-fluid [class*="span"]:first-child {
    padding-left: 0;
    padding-right: 0;
}
.container-fluid .ty-footer-grid__full-width {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: @fluidContainerMaxWidth + 160px) {
	.container-fluid > .container-fluid-row {
        padding-right: @fluid-row_max-padding;
        padding-left: @fluid-row_max-padding;
	}
	.container-fluid-row-full-width > .row-fluid {
        max-width: @fluidContainerMaxWidth - (@fluid-row_max-padding * 2);
	}
	.container-fluid > .container-fluid-row.container-fluid-row-no-limit {
        .abyt-a-content {
            padding-right: @fluid-row_max-padding;
            padding-left: @fluid-row_max-padding;
        }
    }
}
@media screen and (max-width: 1200px) {
	.container-fluid > .container-fluid-row {
        padding-right: @fluid-row_min-padding;
        padding-left: @fluid-row_min-padding;
	}
}
@media screen and (max-width: 767px) {
    .tygh-header > div, .tygh-top-panel > div {
        padding: 0;
    }
}