/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/

@v-menu-colh: 410px;
@v-menu-colw: 250px;
@v-menu-imgw: 320px;
@v-menu-imgw-mini: 300px;
@tbm-height: 48px;
@bg-main-menu: darken(@ddmcolor, 40%);

@menu_onelevel_col: @fluidContainerMaxWidth/16*4 - 7.5px;
@menu_full_width: @fluidContainerMaxWidth - @menu_onelevel_col;
@menu_col_width: 170px;

.m-label {
	display: inline-flex;
    align-items: center;
    height: 14px;
    padding: 0 5px;
    line-height: 14px;
    font-size: 9px;
    font-weight: 500;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 2px;
    position: relative;
    left: 5px;
    top: -2px;
    color: white;
    background: darken(@ddmcolor, 30%);
}

.link-more {
	color: @links;
	i {
		font-size: @body_font_size;
		position: relative;
		top: 2px;
	}
	span {
		border-bottom: 1px dotted fade(@links, 50%);
	}
}

.mwi-html {
    position: absolute;
    width: @v-menu-imgw;
    height: 100%;
    padding: 0;
    z-index: -1;

    p {
        padding: 0; // reset
    }

    &.right_top {
        right: 0;
        top: 0;
        border-left: 1px solid @ddmcolor;
        display: table-cell;
        overflow: hidden;
        p {
            padding: 0 20px;
            position: absolute;
            top: 30px;
            right: 0;
        }
    }
    &.right_bottom {
        right: 0;
        bottom: 0;
        border-left: 1px solid darken(@ddmcolor, 5%);
        display: table-cell;
        overflow: hidden;
        p {
            padding: 0 20px;
            position: absolute;
            bottom: 30px;
            right: 0;
        }
    }
    &.bottom {
        right: 0;
        bottom: 0;
        width: 100% !important;
        height: auto;
        p {
            padding-top: 100%;
        }
    }
}


.top-menu {
	.ty-menu__items {
	    .ty-menu__item {

		    ul.ty-menu__submenu-items-simple {
				align-content: flex-start;
				
				@media screen and (min-width: 768px) {
					
			        li.ty-menu__submenu-item:not(.mwi-html) {
					    padding: 0 0 3px;
				    }
			        &.with-icon-items {
			            .ty-menu__submenu-item {
			            	display: inline-block;
			            	width: 20%;
			                min-width: 200px;
			                float: left;
			                vertical-align: top;
			            }
			        }
			    }
		        @media screen and (max-width: 767px) {
		            > li.ty-menu__submenu-item {
		                display: flex;
		                padding: 0;
		                position: relative;
		                width: 100% !important;
		                border-color: @ddmcolor;
		                
		                .ty-menu__submenu-link {
		                    width: 100%;
		                    color: lighten(@font, 15%);
		                }
		            }
		            .link-more, .sub-title-two-level {
			            display: none !important;
			        }
		        }
			}
			
		    ul.ty-menu__submenu-items {

				.ty-top-mine__submenu-col {
					.ty-menu__submenu-item-header {
						@media screen and (min-width: 768px) {
					        display: flex;
					        align-items: flex-end;
				        }
				        border-bottom: 0 none;
				        margin-bottom: 0;
				        padding-bottom: 7px;
				        width: 100%;
			        
				        a {
				            font-size: 14px;
				            line-height: 120%;
				            font-weight: 700;
				            color: @font;
				            
				            &:hover {
				                color: @links;
				            }
				            bdi {
						    	float: left;    
					        }
				        }
				        &-active bdi {
				            &:before {
					            display: inline-block;
				                content: "";
				                width: 10px;
				                height: 10px;
				                margin-right: 4px;
				                background: @decorative;
				                .border-radius(5px);
				            }
				        }
				    }
			    }			    
		        .ty-menu__submenu-item {
					display: flex;
					align-items: center;
					margin-bottom: 0;
					padding: 0 0 3px 0;
		            
		            a {
		            	color: lighten(@font, 15%);
		            	
		            	bdi {
			                float: left;
			                clear: both;
		                }
		            	&:hover {
		                	color: @links;
		            	}
		            }
		        }
		        
		        &:not(.tree-level-dropdown) > li {
		            padding: 0;
		            
		    		@media screen and (max-width: 767px) {
		                > div, &.ty-menu__submenu-col {
		                    padding: 0;
		                    position: relative;
		                    width: 100% !important;
		                }
		                .ty-menu__submenu {
		                    display: flex;
		                    flex-direction: column;
		                    
		                    .ty-menu__submenu-list {
		                    	overflow: visible;
		                    	padding-bottom: 10px;
		                    	width: 100%;  
		                    	height: auto !important;
		                    }
		                }
		                .ty-menu__submenu-item-header {
		                    padding-bottom: 0;
		                    margin-bottom: 0;
		                }
		                .link-more, .sub-title-two-level {
				            display: none !important;
				        }
			        }
					@media screen and (min-width: 768px) and (max-width: 1047px) {
						.ty-top-mine__submenu-col {
					        max-width: 25% !important;
				        }
					}
		        }
		        &.tree-level-dropdown > li {
			        .ty-top-mine__submenu-col {
				        margin: 0;
			        }
		        }
		        
		        &:not(.row-filling):not(.tree-level-dropdown) {
		
		            > li:not(.mwi-html) {
			            	                            
		                @media screen and (min-width: 768px) {
		                    display: inline-block;
							vertical-align: top;
		                	min-width: @menu_col_width;

		                	> .ty-top-mine__submenu-col {
		                    	margin: 0 0 20px 0;
		                    	padding-right: 20px;
		                    	min-width: 100%;
		                	}
		            	}
		            }
		            &.ty-menu__submenu-items-simple:not(.with-icon-items) {
			            
			            @media screen and (min-width: 768px) {

				            > li:not(.mwi-html) {
						        min-width: 100%;
				            }
			            }
			            @media screen and (min-width: 768px) and (max-width: 1024px) {
			            }
		            }
		        }
				
		        &.row-filling {
		            > li {
						@media screen and (min-width: 768px) {
		                    > div:not(.mwi-html) {
								display: inline-block;
								vertical-align: top;
								padding: 0 20px 0 0;
								margin: 0 -4px 20px 0;
								min-width: @menu_col_width;
		                    }
		                }
		            }
		        }
		        
		        &.with-pic {
		            .mwi-html {
		               display: none; 
		            }
		            @media screen and (min-width: 1024px) {
		            	padding-right: @v-menu-imgw !important;
		            	
						.mwi-html {
			               display: block; 
		                }
		            }
					&.row-filling > li > div:not(.mwi-html) {
						@media screen and (min-width: 768px) and (max-width: 1260px) {
							width: 25% !important;
						}
						@media screen and (min-width: 768px) and (max-width: 880px) {
							width: 50% !important;
						}
					}
		        }
		        
		        .ty-menu__submenu {
		            display: inline-block;
		            width: 100%;
		
		            &-list.hiddenCol:not(.view) {
		                overflow: hidden;
		            }
		        }
		
		        .ty-menu__submenu-item-active a {
		            color: @light-color-40;
		            background: none;
		            padding: 0;
		            
		            bdi:before {
		                content: "";
		                width: 10px;
		                height: 10px;
		                display: inline-block;
		                margin-right: 4px;
		                background: @decorative;
		                .border-radius(5px);
		            }
		        }
			}

			@media screen and (min-width: 768px) {
				&:hover, &:focus {
					.ty-menu__submenu-items:not(.row-filling):not(.dropdown-column-item) {
						display: flex;
						flex-wrap: wrap;
					}
				}
			}
			@media screen and (min-width: 768px) and (max-width: 1280px) {
				.ty-menu__submenu-items:not(.row-filling) {
					&.lot-children {
						justify-content: space-between;
					}

					&:not(.lot-children):not(.tree-level-dropdown) {
						.ty-menu__submenu-col {
							width: auto !important;
						}
					}
				}
			}
			@media screen and (min-width: 1281px)  {
				.ty-menu__submenu-items:not(.row-filling) {
					&:not(.lot-children):not(.tree-level-dropdown) {
						.ty-menu__submenu-col {
							max-width: 25%;
						}
					}
				}				
			}
		}
	}
}

.top-menu-grid {
    padding-top: 0;
    background: @bg-main-menu;

    .ty-menu__item-active .ty-menu__item-link {
        background: darken(@bg-main-menu, 10%);
    }
    .closer_fixed-menu {
        display: none;
    }
	    
    &.extended > .ty-menu__wrapper > .ty-menu__items {
        width: 9999px;
        visibility: hidden;
    }
    
    .ty-menu__wrapper {
        display: inline-block;
        overflow-x: hidden;
        overflow-y: hidden;
        vertical-align: top;
        height: @header-vheight;
	}
	
    .ty-menu__items {
	    position: inherit;
	    margin: 0;
        background: none;
        z-index: 1;
        .border-radius(0);
        
        .ty-menu__item {
			
			&:not(.ab__menu_hidden) .ty-menu__item-link {
    			display: flex;
				border-left: 1px solid fade(darken(@menu, 40%),15%);
				margin-right: -1px;
			}
			&:last-child {
				border-right: 1px solid fade(darken(@menu, 40%),15%);
			}

	        .ty-menu__item-link {
		        white-space: nowrap;
                padding: 0 15px;
                line-height: @header-vheight;
                font-weight: 600;
	            text-transform: uppercase;
	            color: @menu_links;
	            .border-radius(0);
	            
	            .item-with-icon {
				    display: flex;
				    align-items: center;
				    justify-content: flex-start;
				}
	            
	            .mwi-img {
                    max-height: 24px;
                    max-width: 24px;
                    width: 32px;
                    margin-right: 7px;
                }
                .m-label {
				    margin-left: 0;
				    margin-right: 4px;
                }
	        }
	        &-active .ty-menu__item-link {
		        background: fade(darken(@menu, 80%), 15%);
	        }
            
            
            > .ty-menu__submenu {
                display: inline-block;
                position: absolute;
                width: 100%;
                left: 0;
                background: white;
                z-index: 200;
                .box-shadow(0 3px 10px 0 rgba(0, 0, 0, 0.3));
                
				ul.ty-menu__submenu-items {
					max-width: @fluidContainerMaxWidth;
			        width: 100%;
			        padding-top: 30px;
			        padding-bottom: 30px;
			        margin: 0 auto;
			        border: 0 none;
			        position: relative;
			        overflow: hidden;
			        .border-radius(0 0 4px 4px);
			        
			        .mwi-img {	
						display: block;
					    max-width: 100px;
					    padding-bottom: 10px;
				    }
			        
                    @media screen and (max-width: @fluidContainerMaxWidth + (@fluid-row_max-padding * 2)) {
                        max-width: @fluidContainerMaxWidth - (@fluid-row_max-padding * 2);
                    }
                    @media screen and (max-width: @fluidContainerMaxWidth) {
                        padding: 30px @fluid-row_max-padding;
                        max-width: inherit;
                    }
                    @media screen and (max-width: 1200px) {
                        padding: 30px 0 30px @fluid-row_min-padding;
                    }
                }
            }
        }
    }
    .ab__menu_hidden {
        width: 0 !important;
        overflow-x: hidden;
    }
    .abt_yp_menu-show_more {
        cursor: pointer;
        display: none;
        line-height: @header-vheight;
        padding-right: 20px;
        position: relative;
        color: rgba(255, 255, 255, 0.65);
        float: right;
        
        &:after {
            content: "";
            position: absolute;
            display: block;
            left: 27px;
            top: 16px;
            border-color: transparent;
            border-style: solid;
            border-top-width: 0;
            border-left-color: rgba(255,255,255,0.65);
            border-width: 8px;
        }
        &:hover {
            &:after {
                border-left-color: white;
            }
        }
        &.last-section:after {
            .rotate(180deg);
            left: 18px;
        }
    }
        
    .icon-down-dir {
        position: relative;
        top: 2px;
        font-size: 15px;
        .opacity(50);
    }
}

@media screen and (max-width: 767px) {
	
	.ty-menu__submenu-item {
		padding: 0;
	}
	
    .top-menu-grid .top-menu > .abt_up-menu > .ty-menu__wrapper {
        overflow-x: inherit;
        overflow-y: inherit;
        height: inherit;
        
        > .ty-menu__items {
            visibility: inherit;
            
            > li.ty-menu__item:not(.ty-menu__menu-btn) {
                background: lighten(@menu, 5%);
                border-bottom: 0 none;
                border-top: 1px solid darken(@menu, 2%);
                
                a.ty-menu__item-link {
                    padding: 0 20px;
                    width: 9999px !important;
                    display: table-cell;
                    
                    .icon-down-dir {
                        display: none;
                    }
                }
            }
            
            > li.ty-menu__item {
                margin: 0 -20px;
                
                &.ty-menu__menu-btn {
                    width: inherit !important;
                    display: inline-block !important;
                    
                    a.ty-menu__item-link {
                        padding: 0 20px;
                        
                        i:first-child {
                            font-size: 28px;
                            position: relative;
                            top: 9px;
                            left: -3px;
                        }
                        i:last-child {
                            font-size: 18px;
                            position: relative;
                            top: 4px;
                            .opacity(50);
                        }
                    }
                }
                
                .ty-menu__submenu {
                    .ty-menu__submenu-items {
	                    min-height: auto !important;
                        background: white;
                        padding: 0;
                       
                        .ty-menu__submenu-item .ty-menu__submenu-link {
                            padding: 15px 20px;
                            color: @links;
                        }
                        .ty-menu__submenu-item-header-active {
	                        background: @ddmcolor;
                        }
                    }
                    .ty-menu__submenu-item-header {
                    	border-bottom: 0;
                    	
	                    a {
	                        font-family: @body_font;
	                        font-size: 12px;
	                        font-weight: normal;
	                        padding: 0 20px;
	                        height: @header-vheight;
	                        line-height: @header-vheight;
	                        border-top: 1px solid @ddmcolor;
	                        
	                        bdi {
		                        float: none;
	                        }
	                    }
                    }
                    .mwi-html {
                        display: none !important;
                    }
                    
                    .ty-menu__submenu {
                        .ty-menu__items-show {
                            padding: 15px;
                        }
                        .ty-menu__submenu-item {
                            padding-left: 20px;
                            border-bottom: 0 none;
                            
                            .ty-menu__submenu-link {
                                padding: 3px 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .ty-menu__item-toggle {
        height: @header-vheight;
        i {
            font-size: 26px;
            .opacity(70);
        }
    }
    .ty-menu__item-toggle-active {
        background: @menu;
    }
    .mwi-icon {
	    display: none !important;
    }
}

@media screen and (min-width: 768px) {
	
	.tbm-menu {
		max-height: @tbm-height;
		overflow: hidden;
    
		.ty-menu__item {
		    .ty-menu__item-link {
			    display: table-cell;
			    vertical-align: middle;
			    height: @header-vheight;
				text-align: center;
				line-height: 0 !important;
				overflow: hidden;
				
				> span {
                    display: flex;
                    align-items: center;
				}
				img.mwi-img {

				}
				bdi {
					font-size: 12px;
					line-height: 130%;
					white-space: normal;
				}
				.item-with-icon {
				    display: flex;
				    text-align: left;
				    white-space: pre-wrap;
				    align-items: center;
				    
					bdi {
					    -webkit-line-clamp: 2;
					    -webkit-box-orient: vertical;
					    -webkit-box-pack: center;
					    -webkit-box-align: center;
					    display: -webkit-box;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    height: @header-vheight - 18;

					}
					
				}
				.icon-down-dir {
				    line-height: 0;
				    top: 3px;
				}
		    }
	    }
	}
}


.top-menu-grid-vetrtical {
    background: @bg-main-menu;
    
    .ty-dropdown-box__content {
        left: 0;
        right: auto;
        top: inherit;
    }
    .ty-dropdown-box__title {
        padding: 17px 40px 0 60px;
        line-height: 100%;
        background: rgba(0,0,0,.35);
        border: 0 none;
        height: 48px;
        min-width: @v-menu-colw;
        
        .transition(background 150ms);
        
        a {
            font-size: 16px;
            font-weight: bold;
            color: white;

            &:after, &:before {
                .material-icons-css();
                position: absolute;
            }
            &:before {
                content: "\E5D2";
                margin: -7px 0 0 -40px;
                font-size: 28px;
                color: white;
            }
            &:after {
                content: "\E313";
                color: rgba(255, 255, 255, 0.5);
                margin: -2px 0 0 0;
                right: 15px;
            }
        }
        &:hover {
            background: @active-menu-link;

			@m-active-bg() when (@menu = @active-menu-link) {
				background: fade(darken(@menu, 80%), 50%);
			}
			@m-active-bg();
        }
        &.open {
            background: @active-menu-link;
            
            @m-active-bg() when (@menu = @active-menu-link) {
				background: fade(darken(@menu, 80%), 50%);
			}
			@m-active-bg();
            a {
                &:after {
                    .rotate(180deg);
                }
            }
        }
    }
    .icon-right-dir {
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -9px;
        color: @light-color-65;
    }
    .ty-menu__item-link, .ypi-submenu-col {
        &:hover .icon-right-dir {
            color: @light-color-40;
        }
    }
    .exp-mwi-text {
        display: none;
    }

    .ypi-menu__inbox {
        min-height: @v-menu-colh;

        li {
            padding: 0; // reset padding
        }

        > .ty-menu__items {
            background: none;
            padding: 20px 0;
            .border-radius(0);

            > .ty-menu__item {
                width: 100%;
                border-bottom: 1px solid @ddmcolor;
                
                &:first-child {
                    border-top: 1px solid @ddmcolor;
                }

                .ty-menu__item-link {
                    .border-radius(0);
                    padding: 8px 20px;
                    min-height: 42px;
                    font-size: 14px;
                    font-weight: 700;
                    color: @font;
                    background: white;

                    .menu-lvl-ctn {
                        color: @font;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 24px;

                        .mwi-img {
                            margin-right: 7px;
                        }

                        @media screen and (min-width: 768px) {
                            &.exp-wrap {
                                padding-left: 44px;
                                line-height: inherit;
                                
                                .mwi-img {
                                    max-height: 32px;
                                    max-width: 32px;
                                    position: absolute;
                                    margin-left: -44px;
                                    margin-top: 4px;
                                }
                                .exp-mwi-text {
                                    font-size: 11px;
                                    font-weight: normal;
                                    line-height: 120%;
                                    color: #999;
                                    width: 80%;
                                    margin-top: 3px;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
                .menu-lvl-ctn .mwi-img {
                    max-height: 24px;
                    max-width: 24px;
                    margin-right: 20px;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {

        .ypi-menu__inbox {
            .ty-menu__items {
                padding: 10px 0;
                
                .ty-menu__item {
	                
                    &:first-child {
                        border-top: 0 none;
                    }
                    &:last-child {
                        border-bottom: 0 none;
                    }
                    
                    .ty-menu__submenu {
                        position: inherit !important;
                        
                		.mwi-img {
							display: block;
						    max-width: 100px;
						    padding-bottom: 10px;
					    }

                        .ty-menu__submenu-items {
                            margin-left: 100%;
                            padding: 20px 0 20px 20px;
                            top: 0;
                            right: auto;
                            overflow: hidden; // erase images overflow
                        }
                        
                        .ty-menu__submenu-items-simple {
                            padding: 20px;
                            
                            .ty-menu__submenu-item {
							    
						    }
						    
					    	&.with-icon-items {
					            .ty-menu__submenu-item {
					                min-width: 200px;
					                
						            .item-icon {
										display: flex;
										flex-direction: column;
										align-items: center;
										text-align: center;
										padding-bottom: 20px;
										
										bdi {
									        height: 30px;
										    width: 100%;
										    line-height: 120%;
										    overflow: hidden;
										    white-space: normal;
											-webkit-line-clamp: 2;
											-webkit-box-orient: vertical;
											display: -webkit-box;
											overflow: hidden;
											text-overflow: ellipsis;
											padding: 0 10px;
										}
		                            }
	                            }
					            a {
						            font-weight: bold;
					            }
					        }
					        
                            a[class*="link"]:not(:hover) {
                                color: @font;
                            }
                            
                            .item-with-icon {
	                            width: 20%;
	                            min-width: 200px;
	                            float: left;
	                            padding-right: 20px;
	                            margin-bottom: 20px;
                            }
                        }
                    }
                    
                    a.ty-menu__item-link:hover, .ty-menu__item-active a.ty-menu__item-link {
                        background: @ddmcolor !important;
                        color: @font;
                    }
                }
            }

            li.ty-menu__submenu-col {
                .ypi-submenu-col {
                    width: 100%;
                    margin-bottom: 20px;
                    padding-right: 20px;
                }
            }
            .with-pic {
                padding-right: @v-menu-colw + 70px !important;
            }

            .ypi-submenu-col {

		        .ty-menu__submenu-item-header {
					@media screen and (min-width: 768px) {
				        display: flex;
				        align-items: flex-end;
			        }
		            border-bottom: 0 none;
		            margin-bottom: 0;
		            padding-bottom: 7px;
		            width: 100%;
		            
		            a {
		                font-size: 15px;
		                line-height: 120%;
		                font-family: @ypi-heading-font;
		                font-weight: 700;
		                color: @font;
		                
		                &:hover {
		                    color: @links;
		                }
				        .m-label {
					        top: -2px;
				        }
		            }
		        }
		        .ty-menu__submenu {
                    display: inline-block;
                    width: 100%;

                    &-list.hiddenCol:not(.view) {
                        overflow: hidden;
                    }
                }
                
		        .ty-menu__submenu-item-header, .ty-menu__submenu-item {
		            &-active a {
                        background: none;
                        padding: 0;
                        
			            bdi:before {
				            display: inline-block;
			                content: "";
			                width: 8px;
			                height: 8px;
			                margin-right: 4px;
			                background: @decorative;
			                .border-radius(4px);
			            }
			        }
		        }
            }
			
            .ty-menu__submenu-items.tree-level-dropdown {
                padding: 18px 0 !important;
				
                .ty-menu__submenu-col {
	                display: flex;
	                flex-direction: column;
                    width: @v-menu-colw !important;
                    max-width: 300px;
                    margin-right: 100%;
                    padding-right: 0;
                    white-space: nowrap;
                }
                .ypi-submenu-col {
	                margin-bottom: 0;
	                padding-right: 0;
                }
                .ty-menu__submenu-item-header {
                    margin-top: 0;
                    position: relative;
                    
                    .ty-menu__submenu-link {
                        font-size: 14px;
                        border-bottom: 0 none;
                    }
                }
                .ty-menu__submenu .mwi-html {
                    z-index: 0;
                }
                .mwi-html {
                    padding: 20px;
                    max-width: @v-menu-colw;
                    left: 0;
                    bottom: 0;
                }
                .second-lvl {
                    .ty-menu__submenu-item-header .ty-menu__submenu-link {
                        display: inline-block;
                        width: 100%;
                        padding: 4px 40px 4px 20px;
                        min-height: 24px;
                        white-space: normal;
                    }
                    > .ty-menu__submenu {
                        display: none;
                    }
                    &:hover {
                        .ty-menu__submenu {
                            display: block;
                            width: 100%;
                            min-height: @v-menu-colh;
                            position: absolute !important;
                            top: 0;
                            margin-left: @v-menu-colw;
                            padding: 20px;
                            background: white;
                            border-left: 1px solid darken(@ddmcolor, 3%);
                        }
                    }
                    .tree-level-col {
                        width: @v-menu-colw - 20px;
                        display: inline-block;
                        float: left;
                        position: relative;
                        z-index: 1;
                    }
                    .sub-title-two-level {
                        font-size: 18px;
                        line-height: 120%;
                        font-family: @ypi-heading-font;
                        font-weight: 700;
                        margin-bottom: 10px;
                        position: relative;
                        z-index: 1;
                    }
                    .mwi-html {
                        max-width: inherit;
                        left: auto;
                    }
                }
            }
        }
    }
       
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .ypi-menu__inbox .ty-menu__submenu-items.tree-level-dropdown .second-lvl:hover .ty-menu__submenu {
	        display: flex;
		    flex-direction: column;
		    width: 302px;
        }
    }

    @media screen and (max-width: 767px) {

        .ty-dropdown-box__title {
            min-width: @menu_col_width;
            height: 48px;
            padding: 0 40px 0 60px;
            vertical-align: middle;
            display: table-cell;
            a {
                font-size: 14px;
                width: 80px;
                display: inline-block;
                &:before {
                    height: 28px;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    margin-top: -14px;
                }
                &:after {
                    top: 50%;
                    margin-top: -9px;
                }
            }
        }
        .ty-dropdown-box {
            position: inherit;
            margin-left: -20px;
        }
        .ty-dropdown-box__content {
            width: 100%;
        }
        .link-more, .ab-ut-mwi-html, .mwi-html, .sub-title-two-level {
            display: none !important;
        }

        .ypi-menu__inbox {
            li {
                position: relative;
            }
            .ty-menu__items {
                padding: 0;
                min-height: inherit !important;
                
                .ty-menu__item {
                    display: inherit;
                    
                    .ty-menu__item-link {
                        padding: 9px 20px;
                        min-height: 42px;
                        font-size: 14px;
                    }
                }
                li {
	                border-color: darken(@ddmcolor, 3%);
                }
                li:first-child {
                    border-top: 0;
                }
                li:last-child {
                    border-bottom: 0;
                }
            }
        }
        .menu-lvl-ctn i.icon-right-dir {
            display: none;
        }
        .ty-menu__item-toggle {
            height: 43px;
            width: 42px;
            font-size: 32px;
            background: lighten(@ddmcolor, 3%);
            
            i {
                color: darken(@ddmcolor, 35%);
                .opacity(100);
            }
            &.ty-menu__item-toggle-active {
                background: darken(@ddmcolor, 35%);
                
                i {
	                color: white;
                }
            }
        }

        .ty-menu__submenu {
	        ul.ty-menu__submenu-items {
	            min-height: inherit !important;
	            background: lighten(@ddmcolor, 3%);
	            margin-bottom: -1px;
	            width: 100% !important;
	            .box-shadow(none)!important;
	            
	            > li:last-child .ty-menu__submenu-item-header {
	                border-bottom: 1px solid darken(@ddmcolor, 3%);
	            }
	            
	            img.mwi-img {
                    display: none;
                }
	            
	            &.row-filling {
	                .ypi-submenu-col {
	                    float: left;
	                }
	            }
	            .ty-menu__submenu-link {
	                padding: 12px 20px 12px 20px;
	            }
	            li.ty-menu__submenu-col {
		            width: 100% !important;
		            
		            .ty-menu__submenu {
			            display: inherit;
		                position: relative;
		                min-height: inherit !important;
		                
		                ul.ty-menu__submenu-list {
		                    
		                    &.ty-menu__items-show {
		                        display: block;
		                    }
		                    .ty-menu__submenu-item {
			                    margin-bottom: 0;
			                    padding-bottom: 0;
		                        border-bottom: 0;
		                        background: lighten(@ddmcolor, 3%);
		                        
		                        .ty-menu__submenu-link {
			                        width: 100%;
		                            padding: 6px 20px 6px 40px;
		                            color: @links;
		                        }
		                    }
		                }
		            }
		            .ty-top-mine__submenu-col .ty-menu__submenu-item-header {
						min-height: 42px;
			            margin-bottom: 0;
			            padding-bottom: 0;
			            
			            .ty-menu__submenu-link, > a {
				            display: flex;
							align-items: center;
			                padding: 0 20px;
			                min-height: 42px;
			                font-size: 13px;
			                font-weight: normal;
			                text-transform: none;
							color: @font;
							
			                .xcalc(42px);
			            }
						.m-label {
					        top: 0;
				        }
				        &-active {
					        background: none;
				        }
			        }
			        .ypi-submenu-col {
			        	position: relative;    
		            }
		            .ty-menu__item-toggle {
		                right: 0;
		                background: darken(@ddmcolor, 3%);
		                border-top: 1px solid darken(@ddmcolor, 7%);
		                margin-top: -1px;
		                
		                i {
			                color: darken(@ddmcolor, 35%);
			            } 
		                &.ty-menu__item-toggle-active {
		                    background: darken(@ddmcolor, 35%);
		                    
		                    i {
			                    color: white;
			                }
		                }
		            }		            
	            }
	        }
        }

        .tree-level-dropdown .ty-menu__item-toggle-active + .ty-menu__submenu > ul {
	        display: block !important;
        }
    }

    .ypi-menu__inbox > .ty-menu__items > .ty-menu__item > .ty-menu__submenu .ty-menu__submenu-items {
			
        
        @media screen and (min-width: 768px) {
	        max-width: 1040px;
	        min-height: @v-menu-colh;
	        max-height: calc(~'100vh - 135px');
            overflow-y: auto !important;	
        }
		@media screen and (min-width: 1661px) {
			min-width: @fluidContainerMaxWidth - (@v-menu-colw + 50);
		}
		@media screen and (min-width: 768px) and (max-width: 1660px) {
	        width: calc(~'100vw - '(@v-menu-imgw + 155px)) !important;
        }
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            width: calc(~'100vw -'(@v-menu-imgw + 35px)) !important;
        }
        
        &:not(.tree-level-dropdown) {
	        
	        &:not(.with-pic) {
		        @media screen and (min-width: 768px) and (max-width: 1345px) {
			        .ty-menu__submenu-col:not(:only-child) {
				        width: 25% !important;
			        }
		        }
		        @media screen and (min-width: 768px) and (max-width: 1055px) {
					.ty-menu__submenu-col:not(:only-child) {
			            width: 33.3333% !important;
		            }
		        }
		        @media screen and (min-width: 768px) and (max-width: 885px) {
					.ty-menu__submenu-col:not(:only-child) {
			            width: 50% !important;
		            }
		        }
	        }
	        
	        &.with-pic {
		        
				@media screen and (min-width: 768px) and (max-width: 1495px) {		
		            .ty-menu__submenu-col:not(:only-child) {
			            width: 33.3333% !important;
		            }
		        }
		        @media screen and (min-width: 768px) and (max-width: 1325px) {
			        padding-right: 0 !important;
			        
			        .mwi-html {
			            display: none;
		            }
		            .ty-menu__submenu-col:not(:only-child) {
			            width: 25% !important;
		            }
		        }
		        @media screen and (min-width: 768px) and (max-width: 1155px) {
		            .ty-menu__submenu-col:not(:only-child) {
			            width: 33.3333% !important;
		            }
		        }
		        @media screen and (min-width: 768px) and (max-width: 885px) {
		            .ty-menu__submenu-col:not(:only-child) {
			            width: 50% !important;
		            }
		        }
	        }
        }
    }

    .link-more {
        padding-top: 0;
        display: inline-block;
        &.hidden {
            display: none;
        }
    }
    .ty-menu__item-arrow i {
        right: 15px;
        top: 10px;
        float: right;
        position: relative;
        font-size: 8px;
    }

    .ty-text-links {
        height: 48px;
        padding: 13px 20px 13px 25px;

        &.no-padding {
            padding: 14px 0 13px 20px;
        }
        .ty-text-links__item {
            display: inline-block;
            float: left;
            line-height: 100%;
            height: 22px;
            padding: 4px 15px;
            margin-right: 0;
            border-right: 1px solid fade(darken(@menu, 80%),15%);
            
            &:last-child {
                border-right: none;
            }
            a {
                color: lighten(@menu_links, 15%);
            }
            &:hover a {
                color: @menu_links;
            }
            i {
                position: relative;
                margin: 0 5px 0 -5px;
                top: -3px;
                float: left;
            }
        }
    }
}
        
.top-menu-grid, .top-menu-grid-vetrtical {

    .min_grid_menu() when (@fluidContainerMaxWidth = 1200px) {
        .mwi-html {
            &.right_top, &.right_bottom {
                width: @v-menu-imgw-mini;
            }
        }
    }
    .min_grid_menu();

    .yt_not_main_color() when (@abt__yt_general_not_main_color = true) {
        background: @menu;
        
        .ty-menu__item {
            a.ty-menu__item-link {
                color: @menu_links;
            }
            &:hover .ty-menu__item-link {
                background: @active-menu-link;
                color: white;
            }
        }
        .ty-menu__item-active {
			a.ty-menu__item-link, .ty-menu__item-link {
	            background: @active-menu-link;
	            color: white;
			}
			&.no-active:not(:hover) {
				a.ty-menu__item-link, .ty-menu__item-link {
					background: inherit;
				}
			}
        }
    }
    .yt_not_main_color();
}