/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
/* Youpi MIXIN */

.xcalc(@_xwidth) when (isnumber(@_xwidth)) {
  width: -webkit-calc(~'100% -'@_xwidth);
  width: calc(~'100% -'@_xwidth);	
}
.ycalc(@_yheight) when (isnumber(@_yheight)) {
  height: -webkit-calc(~'100% -'@_yheight);
  height: calc(~'100% -'@_yheight);	
}

.y-gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
	background-clip: border-box;
}

.pop-up-box() {
	position: absolute;
	z-index: 700;
	min-width: 250px;
	max-width: 400px;
	min-height: 100px;
	padding: 15px 20px;
	white-space: normal;
	text-align: left;
	background-color: @font;
	background-clip: padding-box;
	
	&:before {
		content: "";
		position: absolute;
		display: block;
		left: 50%;
		top: -22px;
		margin-left: -11px;
		border-color: transparent;
		border-style: solid;
		border-top-width: 0;
		border-bottom-color: @font;
		border-width: 11px;
	}
	.closer {
	    position: absolute;
	    right: 10px;
	    top: 10px;
	    color: @light-color-40;
	    &:hover {
		    color: @font;
	    }
	}
}

.y-btn() {
	position: relative;
	display: inline-flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: max-content;
	min-width: @height-i-el;
	height: @height-i-el;
	white-space: normal;
	font-size: 12px;
	font-weight: bold;
	line-height: 96%;
	letter-spacing: -.01em;
	margin: 0;
	padding: 0 20px;
	border: 0;
	overflow: hidden;
	outline: 0;
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
	white-space: nowrap;
	background-clip: border-box;
	.border-radius(3px);
}

.top-panel-wrap-buttons() {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 48px;
    height: 48px;
    padding: 0;
    border: 0 none;
    line-height: 0;
}

.dialog-opener-link() {
	color: @links;
	border-bottom: 1px dotted lighten(@links, 35%);
}

.yp_round(@round: 0) when (@abt__yt_general_show_rounds = not_rounds) {
	.border-radius(@round);
}
.yp_round(@round: 3px) when (@abt__yt_general_show_rounds = show_rounds) {
	.border-radius(@round);
}
.yp_round(@round: 22px) when (@abt__yt_general_show_rounds = show_full_rounds) {
	.border-radius(@round);
}

.flex() {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.flex-vertical-center() {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flex-horizontal-center() {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.flex-center() {
	.flex-vertical-center();
	.flex-horizontal-center();
}