/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/

input[type="text"],
input[type="password"],
.ty-btn,
.h-filters-more-btn,
.ypi-white-vfbt, .ypi-white-cfbt,
.abyt_banner,
.white-bg,
.ypi-cr-phone .material-icons,
.ypi-cart-user-wrap .ypi-search input.ty-search-block__input,
.grid-list .ty-grid-list__item form,
.grid-list .ty-grid-list__item,
.grid-list .more-products-link,
.ui-corner-all,
.grid-list .ypi-brand,
.ty-pagination,
.ty-horizontal-product-filters,
.ty-horizontal-product-filters-dropdown__wrapper,
.ty-sort-dropdown .ty-sort-dropdown__wrapper,
.ty-pagination__item, .ty-pagination__selected,
.ty-tabs .ty-tabs__item .ty-tabs__a, .ty-tabs .subtab a,
.ypi-product-block__note,
.ty-value-changer__increase, .ty-value-changer__decrease,
.owl-theme .owl-controls .owl-buttons div,
.ty-discussion-post,
.grid-list .ty-grid-list__control.show-list-buttons .ty-qty-out-of-stock,
.ypi-categories_grid .ty-subcategories__item a > span,
.qty_discounts_popup, .pop-up-box,
.vendor_communication-btn a,
.ty-variations-list__product-elem .ty-qty-out-of-stock, .pd-grid-cd-counter,
.ty-product-options__image--wrapper,
.ty-product-options__radio--label {
	.border-radius(0) !important;
}

.ty-btn__primary, .ty-btn__secondary, .ty-btn__tertiary {
	border-bottom: 0px none !important;
}


.ab__qobp_content input.ab__qobp_phone {
	.border-radius(0);
}