//btns
.ty-btn {
	font-weight: bold;
	border-radius: 3px;
	padding: 5px 14px 7px;
}
.ty-btn__text,
.ty-btn__text:hover {
	font-weight: normal;
	padding: 5px 0 7px;
}
.ty-btn__text:hover {
	color: @links_hover;
}
.th_list_buttons .ty-btn {
	margin: 0 10px 0px 0;
}
.buttons-container {
	padding-left: 0;
	padding-right: 0;
}
.cm-cart-buttons,
.ui-dialog .buttons-container {
	padding-left: 20px;
	padding-right: 20px;
}
.ty-mainbox-body .buttons-container {
	margin: 0;
}
.ty-btn-go {
	height: 34px;
	line-height: 34px;
}
.ty-btn__tertiary {
	color: @secondary_button;
	background: none;
	border-color: @secondary_button;
	
	&:hover {
		background: @secondary_button;
	}
}