//forms
.radio, .checkbox, input[type="radio"], input[type="checkbox"] {
	margin-top: -3px;
}

select,
input[type="text"], input[type="password"] {
	height: 36px;
}

input[type="text"],
input[type="password"],
textarea,
select {
	border-color: @border_color;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: @ok_color;
}

.ty-gift-certificate__switch,
.ty-profile-field__switch,
.ty-step__body-active .ty-address-switch {
	margin: 10px 0;
	background-color: @content_bg_section;
}

.ty-gift-certificate__switch {
	.radio, .checkbox, input[type="radio"], input[type="checkbox"] {
		margin-top: 0;
	}
}