//table
.ty-table,
.ty-cart-content {
	border-width: 0;
}
.ty-qty-discount__table {
	border: 1px solid @border_color;
}
.ty-table th,
.ty-table td,
.ty-table .table td,
.ty-cart-content .ty-cart-content__product-elem,
.ty-cart-content .ty-cart-content__title,
.ty-qty-discount__table .ty-qty-discount__td {
	border-right: 1px solid @border_color;
	border-bottom: 1px solid @border_color;
}
.ty-table th:last-child,
.ty-table td:last-child,
.ty-table .table td:last-child,
.ty-cart-content .ty-cart-content__product-elem:last-child,
.ty-cart-content .ty-cart-content__title:last-child,
.ty-qty-discount__table .ty-qty-discount__td:last-child {
	border-right-width: 0;
}
.ty-qty-discount__table tbody tr:last-child .ty-qty-discount__td {
	border-bottom-width: 0px;
}
.ty-table th,
.ty-cart-content .ty-cart-content__title,
.ty-qty-discount__table thead .ty-qty-discount__td {
	border-bottom-width: 2px;
}

@media (max-width: 767px) {	
	.ty-qty-discount__table .ty-qty-discount__td,
	.ty-qty-discount__table tbody tr:last-child .ty-qty-discount__td {
		border-right-width: 0;
		border-bottom-width: 1px;
	}
	.ty-qty-discount__table tbody tr .ty-qty-discount__td:last-child {
		border-bottom-width: 0;
	}
}
