.ty-breadcrumbs {
	padding-top: 15px;
}

.ty-breadcrumbs__a:hover {
	color: @links_hover;
}
.ty-breadcrumbs__current {
	color: @font;
}

.ty-breadcrumbs > .ty-breadcrumbs__a:first-child {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	padding-left: 14px;
	width: 14px;
	position: relative;
	.box-sizing(border-box);
	text-indent: -99999990px;
	
	&:before {
	    position: absolute;
	    left: 0;
	    top: 1px;
	    text-indent: 0;
	    font-size: 16px;
	}
}

@media (max-width: 767px) {
	.ty-product-switcher__a {
	    position: relative;
	    top: -1px;
	    vertical-align: middle;
	    font-size: 15px;
	}
}


//detail page
.th_benefit-dp {
	margin-bottom: 30px;
	text-align: center;
}

.th_benefit-dp__icon img {
	width: 40px;
	.opacity(60);
}
.th_benefit-dp__title {	
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}