.th_minicart__icon {
	font-size: 28px;
	margin-top: -2px;
}
.th_minicart__title {
	font-size: 13px;
	line-height: 16px;	
}
.th_minicart__icon,
.th_minicart__title {
	display: inline-block;
	vertical-align: top;
}
.tt_minicart__amount {
	display: block;
    min-width: 25px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: @accent;
    color: @accent_under_text;
    font-size: 12px;
    font-weight: bold;
    max-width: 26px;
}

@media (max-width: 767px) {
	.th_cart-content .ty-dropdown-box__title {
		position: relative;
		padding: 5px 12px 10px 10px;
	}
	.tt_minicart__text {
		display: none;
	}
	.th_minicart__title {
		position: absolute;
		right: 5px;
		top: 3px;
	}
}

.ty-cart-items__list-item-desc p {
	color: @price;
}
.ty-cart-items__list-item-desc a {
	color: @font;
}

