.ty-menu__submenu-items:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}
.tt_header-menu {
	margin-left: -20px;
}
.ty-menu-item__sale .ath_mega-menu__l1__link,
.ty-menu-item__sale .ty-menu__item-link,
.no-touch .ty-menu-item__sale .ty-menu__item-link:hover {
	color: @accent_second;
}

.ty-menu__item-link {
	padding-bottom: 10px;
	border-bottom: 3px solid @menu;
}
.no-touch .ty-menu__item:hover .ty-menu__item-link,
.is-hover-menu .ty-menu__item-link,
.is-hover-menu.ty-menu__item-active .ty-menu__item-link,
.ty-menu__item-toggle-active + .ty-menu__item-link,
.ty-menu__item-active .ty-menu__item-link {
	color: @accent;
	border-color: @accent;	
	background: @menu;
}

//dd
@media (min-width: 768px) {
	.ty-menu__submenu-items {
		background: @dropdown_box__bg;
		border-color: @dropdown_box__border;
	}
}
.ty-menu__submenu-item-header {
	color: @menu_links;
}
.ty-menu__submenu-item-header {
	color: @menu_links;
	
	&:hover {
		color: @links_hover;
	}
}
.ty-menu__submenu-items .ty-menu__submenu-link {
	color: @font;
	
	&:hover {
		color: @links_hover;
	}
}


//mobile
.ty-menu__item-toggle,
.ty-menu__item-toggle:hover,
.ty-menu__item .ty-menu__item-toggle-active {
	color: @menu_links;
}
.ty-menu__menu-btn .ty-menu__item-link {
	padding: 4px;
	
	.ty-icon-short-list {
		font-size: 28px;
		vertical-align: top;
		display: inline-block;
	}
	span {
		font-size: 16px;
		vertical-align: top;
		display: inline-block;
		padding-top: 6px;
	}
}
@media (max-width: 767px) {
	.ty-menu__item,
	.ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item {
		border-bottom: 0;
	}
	.tt_header-menu {
		margin-right: -20px;
	}
	.ty-menu__item .ty-menu__item-toggle-active {
		background: @accent;
	}
	.ty-menu__submenu-items {
		background: @dropdown_box__bg;
	}
	.ty-menu__submenu .ty-top-mine__submenu-col
	.ty-menu__submenu-item-header {
		text-transform: none;
		font-weight: normal;
	}
	.ty-menu__item-active .ty-menu__item-link,
	.ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__item-toggle-active,
	.ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__submenu-item-header {
		background: none;
	}
	//icons
	.ty-menu__item-toggle {
		font-size: 20px;
	}
	.ty-menu__icon-hide,
	.ty-menu__icon-open {
		line-height: 40px;
	}
	.ty-menu__submenu .ty-menu__submenu-item-header .ty-menu__submenu-link {
		font-weight: normal;
	}
}

// Dropdown vertical
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
.ty-menu-vertical .ty-menu__items {
	border-bottom: 0;
}
.ty-menu-vertical {
	.ty-menu__item .ty-menu__item-link {
		padding-left: 0;
		border-bottom: 0;
	}
	
	.menu-level-1 .ty-menu__submenu-item-header .ty-menu__item-link {
		color: @menu_links;
	}
}

@media (max-width: 767px) {
	.ty-menu-vertical .ty-menu__submenu-items .ty-menu__item,
	.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__submenu-items {
    	border: 0;
    }
    .ty-menu-vertical .ty-menu__item .ty-menu__item-toggle-active {
	    background: none;
    }
    .ty-menu-vertical .ty-menu__item.menu-level-2,
    .ty-menu-vertical .ty-menu__submenu .ty-menu__submenu .ty-menu__submenu-item-header .ty-menu__item-link,
    .ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__item-link {
	    padding-left: 15px;
	    color: @menu_links;
    }
}


.ty-text-links__svg-icon {
    display: inline-block;
    margin: -2px 0;
    color: currentColor;
    
    svg {
	    position: relative;
	    top: -1px;
	    
		width: 18px;
		height: 18px;
		display: inline-block;
		vertical-align: middle;
		fill: currentColor !important;
    }
}


