.th_footer__pay-icons {
	margin: 0 -10px;
}
.th_footer__pay-icon--svg,
.th_footer__pay-icon {
	display: inline-block;
	margin: 0 10px;
	position: relative;
	
	svg,
	object {
		height: 38px;
	}
}
.th_footer__pay-icon {
	&:after {
		content: ""; 
		position: absolute; 
		
		display: block;
		
		top: 0; 
		right: 0; 
		bottom: 0; 
		left: 0;
		
		background: @footer_copyright_section;
		.opacity( 35 );
		.transition(.25s opacity);
	}
	&:hover:after {
		.opacity( 10 );
	}
}
.th_footer__pay-icon--svg {
	svg {
		fill: @payments_color;	
	}
	
	&:hover svg {
		fill: darken(@payments_color, 15%);
	}
}