input.ty-search-block__input {	
    height: 40px;
    padding: 0 0 0 15px;
    border: 1px solid @border_color;
    border-right: 0 none;
    border-radius: 3px;
    vertical-align: middle;
    line-height: 40px;
}

.ty-search-magnifier {
	position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    
    width: 46px;
    height: 40px;
    color: @accent_under_text;
    background: @accent_second;
    border-radius: 0 3px 3px 0;
    
    i {
	    
	    font-size: 24px;
	    display: inline-block;
    }
}

input.ty-search-block__input:focus + .ty-search-magnifier {
	background: @ok_color;
}

//
.th_search-with-categories__select {
 	display: none;
}

.th_search-with-categories {
	
	.ty-search-block__input {	
		padding-right: 195px;
	}
	
	.hasCustomSelect.th_search-with-categories__select, 
	.customSelect.th_search-with-categories__select {
		width: 140px !important;
		height: 38px;
		position: absolute;
		top: 1px;
		right: 46px;
		z-index: 12;
		display: block;
		cursor: pointer;
	}
	.customSelect.th_search-with-categories__select {
		z-index: 9;
		
		&:before {
			content: '';
			display: block;
			width: 1px;
			height: 28px;
			
			background: @border_color;
			
			position: absolute;
			left: 0;
			top: 5px;
		}
		
		&:after {
			position: absolute;
			top: 12px;
			right: 20px;
			
			content: '\e801';
			font-family: t_thin_font;
			font-style: normal;
			font-weight: normal;
			speak: none;
			display: inline-block;
			text-decoration: inherit;
			text-align: center;
			font-variant: normal;
			text-transform: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	.customSelect.th_search-with-categories__select .customSelectInner {
		display: block !important;
		width: 140px !important;
		height: 38px;
		line-height: 38px;
		box-sizing: border-box;
		overflow: hidden;
		white-space: nowrap;
		padding-left: 15px;
		padding-right: 25px;
		text-overflow: ellipsis;
		font-size: 14px;
	}
	
	@media (max-width: 360px) {
		.ty-search-block__input {
			padding-right: 165px;
		}
		.hasCustomSelect.th_search-with-categories__select, 
		.customSelect.th_search-with-categories__select,
		.customSelect.th_search-with-categories__select .customSelectInner {
			width: 110px !important;
		}
		.customSelect.th_search-with-categories__select .customSelectInner {
			padding-left: 10px;
			padding-right: 10px;
		}
		.customSelect.th_search-with-categories__select:after {
			display: none;
		}
	}
}