.ty-sidebox__title-wrapper,
.ty-sidebox__title span,
.ty-sidebox__title a {
	text-transform: capitalize;
	color: @font;
	font-size: 20px;
	font-weight: normal;
}
.ty-sidebox__title {
	margin-bottom: 0;
}
.ty-sidebox {
	background: none;
	margin-bottom: 25px;
}
@media (min-width: 768px) {
	.ty-sidebox__title {
		padding-right: 0;
	}
}
.ty-sidebox .ty-owl-controls {
	margin-top: -5px;
}