.ty-simple-title {
	font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    
    &:after {
		content: '';
		display: block;
		width: 30px;
		height: 2px;
		margin: 10px 0;
		background-color: @font;
    }
}
.ty-simple-body {
	margin-bottom: 20px;
}