
#addon_ath_thin_theme_settingsinstalled .bg-icon,
#addon_ath_thin_theme_settings .bg-icon {
    background-image: url('../../../media/images/addons/ath_thin_theme_settings/images/addon_icon.png');
    background-size: contain;
    background-color: transparent;
    border: 0px;
}
#addon_ath_thin_theme_settingsinstalled .bg-icon i,
#addon_ath_thin_theme_settings .bg-icon i {
    display: none;
}

/*For Add-on block*/
.select-block-box .bmicon-mega-menu,
.block-header-icon.bmicon-mega-menu {
	background-position: 0 -240px;
}

