// Product detail
.ypi-product-block__img {
	.ab__vg-image_gallery_video {
		img {
			width: 100%;
			height: auto;
		}
	}
	iframe.ab__vg-image_gallery_video.cm-image-previewer {
		width: 100%;
		position: relative;
		z-index: 2;
		min-width: auto;
		min-height: auto;
	}
}
.ab__vg-image_gallery_video {
	cursor: pointer;
	&:before {
		content: "";
		display: inline-block;
		width: 50px;
		height: 50px;
		background: url('images/abt__youpitheme/youtube_logo.png') no-repeat center;
		background-size: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -25px 0 0 -25px;
		.opacity(95);
	}
	&:hover:before {
		.opacity(100);
		.transition(opacity 100ms linear);
	}
}

// Product tabs
.ab__video_gallery-block {
	margin: 0 -5px;
}
.ab__vg-videos {
	clear: both;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.ab__vg-video {
	width: 33.333333%;
	padding: 10px 5px;
	display: inline-block;
	float: left;
}
.ab__vg-video_thumb {
	display: inline-block;
	position: relative;
		&:before {
			content: "";
			display: inline-block;
			width: 50px;
			height: 50px;
			background: url('images/abt__youpitheme/youtube_logo.png') no-repeat center;
			background-size: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -25px 0 0 -25px;
			.opacity(95);
		}
		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.05);
		}
		&:hover {
		&:before {
			.opacity(100);
		}
		&:after {
			background: rgba(0, 0, 0, 0.02);
			-webkit-transition: background .3s;
			transition: background .3s;
		}
	}
}
.ab__vg-video_title p {
	font-size: 14px;
	padding: 10px 0 0;
}
.ab__vg-video_description p {
	color: @light-color-30;
}
.ab__vg-image_gallery_item {
	float: left;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items:center;
	margin:0 5px 5px 0;
	border:1px solid @base;
}
.ab__vg_loading img {
	width:100%;
}

.ty-product-thumbnails:not(.cm-image-gallery-wrapper) {
	.cm-ab__vg-gallery {
		display: block;
	}
	.ty-product-thumbnails__item {
		width: auto;
		height: auto;
	}
}

.ty-product-img.cm-preview-wrapper {
	&:not(.ab-vg-vertical-thumbnails) {
		width: 100%;
	}
}
@media screen and (min-width: 768px) {
	.ab-vg-vertical-thumbnails {
		& ~ .ty-product-bigpicture-thumbnails_gallery {
			.ty-thumbnails_gallery {
				position: relative;
			}
			.ty-icon-up-open, .ty-icon-down-open {
				font-size: 1.3rem;
				left: 50%;
				width: 100%;
				position: absolute;
				background: @base;
				.translate(-50%, 0);
			}
			.ty-icon-up-open {
				top: -22px;
			}
			.ty-icon-down-open {
				bottom: -22px;
			}
		}
	}
}

.ty-quick-view__wrapper {
	.ab-vg-vertical-thumbnails {
		& ~ .ty-product-bigpicture-thumbnails_gallery {
			.cm-image-gallery-wrapper {
				position: relative;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 1280px) {
	.ab__vg-video {
		width: 50%;
	}
}

@media screen and (max-width: 767px) {
	.ab-vg-vertical-thumbnails {
		& ~ .ty-center, &.jcarousel-skin {
			height: auto !important;
			width: auto !important;
			.cm-item-gallery {
				display: inline-block;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.ab__vg-video {
		width: 100%;
	}
}

// load hidden and make visible
.cm-ab__vg-gallery {
	opacity: 0;
	&.ab__vg_loaded {
		opacity: 1;
	}
}