{* TH *}
<div class="ty-exception th_exception">
    <div class="ty-exception__code">

		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511 511" enable-background="new 0 0 511 511"><path id="th_404_img" d="M39.5 103c1.97 0 3.91-.8 5.3-2.2 1.4-1.39 2.2-3.33 2.2-5.3 0-1.98-.8-3.91-2.2-5.3-1.39-1.4-3.33-2.2-5.3-2.2-1.97 0-3.91.8-5.3 2.2-1.4 1.39-2.2 3.33-2.2 5.3s.8 3.91 2.2 5.3c1.39 1.4 3.32 2.2 5.3 2.2zm24 0c1.97 0 3.91-.8 5.3-2.2 1.4-1.39 2.2-3.33 2.2-5.3s-.8-3.91-2.2-5.3c-1.39-1.4-3.33-2.2-5.3-2.2-1.97 0-3.91.8-5.3 2.2-1.4 1.39-2.2 3.33-2.2 5.3s.8 3.91 2.2 5.3c1.39 1.4 3.33 2.2 5.3 2.2zm24 0c1.97 0 3.91-.8 5.3-2.2 1.4-1.39 2.2-3.33 2.2-5.3s-.8-3.91-2.2-5.3c-1.39-1.4-3.33-2.2-5.3-2.2-1.97 0-3.91.8-5.3 2.2-1.4 1.39-2.2 3.33-2.2 5.3s.8 3.91 2.2 5.3c1.39 1.4 3.33 2.2 5.3 2.2zm32 0h304c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-304c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5zm336 0h16c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-16c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5zm-192 121h-16c-17.369 0-31.5 14.131-31.5 31.5v48c0 17.369 14.131 31.5 31.5 31.5h16c17.369 0 31.5-14.131 31.5-31.5v-48c0-17.369-14.131-31.5-31.5-31.5zm16.5 79.5c0 9.098-7.402 16.5-16.5 16.5h-16c-9.098 0-16.5-7.402-16.5-16.5v-48c0-9.098 7.402-16.5 16.5-16.5h16c9.098 0 16.5 7.402 16.5 16.5v48zm-80.5-7.5h-8.5v-64.5c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v64.5h-38.094l20.709-62.128c1.31-3.929-.814-8.177-4.744-9.487-3.929-1.311-8.177.814-9.487 4.743l-24 72c-.762 2.287-.379 4.801 1.031 6.757s3.674 3.115 6.085 3.115h48.5v16.5c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-16.5h8.5c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5zm184 0h-8.5v-64.5c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v64.5h-38.094l20.709-62.128c1.31-3.929-.814-8.177-4.744-9.487-3.929-1.311-8.177.814-9.487 4.743l-24 72c-.762 2.287-.379 4.801 1.031 6.757s3.674 3.115 6.085 3.115h48.5v16.5c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-16.5h8.5c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5zm88-240h-432c-21.78 0-39.5 17.72-39.5 39.5v320c0 21.78 17.72 39.5 39.5 39.5h432c21.78 0 39.5-17.72 39.5-39.5v-320c0-21.78-17.72-39.5-39.5-39.5zm-432 15h432c13.509 0 24.5 10.991 24.5 24.5v24.5h-481v-24.5c0-13.509 10.991-24.5 24.5-24.5zm432 369h-432c-13.509 0-24.5-10.991-24.5-24.5v-280.5h481v280.5c0 13.509-10.991 24.5-24.5 24.5z"/></svg>


    </div>
    
    
    
    <div class="ty-exception__title-info">
        <h1 class="ty-exception__title">{__("exception_title_alt")}</h1>
        <h3 class="ty-exception__title_sub">{__("exception_title_alt_sub")}</h3>

        <ul class="ty-exception__links">
            <li class="ty-exception__links-item">
            
	            {if $smarty.const.HTTPS === true}
	                {assign var="return_url" value=$config.https_location|fn_url}
	            {else}
	                {assign var="return_url" value=$config.http_location|fn_url}
	            {/if}
            
                <a class="ty-exception__links-a" href="{$return_url}">{__("go_to_the_homepage")}</a>
            </li>
            <li class="ty-exception__links-item" id="go_back">
                <a class="ty-exception__links-a cm-back-link">{__("go_back")}</a>
            </li>
        </ul>
       
		<h3 class="ty-exception__links-item__or clearfix">{__("or")}</h3>
        <div class="ty-exception__links-item__search">
	        {include file="common/search.tpl"}
        </div>
    </div>
    
</div>
<script type="text/javascript">
    {literal}
    Tygh.$(document).ready(function() {
        var $ = Tygh.$;
        $.each($.browser, function(i, val) {
            if ((i == 'opera') && (val == true)) {
                if (history.length == 0) {
                    $('#go_back').hide();
                }
            } else {
                if (history.length == 1) {
                    $('#go_back').hide();
                }
            }
        });
    });
    {/literal}
</script>