/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/

.grid-list {
	
	.col-tile {
		width: 25%;
		display: inline-block;
		float: left;
		&.bnw-x2 {
			width: 50%;
		}
	}
	

	@media screen and (max-width: 1024px) {
		.col-tile {
		  width: 33.33333%;
			&.bnw-x2 {
				width: 33.32666%;
			}
		}
	}
	@media screen and (max-width: 767px) {
	  .col-tile {
		  width: 50%;
            &.bnw-x1 {
                width: 50%;
            } 
            &.bnw-x2 {
                width: 100%;
            }
		}
	}
	@media screen and (max-width: 320px) {
	    .col-tile {
            width: 100% !important;
            &.bnw-x1, &.bnw-x2 {
                width: 100% !important;
            }
        }		
	}
}

.span12 .grid-list {
	
	.col-tile {
		width: 33.33333%;
		&.bnw-x2 {
			width: 33.32666%;
		}
	}
	
	@media screen and (max-width: 1024px) {
	  .col-tile {
		  width: 50%;
		  &.bnw-x1, &.bnw-x2 {
				width: 50%;
			}
		}
	}
}


.top-menu-grid .top-menu > .ty-menu__items {
	
	.ty-top-mine__submenu-col {
	  width: -webkit-calc(~'100%/5 - 14px');
	  width: calc(~'100%/5 - 14px');	
	}
	& > .ty-menu__item > .ty-menu__submenu {
		.ty-menu__submenu-items {
			padding: 40px 0;
		}
	}
	@media screen and (max-width: 1024px) {
		.ty-top-mine__submenu-col {
		  width: -webkit-calc(~'100%/4 - 14px');
		  width: calc(~'100%/4 - 14px');	
		}
	}
	@media screen and (max-width: 900px) {
		.ty-top-mine__submenu-col {
		  width: -webkit-calc(~'100%/3 - 14px');
		  width: calc(~'100%/3 - 14px');	
		}
	}
}
@media screen and (max-width: 320px) {
	.header-grid .top-menu-grid-vetrtical .ty-dropdown-box__title {
	    min-width: 150px;
	    padding: 0 10px 0 55px;
	    a:before {
		    margin-left: -37px;
	    }
	}
}


.ty-product-detail {
    .ypi-product-block__left {
        .xcalc(340px);
        padding-right: 20px;
    }
    .ypi-product-block__right {
        width: 340px;
    }
    
    &.fixed-form {
        .sticky-block {
            width: 340px;
            min-height: 270px;
            padding: 15px 15px 70px;
            
            .product-block-title-rt {
                padding: 10px 15px 5px 13px;
            }
			select {
			    min-width: 160px !important;
			    max-width: 160px !important;
			}
            
            @media screen and (min-width: 1367px) {
                .ypi-list-bt-block {
                    display: none;
                }
            }
        }

    }
}