/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
@table-transition: .3s ease;

.ty-wysiwyg-content {
    table {
        margin: 20px 0;
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        border-collapse: collapse;
        border-spacing: 0;
        tr {
            border: 1px solid darken(@base, 10%);
        }
        td, th {
            padding: .7em;
            border-left: 1px solid darken(@base, 10%);
            border-right: 1px solid darken(@base, 10%);
            cursor: default;
            .transition(@table-transition);
            &:hover {
                background: lighten(@base, 3%);
            }
        }
    }
    thead {
        tr {
            border: 1px solid darken(@base, 40%);
            td, th {
                border-left: 1px solid darken(@base, 40%);
                border-right: 1px solid darken(@base, 40%);
                background: lighten(@base, 3%);
                font-weight: bold;
                &:hover {
                    background: lighten(@base, 6%);
                }
            }
        }
    }
    ol, ul {
        padding-left: 30px;
    }
    blockquote, q {
        font-style: italic;
        color: darken(@base, 25%);
        font-size: .923em;
    }
    blockquote {
        margin: 20px 10px;
    }
    h1 {
        font-size: 2em;
        letter-spacing: -0.01em;
        font-weight: 700;
    }
    h2 {
        font-size: 1.7em;
        letter-spacing: -0.01em;
        font-weight: 700;
    }
    h3, h4 {
        font-size: 1.4em;
        letter-spacing: -0.01em;
        font-weight: 700;
    }
    ul {
        padding-left: 30px;
    }
    img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    @media screen and (max-width: 480px) {
        iframe {
            min-height: 195px;
            height: inherit;
        }
    }
}

pre, plaintext, xmp, code, listing {
    font-family: 'Monaco', 'Consolas', 'Andale Mono', 'Courier New', monospace, sans-serif;
    font-size: .923em;
    display: inline-block;
    background: lighten(@base, 5%);
    padding: .16em;
    border: 1px solid @base;
    .border-radius(.4em);
}