/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/

@height-i-el: 44px; // line height buttons
@light-color-30: lighten(@font, 30%);
@light-color-40: lighten(@font, 40%);
@light-color-65: lighten(@font, 65%);

input[type="text"], input[type="password"] {
    height: 36px;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="number"], textarea, select {
	border-color: darken(@base, 10%);
}

@media screen and (max-width: 1024px) {
    .hidden-tablet { display: none !important; }
}
@media screen and (max-width: 767px) {
    .hidden-phone  { display: none !important; }
}

.touch input.ty-value-changer__input,
input.ty-value-changer__input {
    width: 32px;
    height: 24px;
    font-size: 14px;
    padding: 4px;
    float: none;
    border: 0 none;
    .border-radius(0);
    &:hover, &:focus {
        border: 1px solid darken(@ddmcolor, 5%);
        width: 30px;
        margin: 0 1px;
    }
}
.ty-value-changer, .touch .ty-value-changer {
    width: 64px;
    margin: 5px 10px 5px 0;
}
.touch .ty-value-changer__increase,
.touch .ty-value-changer__decrease,
.ty-value-changer__increase,
.ty-value-changer__decrease {
    height: 16px;
    width: 16px;
    line-height: 14px;
    margin: 5px 0;
    font-size: 11px;
    color: darken(@ddmcolor, 10%);
    background: #FFF;
    border: 1px solid darken(@ddmcolor, 5%);
    float: right;
    &:hover {
        color: #fff;
        background: @links !important;
        border-color: @links;
    }
}
.ty-value-changer__increase {
    .border-radius(2px);
}
.ty-value-changer__decrease {
    .border-radius(2px);
    float: left !important;
}
.cm-hint {
    color: @light-color-40;
}

h1, h2 {
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
    font-family: @ypi-heading-font;
    margin-top: 15px;
}
.ty-subheader {
    color: @font;
    font-weight: 700;
    font-family: @ypi-heading-font;
}
.ty-mainbox-title {
    font-weight: 700;
}

.y-mainbox-title {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    font-family: @ypi-heading-font;
    margin: 10px 0;
}
.ty-footer-menu__header, .ty-footer-general__header {
    font-size: 16px;
}
.ty-mainbox-container > .y-mainbox-title {
    padding-right: 62px;
}
.ab__deal_of_the_day .action-title {
    font-weight: 700;
}

.tabs-center {
    .ty-tabs {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
    }
    .ty-tabs__list {
        .clearfix();
    }
}

@primary-bt-color: @menu_links;
@secondary-bt-color: white;
@tertiary-bt-color: @font;

.ty-btn {
    .y-btn();
    max-width: 100%;
    
    i {
	    top: inherit;
    }
    & > span {
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: normal;
		line-height: normal;
		word-wrap: break-word;
		overflow: hidden;
		max-height: @height-i-el;
		font-size: inherit;

		@media screen and (max-width: 767px) {
			display: flex;
			height: 28px;
			line-height: 110%;
		}
		
		& > span {
			font-size: inherit;
		    line-height: 1.3;
		    -webkit-line-clamp: 2;
		    -webkit-box-orient: vertical;
		    display: -webkit-box;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    max-height: 36px;
		    word-wrap: break-word;
		    .hyphens(auto);
		}
    }
}
.ty-btn__primary {
    color: @primary-bt-color;
    border-bottom: 2px solid darken(@primary_button, 10%);
    background: @primary_button;
    &:hover {
        background: lighten(@primary_button, 5%);
        border-color: darken(@primary_button, 7%);
        color: @primary-bt-color;
    }
}
.ty-btn__secondary {
    color: @secondary-bt-color;
    border-bottom: 2px solid darken(@secondary_button, 10%);
    background: @secondary_button;
    &:hover {
        background: lighten(@secondary_button, 5%);
        border-color: darken(@secondary_button, 7%);
        color: @secondary-bt-color;
    }
}
.ty-btn__tertiary {
    color: @tertiary-bt-color;
    border-bottom: 2px solid darken(@tertiary_button, 10%);
    background: @tertiary_button;
    &:hover {
        background: lighten(@tertiary_button, 3%) !important;
        border-color: darken(@tertiary_button, 5%);
        color: @tertiary-bt-color;
    }
}
.ty-btn__text {
    color: @font;
    border: 2px solid @ddmcolor;
    line-height: 40px;
    &:hover {
        color: @primary_button;
    	border: 2px solid @primary_button;
        padding: 0 20px;
    }
}
.ajax-link {
    color: @links;
    span {
	    border-bottom: 1px dotted lighten(@links, 20%);
	}
	&:hover span {
		border-bottom-color: @links;
	}
}
.ypi-allow-shopping {
	.xcalc(50px);
    white-space: normal;
    color: rgba(0,0,0,0.54);
    border-bottom-color: darken(@tertiary_button, 10%);
    background: @tertiary_button;
    
	i {
		font-size: 16px;
	}
	span {
		text-align: left;
		font-size: 11px;
		line-height: 120%;
	}
	&:hover { 
		color: @font;
	}
}
.ty-grid-list__item {
	.ypi-allow-shopping {
		@media screen and (max-width: 767px) {
			.xcalc(42px);
		    height: 36px;
		    font-size: 10px;
		    span {
			    font-size: 10px;
		    }
		}
		@media screen and (max-width: 480px) and (min-width: 321px) {
			i { display: none }
			.ty-btn span {
				text-align: center; 
			}
		}
	}
}
.ty-dropdown-box__content .ty-account-info__buttons .ty-btn {
	display: inline-flex;
}

.ty-btn-go {
    height: 34px;
}
.ty-btn-go__icon {
	top: 7px;
}
.more-btn {
    font-size: 16px;
    color: @links !important;
    margin: 5px 0;
    line-height: 120%;
    
    span {
        border-bottom: 1px dotted lighten(@links, 40%);
    }
    i {
        position: relative;
        top: 5px;
    }
}
.ypi-more-btn, .ty-btn.ty-product-filters__reset-button {
    font-size: 11px;
    height: 36px;
    padding: 0 15px;
    background: @content_bg;
    border: 2px solid transparent;
    color: @links;
    .transition(border-color 200ms);
        
    &:hover, &.active {
        border-color: @links;
        color: @links;
    }
}
.ypi-more-btn {
    i {
	    top: 1px;
	    left: -4px;
	    margin-right: 0;
	    font-size: 16px;
    }
    &.open {
        i {
            .rotate(180deg);
			top: 0px;
        }

        span {
            &:nth-of-type(1) {
                display: none;
            }
            &:nth-of-type(2) {
                display: inline-flex;
            }
        }
    }

    span {
        &:nth-of-type(2) {
            display: none;
        }
    }
}
.ty-product-filters__wrapper .ypi-more-btn {
    margin: 8px 0;
    position: relative;
    overflow: visible;
}
.ty-horizontal-product-filters-dropdown, .ypi-categories_grid.enable-v-filters.mobile-view .v-filter {
	.ypi-more-btn, .ty-btn.ty-product-filters__reset-button {
		background: @ddmcolor;
	}
}

.ty-btn.ty-cr-product-button {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;

    &:before {
        .material-icons-css();
        content: "\E913";
        margin-right: 0;
        margin-top: -4px;
        position: relative;
        font-size: 24px;
    }
	span {
		display: none !important;
	}
}
.ty-product-detail .ty-cr-product-button {
	margin: 0 8px 10px 0;
	margin-left: 0 !important;
    padding: 0 15px;
    
	span {
		display: flex !important;
		max-width: 70px;
		line-height: 120%;
	    font-size: 10px;
	    letter-spacing: 0;
	}
}
@media screen and (max-width: 767px) {
	.ty-wish-list__buttons .ty-btn {
		display: flex;
	}	
}

.ty-compare-checkbox {
	text-align: center;
}

.b-top {
    border-top: 1px solid @ddmcolor;
}
.b-top-bold {
    border-top: 3px solid @ddmcolor;
}
.b-top-color {
    border-top: 1px solid @discount_label;
}
.b-top-bold-color {
    border-top: 3px solid @discount_label;
}
.b-bottom {
    border-bottom: 1px solid @ddmcolor;
}
.b-bottom-bold {
    border-bottom: 3px solid @ddmcolor;
}
.b-bottom-color {
    border-bottom: 1px solid @discount_label;
}
.b-bottom-bold-color {
    border-bottom: 3px solid @discount_label;
}
.b-all {
    border: 1px solid @ddmcolor;
}
.b-all-bold {
    border: 3px solid @ddmcolor;
}
.b-all-color {
    border: 1px solid @discount_label;
}
.b-all-bold-color {
    border: 3px solid @discount_label;
}
.pd-top {
    padding: 40px 0 0;
}
.pd-bottom {
    padding: 0 0 40px;
}
.pd-all {
    padding: 40px 0;
}
.pd-all-big {
    padding: 50px 0;
}
.pd-top, .pd-bottom, .pd-all, .pd-all-big {
    .ty-wysiwyg-content h1, .ty-wysiwyg-content h2, .ty-wysiwyg-content h3 {
        margin-top: 0;
    }
}
.dark-block {
    background: rgba(0, 0, 0, 0.05);
    .grid-list .ty-grid-list__item {
        .box-shadow(0 0 0 1px darken(@ddmcolor, 3%));
    }
}
.light-block {
    background: white;
}
.color-block {
    background: @menu;
    .y-mainbox-title {
        color: white;
    }
}

.bt_color() when (@abt__yt_general_variant_buttons_color = true) {
    .ty-btn__primary {
        background: darken(@ddmcolor, 45%);
        border-bottom: 2px solid darken(@ddmcolor, 55%);
        &:hover {
            background: darken(@ddmcolor, 40%);
            border-color: darken(@ddmcolor, 45%);
        }
    }
    .ty-btn__tertiary {
        background: lighten(@ddmcolor, 7%);
    }
    .ty-product-block .ty-product-block__button .ty-btn__primary {
        background: @discount_label;
    }
    .color-block {
        background: darken(@ddmcolor, 45%);
    }
    .dark-block {
        background: @ddmcolor;
    }
    .ty-product-infoblock-dropdown {
        background: lighten(@ddmcolor, 10%);
    }
}
.bt_color();