.ty-checkout__title-icon {
	color: @ok_color;
	position: relative;
	top: -4px;
}
@media (min-width: 768px) {	
	#checkout_steps {
		padding-right: 30px;
	}
}

//steps
.ty-step__title-arrow {
	display: none;
}
.ty-step__title-left,
.ty-step__title-active {
	background: @accent_second;
	margin-bottom: 0;
}
.ty-step__title .ty-step__title-txt,
.ty-step__container-active .ty-step__title-left {
	color: @accent_second;
}
.ty-step__container-active {
	margin-bottom: 20px;
	
	.buttons-container {
		padding-bottom: 0;
	}
}

.ty-step__title,
.ty-step__title-active,
.ty-step__title-complete {
	border: 1px solid @accent_second;
	.border-radius(3px);
}
.checkout__block {
	padding: 0;
}


// step1
.ty-step-one .ty-checkout-buttons,
.ty-checkout__register-content,
.ty-checkout__login {
	padding-left: 0;
}
input.ty-checkout__register-methods-radio {
	    margin-top: 2px;
}

// step 2
.ty-checkout-buttons {
	padding-left: 0;
	padding-right: 0;
}

// step 3
.ty-shipping-options__total {
	font-weight: bold;
	font-size: 120%;
	padding-bottom: 0;
}

// step 4
.ty-payments-list__item-group {
	color: @font;
}
.ty-checkout__billing-tabs .ty-tabs,
.ty-checkout__billing-options {
	padding: 0;
}
.ty-cc-icons {
	bottom: 22px;
}

//check
.ty-step__title-complete .ty-step__title-left,
.ty-step__title-complete .ty-step__title-txt {
	color: @ok_color;
}
.ty-step__title-complete {
	border-color: @ok_color;
}
.ty-step__title-complete .ty-step__title-right .ty-btn {
    right: 4px;
    top: 3px;
}

//right
.ty-checkout-summary__block {
	margin-top: 0;
}
.ty-checkout-summary__total div {
	font-size: 130%;
	font-weight: bold;
	
	.ty-checkout-summary__total-sum {
		color: @price;
	}
}
.ty-order-products__a {
	font-weight: bold;
	color: @font;
}