//compare
.ty-compare-products__menu {
	padding-left: 0;
	
}
.ty-compare-menu__a {
	color: @font;
}

.ty-compare-menu__elem {
	background: @accent_second;
}


.ty-compare-products__item {
	padding-top: 0;
}
.ty-compare-products__item .ty-price-update,
.ty-compare-products__item .ty-strike {
	text-align: left;
	display: block;
}
.ty-compare-products__item a {
	display: block;
	color: @font;
	font-size: 12px;
	text-align: left;
}
.ty-compare-products__item .ty-simple-list {
	display: none;
}