.ab__mcd_descs {
    margin-top: @pdf;
    padding-top: @pdf;
    border-top: 2px solid @menu;
    
    .ty-wysiwyg-content {
        * {
            color: @light-color-30;
        }
    }
    .ty-hand {
        font-size: 14px;
        font-weight: bold;
        line-height: 145%;
        display: inline-block;
        width: 100%;
        padding-left: 10px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        
	    &.open {
	        color: @links;
	    }
	}
    .ab__mcd_descs_title {
        font-size: 28px;
        text-align: center;
        font-family: @ypi-heading-font;
        padding-bottom: 20px;
    }
}

.ut2-cat-container {
	&:not(.reverse) .ab__mcd_descs {
		border-top: 0;
		padding: @pd @pdi;
		margin-top: 0;
		margin-bottom: @pd;
		border-bottom: 2px solid @menu;
	}
}

.ab__mcd_descs_left {
	
    .ty-wysiwyg-content {
	    
        p {
            line-height: 150%;
            font-size: 14px;
            padding: 0 0 10px 0;
        }
        
        h1, h2, h3, h4, h5, h6 {
            color: @font;
            
            &:first-child {
                margin-top: 8px;
            }
        }
    }
}
.ab__mcd_descs_right {
    
    > ul {
        list-style: none;
        
        > li {
            border-top: 1px solid @base;
            padding: @pdi 0;
            position: relative;
            
            &:first-child {
                border-top: 0;
                padding-top: 5px;
            }
            
            i.ty-icon-down-open, i.ty-icon-up-open {
                float: right;
                position: absolute;
                right: 10px;
                top: 15px;
                font-size: 18px;
                color: @light-color-40;
            }
            
            &:hover {
                .ty-hand {
                    color: @links;
                }
                
                i.ty-icon-down-open, i.ty-icon-up-open {
                    color: @links;
                }
            }       
        }
    }
    .ty-wysiwyg-content {
        padding: 0 10px;
    }
}

.ypi-categories_grid {
	
    .ab__mcd_descs:before, 
    .ab__mcd_descs:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    
    .ab__mcd_descs:before {
        left: -1000%;
        right: 0;
        background: @base;
    }
    
    .ab__mcd_descs:after {
        left: 0;
        right: -1000%;
        background: @base;
    }
}