.ty-sellers-list__item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dfdfdf;
}
.ty-sellers-list__item:last-child {
  border-bottom: 0;
}
.ty-sellers-list__content {
  min-height: 60px;
}
@media (min-width: 767px) {
  .ty-sellers-list__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.ty-sellers-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50px;
}
@media (min-width: 767px) {
  .ty-sellers-list__image {
    margin-right: 20px;
  }
}
.ty-sellers-list__title {
  word-wrap: break-word;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}
@media (min-width: 767px) {
  .ty-sellers-list__title {
    margin-right: 20px;
    min-width: 320px;
  }
}
.ty-sellers-list__item-location {
  word-wrap: break-word;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #8c8c8c;
}
@media (min-width: 767px) {
  .ty-sellers-list__item-location {
    margin-right: 20px;
    min-width: 220px;
  }
}
.ty-sellers-list__controls {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ty-sellers-list__controls .ty-btn {
  margin-bottom: 10px;
}
.ty-sellers-list__controls .ty-btn:first-of-type {
  margin-left: 0;
}
@media (min-width: 767px) {
  .ty-sellers-list__controls .ty-btn {
    margin-left: 15px;
  }
}
.ty-sellers-list__controls .stock-wrap {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (min-width: 767px) {
  .ty-sellers-list__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
  }
}
.ty-sellers-list__buttons {
  min-width: 120px;
  max-width: 400px;
}
.ty-add-to-wish i {
  margin-left: 3px;
  margin-right: 3px;
}
.ty-sellers-list__price {
  margin-bottom: 10px;
}
.ty-sellers-list__price-link {
  margin-bottom: 2px;
}
@media (min-width: 767px) {
  .ty-sellers-list__price {
    margin-left: 20px;
    margin-right: 30px;
    min-width: 150px;
    text-align: right;
  }
}
.ty-sellers-list__price .ty-reward-group {
  margin-bottom: 2px;
}
.ty-sellers-list__price .ty-reward-group .ty-control-group__label,
.ty-sellers-list__price .ty-reward-group .ty-control-group__item {
  padding: 0;
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
