.ty-gift-certificate {
  margin-top: 25px;
}
.ty-gift-certificate__amount-alert {
  color: #a6a6a6;
  padding-top: 2px;
}
.error .ty-gift-certificate__amount-alert {
  color: #b94a48;
}
.ty-gift-certificate__amount-input {
  width: 115px;
}
.ty-gift-certificate__switch {
  margin: 25px 0px;
  padding: 15px 20px;
  border: 2px solid #bdc3c7;
  background: white;
}
.ty-gift-certificate__switch-label {
  float: left;
}
.ty-gift-certificate__switch-mail {
  float: right;
}
.ty-gift-certificate__send {
  float: left;
  padding-right: 15px;
}
.ty-gift-certificate__products .ty-no-items {
  display: none;
}
.ty-gift-certificate__products .product-picker-icon {
  float: left;
  margin: 2px 5px 0 0;
}
.ty-gift-certificate__select {
  width: 100%;
}
.ty-gift-certificate__country {
  display: inline-block;
  width: 47%;
}
.ty-gift-certificate__state {
  display: inline-block;
  margin-left: 5%;
  width: 47%;
}
.ty-gift-certificate-validate {
  margin-top: 42px;
}
.ty-gift-certificate-validate .ty-input-append {
  width: 88%;
  float: right;
}
.ty-gift-certificate-validate__title {
  font-weight: normal;
  text-align: right;
}
.ty-gift-certificate__icon {
  position: absolute;
  top: 3px;
  left: -35px;
  font-size: 27px;
  line-height: 27px;
  color: #ddd;
}
.ty-gift-certificate-verify {
  min-width: 600px;
  max-width: 600px;
}
table.ty-gift-certificate-verify__table {
  margin: 10px 0 20px 0;
  width: 100%;
}
table.ty-gift-certificate-verify__table {
  margin-top: 0;
  width: 100%;
}
.ty-gift-certificate-verify__row {
  padding: 7px 13px;
}
.ty-gift-certificate-verify__error {
  max-width: 250px;
  text-align: center;
  font-weight: bold;
}
.ty-gift-certificate-history {
  width: 100%;
}
.ty-gift-image {
  position: relative;
  display: block;
  margin: 0 auto;
  border: 1px solid #ebebeb;
  background-color: #f9f9f9;
  color: #c8c8c8;
  cursor: default;
}
.ty-gift-image__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  margin: -16px 0 0 -16px;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
}
.ty-product-notification__item .ty-gift-image {
  margin-right: 20px;
}
.ty-gift-certificate-order {
  margin-top: 10px;
}
.ty-gift-certificate-order__group-label {
  display: inline-block;
  padding: 6px 0;
  width: 100px;
}
.ty-gift-certificate-order__group-item {
  display: inline-block;
  padding: 6px 0;
}
.ty-gift-certificate-history .ty-no-items {
  margin-bottom: 0;
}
@media (max-width: 979px) {
  .ty-gift-certificate__preview-btn {
    float: none;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .ty-gift-certificate-verify {
    min-width: inherit;
  }
  .ty-gift-certificate-verify__row {
    display: block;
  }
  .ty-gift-certificate-validate {
    margin-top: 20px;
  }
  .certificates-verify-grid {
    margin-bottom: 30px;
  }
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
