.ty-reward-points__info {
  margin-top: 10px;
}
.ty-reward-points__points-in-use {
  display: block;
  overflow: hidden;
  padding-top: 5px;
}
.ty-reward-points__delete-icon {
  position: relative;
  top: 3px;
  text-decoration: none;
}
.ty-reward-points__delete-icon:hover {
  text-decoration: none;
}
.ty-reward-points-userlog {
  width: 100%;
}
.ty-reward-points-userlog__date {
  width: 20%;
}
.ty-reward-points-userlog__points {
  width: 10%;
}
.ty-reward-points-userlog__reason {
  width: 70%;
}
.ty-checkout-summary__item .ty-reward-points__coupon {
  display: block;
}
.ty-reward-points__product-info:last-child {
  margin-bottom: 0;
}
.ty-cart-content-products .ty-reward-points__product-info .ty-control-group__label {
  font-weight: bold;
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
