/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
/* ==========================================================================
Buy together
========================================================================== */

@min-height-item: 250px;
@min-width-item: 200px;

@min-height-button: 36px;

@pdi: 15px; // internal
@pd: 20px; // external
@pdf: @pd*2; // external duble size

@lighten-font: lighten(@font, 35%);
@base5: darken(@base, 5%);
@base10: darken(@base, 10%);
@base20: darken(@base, 20%);

.yt__buy-together {
	margin: @pd 0 (@pd*2) 0;
	border: 2px solid @discount_label;
	
	@media screen and (max-width: 768px) {
		margin: @pdi 0;
	}
	
	&.owl-theme .owl-controls:not(.owl-controls-outside) {
	    margin-top: -20px;

	    .owl-buttons div {
			.flex();
			.flex-center();
			position: absolute;
			top: 50%;
			margin-top: -100px;
			height: 200px;
			width: @pdi*2;
			color: @discount_label;
			background: fade(@discount_label, 15%);
			&:hover {
				color: @discount_label;
			}
		}
		.owl-prev {
		    left: -5px !important;
		    
		    .yt_round(@round: 0 4px 4px 0) when (@abt__yt_general_show_rounds = show_rounds) {
				.border-radius(@round);
			}
			.yt_round(@round: 0 8px 8px 0) when (@abt__yt_general_show_rounds = show_full_rounds) {
				.border-radius(@round);
			}
			.yt_round();
		}
		.owl-next {
			right: -5px !important;
			
			.yt_round(@round: 4px 0 0 4px) when (@abt__yt_general_show_rounds = show_rounds) {
				.border-radius(@round);
			}
			.yt_round(@round: 8px 0 0 8px) when (@abt__yt_general_show_rounds = show_full_rounds) {
				.border-radius(@round);
			}
			.yt_round();
		}
		
		@media screen and (max-width: 768px) {
			.owl-buttons div {
				background: transparent;
			}
		}
	}
}

.yt-bt {
	@media screen and (min-width: 768px) {
		padding: @pdi (@pdi*2);
	}
	
	.subheader {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	    font-size: 18px;
	    font-weight: bold;
	    color: @discount_label;
	    padding-bottom: 10px;
	    
	    @media screen and (max-width: 768px) {
			flex-direction: column;
			
			> div {
				margin-top: 5px;
				font-size: 12px;
				background: none;
				padding: 0;
			}
		}
	}
	
	&__description {
		padding-bottom: 10px;		
	}

	.abt__yt_chain_date {
		background: @base;
		color: @lighten-font;
		padding: 2px 10px;
		text-transform: lowercase;
		white-space: nowrap;
	}
	.count {
		position: relative;
		top: -2px;
		display: inline-block;
	    width: 20px;
	    height: 20px;
	    font-size: 12px;
	    line-height: 18px;
	    text-align: center;
		border: 1px dotted @discount_label;
		color: @discount_label;

		.border-radius(50%);
	}
	
	&__box {
		display: flex;
	    align-items: center;
	    justify-content: center;
	    width: auto;
	}
	&__products {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		width: auto;
	}
	&__product {
		display: flex;
		flex-direction: column;
	    align-items: center;
	    justify-content: flex-start;
	    padding: 0 @pdi;
		min-height: @min-height-item;
		min-width: @min-width-item;
		max-width: @min-height-item;
		flex: 1 @min-width-item;
	}
	&__plus {
		.border-radius(50%);
		height: @min-height-button;
		min-width: @min-height-button;
		max-width: @min-height-button;
		background: @base;
		text-align: center;
		
		&.chain-plus, &.chain-equally {
			font-size: 28px;
			color: @font;
			line-height: @min-height-button + 2;
			font-family: -webkit-pictograph;
			
			&:not(:root:root) { 
				font-family: Arial, sans-serif;
			}
		}
		&.chain-equally {
			margin: 0  (@min-height-button/2) 0  -(@min-height-button/2);
			&:before {
				content: "";
				width: 1px;
				height: 100%;
				z-index: 0;
				position: absolute;
				background: @base;
			    top: 0;
			    margin-left: 8px;
			    z-index: -1;
			}
			span {
				position: relative;
				z-index: 1;
			}
		}
	}
	&__product-name a {
		display: inline-block;
		text-align: center;
		color: @font;
		padding: 10px 0 5px;
		&:hover {
			color: @font;
		}
	}
	&__product-price {
		text-align: center;
		
		.price {
			padding: 0 5px;
			font-size: 16px;
			font-family: @price_font;
			font-weight: bold;
		}
	}
	&__product-options {
		margin-bottom: 10px;
		zoom: .8;
	}
	.yt-bt-option {
		color: @lighten-font;
		text-align: center;
		zoom: .8;
		& + .yt-bt__product-price {
			padding-top: 5px;
		}
	}

	&__price-block {
		position: relative;
		min-height: @min-height-item;
		margin-left: 10px;
		padding: 0 (@pdi*2) 10px;
		display: flex;
		flex-direction: row;
	    align-items: center;
	    justify-content: center;
	    
	    @media screen and (min-width: 768px) {
            &:before {
                content: "";
                width: 80px;
                height: 98%;
                position: absolute;
                left: 0;
                margin-left: -89px;
                background: linear-gradient(90deg,rgba(255,255,255,0) 10%,#fff 100%);
                z-index: 0;
            }
        }
	}
	.yt-bt-price {
		&__old {
			padding: @pdi 0;
			.chain-old-line {
				color: @discount_label;
				font-size: 16px;
			}
		}
		&__title {
			display: block;
			color: @lighten-font;
			padding-bottom: 5px;
		}
		&__new {
			padding: 0 0 @pdi;
			
			.price {
				font-family: @price_font;
				font-weight: bold;
				font-size: @price_font_size + 4;
				color: @price;
			}
		}
	}
	&__products.ty-scroll-x {
		padding-bottom: 0;
	    &::-webkit-scrollbar {
	        height: 10px;
	        width: 10px;
	    }
	    &::-webkit-scrollbar-track {
	        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	        .border-radius(5px);
	    }
	    &::-webkit-scrollbar-thumb {
	        .border-radius(5px);
	        background: @base5;
	    }
	    &:hover {
	        &::-webkit-scrollbar {
	            height: 10px;
	        }
	        &::-webkit-scrollbar-thumb {
	            background: @base20;
	        }
	    }
	}
	
	@media screen and (max-width: 768px) {
		
		.subheader {
			padding: @pdi (@pdi*2) 0;
		}
		&__description {
			padding: @pdi (@pdi*2) 0;
		}
		&__box {
			flex-direction: column;
			padding: @pdi (@pdi*2);
		}
		&__products {
			flex-direction: column;
			max-height: (@min-height-item * 2) - 100px;
			padding-bottom: @pdi;
			width: 100%;
			
			&.ty-scroll-x {
			    overflow-x: hidden;
			    overflow-y: auto;
			}
		}
		&__product {
			padding: @pdi;
			min-height: auto;
			min-height: fit-content;

			&:first-child {
				padding-top: 0;
			}
		}
		&__product-image {
			width: 80px;
		}
		&__product-name a {
			color: @font;
		}
		&__price-block {
			text-align: center;
			min-height: inherit;
			margin-left: 0;
			margin-top: @pdi;
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			border-top: 1px solid @base10;
			
			&:before {
                content: "";
                width: 100%;
                height: 40px;
                position: absolute;
                top: 0;
                left: 0;
                margin-top: -56px;
                background: linear-gradient(180deg,rgba(255,255,255,0) 10%,#fff 100%);
                z-index: 0;
            }
		}
		&__plus.chain-equally {
			display: none;
		}		
	}
	@media screen and (max-width: 320px) {
		.subheader {
			padding: @pdi @pdi 0;
		}
		&__description {
			padding: @pdi @pdi 0;
		}
		&__box {
			padding: @pdi;
		}		
	}
}
@media screen and (min-width: 992px) {
	.yt-bt:not(&.scroll) {
		.yt-bt {
			&__box {
				margin: 0 auto;
			}
			&__price-block:before {
				display: none;
			}
		}
	}
}

.ty-buy-together-notification {
	&__item {
		margin-left: 20px;
		display: flex;
	    justify-content: space-between;
	    padding: 5px 0;
	
		.ty-product-options {
			margin-bottom: 0;
			&__info {
				margin: 10px 0;
			}
		}
	}
	&__items, &__items &__items {
		margin-left: 0;
	}
}

.ui-dialog.ui-widget[aria-describedby^="content_buy_together_options_"] {
	position: fixed;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
}

/* Url: dispatch=checkout.checkout */
/* Template: templates/addons/buy_together/hooks/block_checkout/product_extra.post.tpl */
.ty-buy-together-info {
    margin-top: 10px;
}
.ty-buy-together-info__product {
    margin: 0;
    font-size: 120%;
    font-weight: bold;
}
.ty-buy-together-info__item {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    color: lighten(@font, 25%);
}
.ty-buy-together-info__item:last-child {
    border-bottom: 0;
}

.ty-buy-together-popup {
    margin-bottom: 20px;
}
/* /Buy together */