.ty-tag-cloud {
  margin: 10px 0;
}
.ty-tag-cloud__item {
  margin-right: 10px;
}
.ty-tag-level-0,
.ty-tag-level-0:active {
  font-size: 100%;
}
.ty-tag-level-1,
.ty-tag-level-1:active {
  font-size: 150%;
}
.ty-tag-level-2,
.ty-tag-level-2:active {
  font-size: 200%;
}
.ty-tag-level-3,
.ty-tag-level-3:active {
  font-size: 250%;
}
.ty-tag-level-4,
.ty-tag-level-4:active {
  font-size: 300%;
}
.ty-tag-level-5,
.ty-tag-level-5:active {
  font-size: 350%;
}
.ty-tag-level-6,
.ty-tag-level-6:active {
  font-size: 400%;
}
ul.ty-tags-list {
  padding-left: 0;
}
.ty-tags-list__item {
  display: inline-block;
}
.ty-tags-list__a {
  position: relative;
  display: block;
  float: left;
  margin: 3px 5px 3px 15px;
  padding: 0 27px 0 10px;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  border: 0 none;
  background: #e6e6e6;
}
.ty-tags-list__a:before {
  position: absolute;
  top: 50%;
  left: -14px;
  float: left;
  margin-top: -12px;
  width: 0;
  height: 0;
  border-width: 12px 14px 12px 0;
  border-style: solid;
  border-color: transparent #e6e6e6 transparent transparent;
  content: "";
}
.ty-tags-list__a:after {
  position: absolute;
  top: 50%;
  left: 0;
  float: left;
  margin-top: -2px;
  width: 4px;
  height: 4px;
  background: #fff;
  content: "";
}
.ty-tags-list__a {
  background: #e6e6e6;
  color: #676767;
  transition: none;
  padding-right: 10px;
}
.ty-tags-list__a:hover {
  background: #16A085;
  color: #fff;
  text-shadow: none;
}
.ty-tags-list__a:hover:before {
  border-right-color: #16a085;
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
