{if $ab__qobp_show_form_in_block == 'Y' and $ab__qobp_show_form == 'Y'}
{if ($addons.ab__quick_order_by_phone.only_in_stock == 'N') or ($addons.ab__quick_order_by_phone.only_in_stock == 'Y' and $product_amount > 0)}
<div class="ab__qobp_product">
<input type="hidden" name="ab__qobp[product_amount]" value="{$product_amount}" />
{include file="addons/ab__quick_order_by_phone/views/components/product_form.tpl" mode="add"}
</div>
{/if}
{/if}