.ty-twishlist-item {
  text-align: center;
  height: 18px;
  margin-bottom: 10px;
}
.ty-grid-list__item:hover .ty-twishlist-item__remove {
  visibility: visible;
}
.ty-add-to-wish {
  display: inline-block;
  margin: 0;
}
@media (max-width: 767px) {
  .ty-wish-list__buttons .ty-btn {
    display: block;
    width: 100%;
  }
  .ty-wish-list__buttons .ty-btn + .ty-btn {
    margin: 15px 0 0;
  }
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
