.ty-warehouses-shipping__wrapper {
  margin-top: 20px;
  border-top: 1px solid #ededed;
}
.ty-warehouses-shipping__title {
  font-weight: 700;
  margin-top: 10px;
}
.ty-warehouses-shipping__item {
  padding-top: 6px;
  padding-bottom: 6px;
}
.ty-warehouses-shipping__label {
  display: inline-block;
}
.ty-warehouses-shipping__value {
  display: inline-block;
}
.ty-warehouses-shipping__link-text {
  border-bottom: 1px dotted currentColor;
}
.ty-warehouses-shipping__delay {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #6c6c6c;
}
.ty-warehouses__geolocation {
  display: inline-block;
  max-width: 100%;
}
.ty-warehouses__geolocation__opener {
  display: flex;
  align-items: center;
  padding: 8px 2px;
}
.ty-warehouses__geolocation__opener-text {
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ty-product-list .ty-warehouses-shipping__wrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-wrap: wrap;
}
.ty-product-list .ty-warehouses-shipping__item {
  padding-right: 20px;
}
.ty-product-list .ty-warehouses-shipping__title {
  display: none;
}
.ty-product-list .ty-warehouses-shipping__delay {
  width: 100%;
}
.ty-warehouses-stores-list__header {
  display: none;
}
@media (min-width: 768px) {
  .ty-warehouses-stores-list__header {
    display: flex;
    flex-flow: row wrap;
  }
}
.ty-warehouses-stores-list__item {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #dce3ea;
}
.ty-warehouses-stores-list__item.hidden {
  display: none;
}
.ty-warehouses-store__group-name {
  padding: 4px 20px;
  border-top: 1px solid #dce3ea;
  border-bottom: 1px solid #dce3ea;
  margin-top: -1px;
  background-color: rgba(0,0,0,0.02);
  font-weight: bold;
}
.ty-warehouses-store__name {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
}
.ty-warehouses-store__address {
  font-size: 12px;
  color: #6c6c6c;
}
.ty-warehouses-store__open-hours {
  font-size: 12px;
  color: #6c6c6c;
}
.ty-warehouses-store__phone {
  font-size: 12px;
  color: #6c6c6c;
}
.ty-warehouses-store__header-item {
  font-weight: bold;
  width: 100%;
}
.ty-warehouses-store__name-wrapper,
.ty-warehouses-store__header-item--name-wrapper {
  padding: 15px 20px 0 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .ty-warehouses-store__name-wrapper,
  .ty-warehouses-store__header-item--name-wrapper {
    padding-bottom: 15px;
    flex: 0.40;
  }
}
.ty-warehouses-store__open-hours,
.ty-warehouses-store__header-item--open-hours {
  padding: 0 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .ty-warehouses-store__open-hours,
  .ty-warehouses-store__header-item--open-hours {
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 0.30;
  }
}
.ty-warehouses-store__phone,
.ty-warehouses-store__header-item--phone {
  padding: 0 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .ty-warehouses-store__phone,
  .ty-warehouses-store__header-item--phone {
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 0.15;
  }
}
.ty-warehouses-store__availability,
.ty-warehouses-store__header-item--availability {
  padding: 0 20px 15px 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .ty-warehouses-store__availability,
  .ty-warehouses-store__header-item--availability {
    padding-top: 15px;
    flex: 0.15;
  }
}
.ty-warehouses-stores-search {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.ty-warehouses-stores-search__query-wrapper {
  padding: 0 10px 0 10px;
  width: 100%;
}
@media (min-width: 768px) {
  .ty-warehouses-stores-search__query-wrapper {
    flex-grow: 1;
    padding-right: 20px;
    width: auto;
  }
}
.ty-warehouses-stores-search__view-wrapper {
  display: flex;
  padding: 10px 0 10px 0;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .ty-warehouses-stores-search__view-wrapper {
    justify-content: flex-end;
    width: auto;
  }
}
.ty-warehouses-stores-search__view {
  padding-right: 30px;
}
.ty-warehouses-stores-search__query {
  display: block;
  width: 100%;
  font-size: 14px !important;
  height: 41px !important;
  border: 1px solid #acbdcd !important;
  border-radius: 5px !important;
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
