.th_blog__item {
	position: relative;
	padding-bottom: 30px;	
}
@media(min-width: 768px) {
	.th_blog-grid {
		padding-right: 20px;
	}
}
	

@media(max-width: 700px) {
	.ty-column--blog {
		width: 100%;
	}
}

//img
.th_blog__img-block {
	overflow: hidden;
	margin-bottom: 10px;
	
	img {
		-webkit--transition: transform .6s;
		-moz-transition: transform .6s;
		-o-transition: transform .6s;
		transition: transform .6s;
	}
}
.ty-blog-recent-posts-scroller__item:hover  .th_blog__img-block img,
.th_blog__item:hover .th_blog__img-block img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.ty-blog-recent-posts-scroller__item__link {
	position: relative;
	display: block;
}

//date
.th_blog__date {
	float: left;
	margin-right: 15px;
	color: @accent;
	border: 2px solid currentColor;
	
	.box-sizing(border-box);
	width: 36px;
	height: 36px;
    padding-top: 5px;
	
	text-align: center;
	font-weight: bold;
	
	background: #fff;
	
	transition: .3s;
	
	border-radius: 2px;
}
.th_blog__date__day {
	line-height: .7;
	display: block;
	font-size: 15px;
}
.th_blog__date__month {
	display: block;
	font-size: 11px;
}

.th_blog__img-block + .th_blog__date {
	position: absolute;
	top: 7%;
	left: -5px;
	z-index: 1;
	
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}

.th_blog__post-title__contener {
	overflow: hidden;
	display: block;
}

//title
.th_blog__post-title {
	font-size: 16px;
	color: @font;
}

//autor
.ty-blog__author,
.th_blog__author {
	display: block;
	font-size: 12px;
	color: lighten(@font,20%);
}
.ty-blog__author {
	margin-bottom: 14px;
}

//text links
.ty-blog-sidebox__item {
	.clearfix;
	
	& a:hover {
		.th_blog__date {
			color: #fff;
			background: @accent;
			border-color: darken(@accent, 15%);
		}
	}
}
.ty-blog-sidebox__title {
	overflow: hidden;
}
