.ty-cart-content__price .ty-sub-price,
.ty-cart-content__product-title {
	color: @font;
}
.ty-cart-content {
	margin-top: 0;
}
.ty-cart-content__title.quantity-cell,
.ty-cart-content__title.ty-right,
.ty-cart-content__price {
	text-align: center;
}
@media (min-width: 768px) {
	.ty-cart-content__price:last-child {
		text-align: right;
	}
}
.ty-cart-content__price:last-child span {
	font-weight: bold;
}

//bottom
.ty-cart-total {
	background: none;
}
.ty-cart-total__wrapper {
	border: 0;
	padding: 5px 0 0;
}

//total
.ty-cart-statistic__item {
	color: @font;
}
.ty-cart-statistic__total-list {
	border-top: 2px solid @font;
	padding-top: 10px;
	padding-bottom: 10px;
	
	@media (min-width: 768px) {
		float: right;
		padding-bottom: 0;
	}
}

//cupon
.ty-coupons__container {
	width: 50%;
	box-sizing: border-box;
	
}
.ty-coupons__container,
.ty-gift-certificate-coupon {
	
	&:before {
		position: absolute;
		top: 8px;
		left: 11px;
		font-size: 18px;		
	}
	.ty-input-text {
		padding-right: 60px;
		padding-left: 33px;
	}
}



//icon estimation
.ty-cart-total__icon-estimation {
	font-size: 20px;
	position: relative;
	top: 3px;
	
	color: @links;
}