.ty-banner__image-item {
  text-align: center;
}
.ty-banner__image-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 0 10px 0;
  text-align: center;
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
