/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/

@font-face {
    font-family: 'glyphs';
    font-display: swap;
    src:url('../media/fonts/glyphs.eot');
    src:url('../media/fonts/glyphs.eot?#iefix') format('embedded-opentype'),
    url('../media/fonts/glyphs.woff') format('woff'),
    url('../media/fonts/glyphs.ttf') format('truetype'),
    url('../media/fonts/glyphs.svg#glyphs') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'glyphs';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Reset font-family for before */
[class*="ty-icon-"]:before {
  font-family: inherit;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below,
but it's slower:
[class*="ty-icon-"] {
*/
.ty-icon-up-dir,
.ty-icon-right-dir,
.ty-icon-down-dir,
.ty-icon-left-dir,
.ty-icon-star-empty,
.ty-icon-th-list,
.ty-icon-heart,
.ty-icon-flight,
.ty-icon-ok,
.ty-icon-cancel,
.ty-icon-cancel-circle,
.ty-icon-minus-circle,
.ty-icon-right-thin,
.ty-icon-cw,
.ty-icon-left-circle,
.ty-icon-right-circle,
.ty-icon-help-circle,
.ty-icon-back,
.ty-icon-products-multicolumns,
.ty-icon-print,
.ty-icon-chat,
.ty-icon-article-alt,
.ty-icon-docs,
.ty-icon-zoom-in,
.ty-icon-zoom-out,
.ty-icon-down-open,
.ty-icon-left-open,
.ty-icon-right-open,
.ty-icon-up-open,
.ty-icon-down-micro,
.ty-icon-up-micro,
.ty-icon-right-open-thin,
.ty-icon-left-open-thin,
.ty-icon-products-without-options,
.ty-icon-short-list,
.ty-icon-plus-circle,
.ty-icon-user,
.ty-icon-doc-text,
.ty-icon-calendar,
.ty-icon-chart-bar,
.ty-icon-download,
.ty-icon-search,
.ty-icon-lock,
.ty-icon-popup,
.ty-icon-plus,
.ty-icon-folder,
.ty-icon-folder-open,
.ty-icon-mail,
.ty-icon-twitter,
.ty-icon-facebook,
.ty-icon-file,
.ty-icon-trashcan,
.ty-icon-d-arrow,
.ty-icon-bubble,
.ty-icon-upload,
.ty-icon-cog,
.ty-icon-square,
.ty-icon-arrow-up-right,
.ty-icon-arrow-up-left,
.ty-icon-arrow-down-left,
.ty-icon-arrow-down-right,
.ty-icon-arrow-down,
.ty-icon-arrow-up,
.ty-icon-arrow-left,
.ty-icon-arrow-right,
.ty-icon-location-arrow,
.ty-icon-star,
.ty-icon-star-half,
.ty-icon-refresh,
.ty-icon-basket,
.ty-icon-image,
.icon-image,
.ty-icon-edit,
.ty-icon-live-edit,
.ty-icon-gift,
.ty-icon-ban-circle,
.ty-icon-wrench,
.ty-icon-feed,
.ty-icon-eye-open,
.ty-icon-eye-close,
.ty-icon-handler,
.ty-icon-youtube,
.ty-icon-cart,
.ty-icon-target,
.ty-icon-pointer,
.ty-icon-shipping,
.ty-icon-courier,
.ty-icon-instagram {
    font-family: 'glyphs';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.ty-icon-up-dir:before {
    content: "\e000";
}

.ty-icon-right-dir:before {
    content: "\e001";
}

.ty-icon-down-dir:before {
    content: "\e002";
}

.ty-icon-left-dir:before {
    content: "\e003";
}

.ty-icon-star-empty:before {
    content: "\e004";
}

.ty-icon-th-list:before {
    content: "\e005";
}

.ty-icon-heart:before {
    content: "\e006";
}

.ty-icon-flight:before {
    content: "\e007";
}

.ty-icon-ok:before {
    content: "\e008";
}

.ty-icon-cancel:before {
    content: "\e009";
}

.ty-icon-cancel-circle:before {
    content: "\e00a";
}

.ty-icon-minus-circle:before {
    content: "\e00b";
}

.ty-icon-right-thin:before {
    content: "\e00c";
}

.ty-icon-cw:before {
    content: "\e00d";
}

.ty-icon-left-circle:before {
    content: "\e00e";
}

.ty-icon-right-circle:before {
    content: "\e00f";
}

.ty-icon-help-circle:before {
    content: "\e010";
}

.ty-icon-back:before {
    content: "\e011";
}

.ty-icon-products-multicolumns:before {
    content: "\e012";
}

.ty-icon-print:before {
    content: "\e013";
}

.ty-icon-chat:before {
    content: "\e014";
}

.ty-icon-article-alt:before {
    content: "\e015";
}

.ty-icon-docs:before {
    content: "\e016";
}

.ty-icon-zoom-in:before {
    content: "\e017";
}

.ty-icon-zoom-out:before {
    content: "\e018";
}

.ty-icon-down-open:before {
    content: "\e019";
}

.ty-icon-left-open:before {
    content: "\e01a";
}

.ty-icon-right-open:before {
    content: "\e01b";
}

.ty-icon-up-open:before {
    content: "\e01c";
}

.ty-icon-down-micro:before {
    content: "\e01d";
}

.ty-icon-up-micro:before {
    content: "\e01e";
}

.ty-icon-right-open-thin:before {
    content: "\e01f";
}

.ty-icon-left-open-thin:before {
    content: "\e020";
}

.ty-icon-products-without-options:before {
    content: "\e021";
}

.ty-icon-short-list:before {
    content: "\e022";
}

.ty-icon-plus-circle:before {
    content: "\e023";
}

.ty-icon-user:before {
    content: "\e024";
}

.ty-icon-doc-text:before {
    content: "\e025";
}

.ty-icon-calendar:before {
    content: "\e026";
}

.ty-icon-chart-bar:before {
    content: "\e027";
}

.ty-icon-download:before {
    content: "\e028";
}

.ty-icon-search:before {
    content: "\e029";
}

.ty-icon-lock:before {
    content: "\e02a";
}

.ty-icon-popup:before {
    content: "\e02b";
}

.ty-icon-plus:before {
    content: "\e02c";
}

.ty-icon-folder:before {
    content: "\e02d";
}

.ty-icon-folder-open:before {
    content: "\e02e";
}

.ty-icon-mail:before {
    content: "\e02f";
}

.ty-icon-twitter:before {
    content: "\e600";
}

.ty-icon-facebook:before {
    content: "\e601";
}

.ty-icon-file:before {
    content: "\e032";
}

.ty-icon-trashcan:before {
    content: "\e033";
}

.ty-icon-d-arrow:before {
    content: "\e602";
}

.ty-icon-bubble:before {
    content: "\e035";
}

.ty-icon-upload:before {
    content: "\e036";
}

.ty-icon-cog:before {
    content: "\e037";
}

.ty-icon-square:before {
    content: "\e038";
}

.ty-icon-arrow-up-right:before {
    content: "\e039";
}

.ty-icon-arrow-up-left:before {
    content: "\e03a";
}

.ty-icon-arrow-down-left:before {
    content: "\e03b";
}

.ty-icon-arrow-down-right:before {
    content: "\e03c";
}

.ty-icon-arrow-down:before {
    content: "\e03d";
}

.ty-icon-arrow-up:before {
    content: "\e03e";
}

.ty-icon-arrow-left:before {
    content: "\e03f";
}

.ty-icon-arrow-right:before {
    content: "\e040";
}

.ty-icon-location-arrow:before {
    content: "\e901";
}

.ty-icon-star:before {
    content: "\e041";
}

.ty-icon-star-half:before {
    content: "\e042";
}

.ty-icon-refresh:before {
    content: "\e043";
}

.ty-icon-basket:before {
    content: "\e044";
}

.ty-icon-image:before {
    content: "\e045";
}

.icon-image:before {
    content: "\e045";
}

.ty-icon-edit:before {
    content: "\e046";
}

.ty-icon-live-edit:before {
    content: "\e046";
}

.ty-icon-gift:before {
    content: "\e048";
}

.ty-icon-ban-circle:before {
    content: "\e049";
}

.ty-icon-wrench:before {
    content: "\e04a";
}

.ty-icon-feed:before {
    content: "\e603";
}

.ty-icon-eye-open:before {
    content: "\e604";
}

.ty-icon-eye-close:before {
    content: "\e605";
}

.ty-icon-handler:before {
    content: "\e606";
}

.ty-icon-youtube:before {
    content: "\e607";
}

.ty-icon-cart:before {
    content: "\e900";
}

.ty-icon-target:before {
    content: "\e9b3";
}

.ty-icon-pointer:before {
    content: "\e04b";
}

.ty-icon-shipping:before {
    content: "\e04c";
}

.ty-icon-courier:before {
    content: "\e04d";
}

.ty-icon-instagram:before {
    content: "\e04e";
}

/* ==========================================================================
symbol_ruble
========================================================================== */

@font-face {
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-family: 'ALSRubl-Arial';
  src: url('../media/fonts/alsrubl-arial-regular.eot');
  src: url('../media/fonts/alsrubl-arial-regular.eot?#iefix') format('../media/fonts/embedded-opentype'),url('../media/fonts/alsrubl-arial-regular.woff') format('woff'), url('../media/fonts/alsrubl-arial-regular.ttf') format('truetype'), url('../media/fonts/alsrubl-arial-regular.svg#ALSRublArialRegular') format('svg');
}

.ty-rub {
    font-family: 'ALSRubl-Arial', Arial, sans-serif;
    font-size: inherit;
}

/* symbol_ruble */
