/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2020   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
html[dir="rtl"] {
    .ui-widget-content.ui-dialog {
        left: inherit;
    }
    .ty-icon-right-circle:before {
        content: "\e00e";
    }
    .ty-icon-left-circle:before {
        content: "\e00f";
    }
    .ty-horizontal-filters-content-to-right {
        right: auto;
        left: 0;
    }
    .ty-horizontal-product-filters-dropdown a .ty-icon-cancel-circle {
        padding-right: 5px;
    }
    .ty-cart-items__list-item-desc p span {
        float: left;
    }
    .ty-pagination__text-arrow:before {
        content: "→";
    }
    .ty-pagination__next .ty-pagination__text-arrow:before {
        content: "←";
    }
    .ty-icon-right-dir:before {
        content: "\e003";
    }
    .ty-icon-right-open:before {
        content: "\e01a";
    }
    .ty-pagination__right-arrow .ty-pagination__text-arrow:before {
        content: "←";
    }

    .ty-price-slider {
        &__inputs {
            display: flex;
            flex-direction: row-reverse;
            align-items: baseline;
            justify-content: flex-end;
            padding: 0;
        }
        &__bidi-container {
            display: inline-block;
            vertical-align: middle;
        }
        &__input-text {
            float: left;
        }
        &__filter-prefix {
            display: inline-block;
            margin: 0 5px;
            padding: 18px 0px;
            vertical-align: middle;
        }
    }

    @media (max-width: 767px) {
        .ty-icon-right-circle:before {
            content: "\e00f";
        }
        .ty-icon-left-circle:before {
            content: "\e00e";
        }
    }
    
    .ty-order-info__profile-field-item {
        &.b-phone,
        &.s-phone {
            direction: rtl;
        }
    }

    .ty-control-group.ty-profile-field__item {
        &.ty-billing-phone input,
        &.ty-billing-address-line2 input,
        &.ty-shipping-phone input,
        &.ty-shipping-address-line2 input {
            direction: rtl !important;
            text-align: left !important;
        }
    }

    [name="payment_info[customer_phone]"] {
        direction: rtl !important;
        text-align: left !important;
    }
    
    .ty-inputmask-bdi {
        direction: rtl !important;
        text-align: left !important;
    }

    @media (max-width: 480px) {
        .ui-datepicker {
            left: 0 !important;
            right: 0 !important;
        }
    }
    
    /** Fix old-owlcarousel non-adaptive for RTL **/

    .owl-controls > .owl-buttons {
        direction: rtl;
        
        .owl-prev {
            float: right;
        }
        .owl-next {
            float: left;
        }
    }
    @media screen and (max-width: 767px) {
	    .detail-page-products-list .grid-list {
		    margin: 0;
			&.ty-scroller-advanced .owl-controls .owl-buttons {
			    div.owl-prev {
				    right: -20px;
				    left: auto;
			    }
			    div.owl-next {
				    left: -20px;
				    right: auto;
			    }
		    }
	    }
    }
    .banners.owl-carousel.owl-theme .owl-controls .owl-buttons,
    .ypi-buy-together.owl-carousel.owl-theme .owl-controls .owl-buttons {
        .owl-prev {
            right: 0;
            left: auto;
            &:after {
	            margin-left: 3px;
            }
            i {
	            margin-right: -3px;
	            margin-left: 0;
            }
        }
        .owl-next {
            left: 0;
            right: 0;
        }	    
    }
    .ty-thumbs-wrapper {
        .ty-icon-left-circle {
            right: 3px;
            left: auto;
            left: unset;

            &::before {
                content: "\e00e";
            }
        }
        .ty-icon-right-circle {
            left: 3px;
            right: auto;
            right: unset;

            &::before {
                content: "\e00f";
            }
        }
    }
    /** /Fix old-owlcarousel non-adaptive for RTL **/
    
	
	.ypi-cr-phone {
		direction: rtl;
		float: left;
		
		a + a {
			float: right;
			margin: 2px;
		}
	}
	.ypi-cr-box + a {
	    margin: 0 -25px 0 0;
	    @media screen and (min-width: 768px) {
		    margin-top: 2px;
	    }
    }
	.ypi-cr-link {
	    right: 50%;
	    left: auto;
	    top: 80px;
    }
	.n-phone {
		direction: rtl;
		float: left
	}
	.ypi-cr-link .visible-phone {
		float: left;
	}
	
	.abt-yt-show-more-features, .abt-yt-show-more-features span:before, .abt-yt-show-more-features span:after {
		right: 50%;	
		left: auto;
	}

	.m-label, .ab_dotd_product_label, .ty-value-changer__increase, .ty-value-changer__decrease {
		.border-radius(8px);
	}
	
	.grid-list {
		.ty-grid-list__price {
			flex-direction: row-reverse;
			justify-content: flex-end;
			text-align: left;
			
			.ty-price-update {
				margin-left: 0;
				margin-right: 10px;
			}
		}
		.v-align-bottom {
			flex-direction: row-reverse;
		}
	}
	
	.top-menu-grid-vetrtical .icon-right-dir {
		.rotate(180deg);
	}
	@media screen and (min-width: 768px) {
		.tbm-menu .ty-menu__item .ty-menu__item-link .icon-down-dir {
			left: -4px;
			right: 0;
		}
	}
	.ty-menu__item-link.a-first-lvl bdi {
		.m-label {
			top: -2px;
			left: -1px;
		}
	}
	.ty-menu__item .ty-menu__submenu bdi {
		direction: ltr;
	}
	

	@media screen and (min-width: 768px) {
		.top-menu-grid-vetrtical .ypi-menu__inbox .ty-menu__submenu-items.tree-level-dropdown .ypi-mwi-html {
			right: 0;
			left: auto;
		    border-right: 0 !important;
		    padding: 0;
		    display: inline-block;
		    width: 100%;
		    max-width: 970px !important;
		    overflow: hidden;
		}
	}

	.ty-blog-recent-posts-scroller .ty-btn__text:after {
	    content: " ←";
	}
	
	.ty-social-buttons__inline {
        .pinterest__wrapper a {
            display: inline-block;
            background-position-x: ~"calc(100% - 6px)";
        }
    }
	
	.ty-product-detail {
		.pib-title {
			i.material-icons {
				top: 10px;
				left: -2px;
				float: left;
			}
			em {
			    padding-left: 25px;	
			}
		}
		.fixed-form.view .sticky-block {
			direction: ltr;
		}
	}
	.ypi-buy-together h3.ty-subheader {
	    float: left;
	    padding-left: 2px;
	}
    .ty-scroller-list.grid-list.ty-scroller-advanced {
        .owl-controls .owl-buttons div {
            &.owl-next {
                left: -25px;
                right: auto;
            }
            &.owl-prev {
                right: -25px;
                left: auto;
            }
        }
    }
}