// ========================================================= Variables

@ty_social_border_color: #7d93ab;

@rounded_corners: false;
@links: #dc143c;
@menu_links: #333333;
@menu: #ffffff;
@base: #ffffff;
@font: #333333;
@primary_button: #dc143c;
@secondary_button: #f79029;
@tertiary_button: #BDC3C7;
@sidebar: #fff;
@price: #dc143c;
@discount_label: #ff6a6b;
@in_stock: #2ECC71;
@out_of_stock: #a80006;
@top_panel_links: #999999;
@top_panel_text: #333333;
@footer_text: #999999;
@decorative: #ffffff;

@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #f8f8f8;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #f8f8f8;

@header_bg: #ffffff;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #ffffff;

@content_bg: #ffffff;
@content_bg_full: true;
@content_bg_transparent: false;

@footer_bg: #fafafa;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #fafafa;

@body_font: Lato,sans-serif;
@body_font_size: 14px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: Lato,sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: inherit;
@links_font_size: inherit;
@links_font_decoration: inherit;
@links_font_style: inherit;
@links_font_weight: inherit;
@price_font: Lato,sans-serif;
@price_font_size: 20px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: bold;
@buttons_font: Lato,sans-serif;
@buttons_font_size: 16px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;


// ========================================================= New Variables
//base
@accent: #dc143c;
@accent_second: #f79029;
@accent_under_text: #fff;
@links_hover: #f63140;
@ok_color: #30bc64;
@border_color: #cfd0d0;

//layers
@top_panel__border: @border_color;
@top_panel__shadow_color: rgba(0,0,0,0.05);

//sections
@footer_copyright_section: #fff;
@footer_copyright_section_color: #999;
@payments_color: #595959;
@content_bg_section: #f8f3e9;

//components
@dropdown_box__bg: #fff;
@dropdown_box__border: #ccc;
@old_price: #888;

@quick_view_link_bg: #eee;


//new
@header_font: #333;

//checkout
@checkout_selected_control_border: #4fbe31;
@checkout_control_border: #acbdcd;
@checkout_input_border: #acbdcd;
@checkout_selected_input_border: #4fbe31;
@checkout_step_title: #2e3a47;
@checkout_input_text: #2e3a47;
@checkout_input_label: #a1a6aa;
@checkout_control_background: #fff;
@checkout_selected_control_background: #fff;
@checkout_control_title: #4fbe31;
@checkout_control_description: #6c6c6c;
@checkout_control_label: #2e3a47;
@checkout_terms_background: #f9f9f9;





/*GFONTS*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v13/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

/*/GFONTS*/