.tygh-footer:before, .th_copyright_section:before,
.tygh-header,
.tt_header-menu__section:before, .ty-menu__submenu-items:before,
.tygh-top-panel {
border: 0;
}
.ty-btn__primary {
color: #000;
}
.ty-btn__primary:hover {
color: #000;
}
.th_benefit__icon {
background-color: rgba(249, 212, 72, 0.42);
}