// ========================================================= Variables

@ty_social_border_color: #7d93ab;

@rounded_corners: false;
@links: #d21c1c;
@menu_links: #000000;
@menu: #fed700;
@base: #ffffff;
@font: #333333;
@primary_button: #fed700;
@secondary_button: #df3737;
@tertiary_button: #BDC3C7;
@sidebar: #ffffff;
@price: #df3737;
@discount_label: #df3737;
@in_stock: #2ECC71;
@out_of_stock: #a80006;
@top_panel_links: #434343;
@top_panel_text: #999999;
@footer_text: #434343;
@decorative: #ffffff;

@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #fff09f;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #fff09f;

@header_bg: #fff09f;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #fff09f;

@content_bg: #ffffff;
@content_bg_full: true;
@content_bg_transparent: false;

@footer_bg: #fed700;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #fed700;

@body_font: Open Sans,sans-serif;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: Open Sans,sans-serif;
@headings_font_size: 26px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: inherit;
@links_font_size: inherit;
@links_font_decoration: inherit;
@links_font_style: inherit;
@links_font_weight: inherit;
@price_font: Open Sans,sans-serif;
@price_font_size: 20px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: bold;
@buttons_font: Open Sans,sans-serif;
@buttons_font_size: 16px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;


// ========================================================= New Variables
//base
@accent: #000000;
@accent_second: #df3737;
@accent_under_text: #fff;
@links_hover: #df3737;
@ok_color: #df3737;
@border_color: #000000;

//layers
@top_panel__border: @border_color;
@top_panel__shadow_color: rgba(0,0,0,0.05);

//sections
@footer_copyright_section: #ffffff;
@footer_copyright_section_color: #434343;
@payments_color: #434343;
@content_bg_section: #fed700;

//components
@dropdown_box__bg: #ffffff;
@dropdown_box__border: #000000;
@old_price: #888;

@quick_view_link_bg: #eee;


//new
@header_font: #000000;

//checkout
@checkout_selected_control_border: #4fbe31;
@checkout_control_border: #acbdcd;
@checkout_input_border: #acbdcd;
@checkout_selected_input_border: #4fbe31;
@checkout_step_title: #2e3a47;
@checkout_input_text: #2e3a47;
@checkout_input_label: #a1a6aa;
@checkout_control_background: #fff;
@checkout_selected_control_background: #fff;
@checkout_control_title: #4fbe31;
@checkout_control_description: #6c6c6c;
@checkout_control_label: #2e3a47;
@checkout_terms_background: #f9f9f9;















/*GFONTS*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0d.woff) format('woff');
}

/*/GFONTS*/