{if $ab__qobp_show_form == 'Y'}
<div id="ab__qobp_checkout" class="hidden">
<form action="{""|fn_url}" method="post" name="ab__qobp_checkout">
<div class="ab__qobp_checkout">
{include file="addons/ab__quick_order_by_phone/views/components/product_form.tpl" mode="place_order"}
</div>
</form>
</div>
{/if}