.ty-form-builder__checkbox-label,
.ty-form-builder__radio-label {
  display: inline-block;
  margin: 0 15px 5px 0;
  white-space: nowrap;
}
.ty-form-builder__multiple-select,
.ty-form-builder__select,
.ty-form-builder__state,
.ty-form-builder__country {
  width: 100%;
  max-width: 500px;
}
.ty-form-builder__textarea {
  width: 100%;
  max-width: 500px;
}
.ty-form-builder .ty-input-text {
  width: 100%;
  max-width: 500px;
}
@media (max-width: 979px) {
  .ty-form-builder__textarea {
    max-width: 400px;
  }
  .ty-form-builder .ty-input-text {
    max-width: 400px;
  }
  .ty-form-builder__multiple-select,
  .ty-form-builder__select,
  .ty-form-builder__state,
  .ty-form-builder__country {
    max-width: 400px;
  }
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
