.ty-product-filters__switch {
	padding-left: 0;
	border: 0;
	
	.open.ty-product-filters__switch .ty-product-filters__switch-right, .ty-product-filters__switch-down {
		top: 0;
	}
}
.ty-product-filters__title {
	color: @font;
	font-size: 16px;
	font-weight: normal;
}

.ty-product-filters,
.ty-product-filters__search {
	margin-left: 0;
	padding-top: 0;
	padding-left: 0;
}
.ty-product-filters__variants {
	margin-right: 9px;
}
.ty-product-filters__switch-right,
.ty-product-filters__switch-down {
	float: none;
	margin-left: 10px;
}

//range-slider
.ty-price-slider {
	padding-left: 0;
}
.ty-range-slider {
	border: 0;
	height: 12px;
	.border-radius(6px);
	margin: 35px 0 0;
}

.ty-range-slider .ui-slider-range {
	height: 12px;
	background: @accent_second;
	.border-radius(6px);
}
.ty-range-slider__item {
	background: none;
}
.ty-range-slider__num {
	top: -18px;
	left: 0;
	width: auto;
	
	.ty-range-slider__item:last-child & {
		right: 0;
		left: auto;
	}
}
.ty-range-slider .ui-slider-handle {
	border: 6px solid @accent_second;	
    height: 22px;
    width: 22px;
    .border-radius(50%);
    .box-sizing(border-box);
    top: -6px;
    margin-left: -11px;
}

.ty-product-filters__reset-icon {
	left: -17px;
}


// horizontal
.ty-horizontal-product-filters {
	padding-left: 0;
	background: none;
	margin-left: -6px;
	margin-bottom: 15px;
}
.ty-horizontal-product-filters-dropdown__wrapper {
	color: @font;
}
.ty-horizontal-product-filters-dropdown__wrapper:hover {
	background: @dropdown_box__bg;
	color: @links_hover;
}
.ty-horizontal-product-filters-dropdown__wrapper.active {
	background: @dropdown_box__bg;
}
.ty-horizontal-product-filters-dropdown__content {
	padding: 10px 2px 0 11px;
	
	.ty-product-filters__tools {
		margin-left: -11px;
		margin-right: -2px;
		border-top: 1px solid @dropdown_box__border;
	}
}

.ty-horizontal-product-filters-dropdown__icon {
	padding-left: 4px;
    top: 3px;
}

@media (max-width: 767px) {	
	.ty-horizontal-product-filters-dropdown__icon {
	    top: -3px;
	}
	.ty-horizontal-product-filters-dropdown__wrapper.open:after {
		display: none;
	}
	.ty-horizontal-product-filters-dropdown__content {
	    margin-top: -5px;
	}
}
