//My Account (blocks/my_account.tpl)
.logged .ty-account-info__title,
.logged .ty-account-info__user-arrow {
	color: inherit;
	padding: 0;
}
.ty-dropdown-box__content .ty-account-info__orders {
	margin-top: 0;
}
.ty-account-info__title {
	padding: 0;
}
.ty-account-info {
	padding-top: 0;
}

.th_user__icon {
	font-size: 26px;
}
.ty-account-info__title-txt {
	font-size: 13px;
	line-height: 16px;
}
.ty-account-info__title {
	display: block;
}
.th_user__icon,
.ty-account-info__title-txt {
	display: inline-block;
	vertical-align: top;
}
.ty-account-info__user-arrow {
	display: none;
}
.ty-dropdown-box__content .ty-account-info__buttons .ty-btn {
	margin-bottom: 0;
}

@media (max-width: 767px) {
	.th_your-account .ty-dropdown-box__title {
	    padding: 5px 7px 10px 10px;
	}
}
