.th_subcategories-list {	
	.ty-subcategories__item {
		margin: 0;
		padding: 0;
		display: block;
	}
	.ty-subcategories__item__link {
		position: relative;
		display: block;
		color: @font;
		padding-left: 28px;
		line-height: 24px;
		margin: 4px 0;
		
		&:hover {
			color: @links_hover;
		}
	}
	.ty-subcategories-img {
		position: absolute;
		left: 0;
		top: 0;
		padding: 0;
	}
	.ty-subcategories-img--icon {
		left: 6px;
	}
}
