.t_thin_font,
.ty-icon-cancel-circle:before,
// .ty-add-to-wish:before, 
.ty-discussion-post .ty-caret-bottom:before, 
// .ty-add-to-compare:before,
.ty-icon-products-without-options:before,
.ty-icon-products-multicolumns:before,
.ty-icon-right-circle:before,
.ty-icon-left-circle:before,
.ty-icon-short-list:before,
.ty-icon-up-open:before,
.ty-icon-down-open:before,
.ty-icon-search:before,
.ty-icon-flight:before,
.ty-icon-lock:before,
.ty-breadcrumbs > .ty-breadcrumbs__a:first-child::before,
.ty-gift-certificate-coupon:before,
.ty-accordion .ui-accordion-header-icon:before,
.ty-accordion .ui-accordion-header.ui-state-active .ui-accordion-header-icon:before,
.ty-icon-down-micro:before {
	font-family: t_thin_font;
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//banners
.owl-theme .owl-controls-outside .owl-buttons div {
	padding: 0;
	background: 0;
	font-size: 24px;
	color: @font;
	width: 24px;
	margin-top: -1px;
	
	&:hover {
		color: @links_hover;
	}
	
	.ty-icon-left-open-thin:before {
		.t_thin_font;
		content: '\E889';
	}
	.ty-icon-right-open-thin:before {
		.t_thin_font;
		content: '\E88A';
	}
}
.ty-scroller-list .owl-buttons div:before,
.banners .owl-controls .owl-buttons div:before {
	.t_thin_font;
}
.ty-scroller-list .owl-buttons div,
.banners .owl-controls .owl-buttons div {
	&.owl-prev:before {
		content: '\E875';
	}
	&.owl-next:before {
		content: '\E876';
	}
}

//search
.ty-icon-search:before { content: '\e86f';}

//drop down
.ty-icon-down-micro:before { content: '\e801'; }
.ty-accordion .ui-accordion-header.ui-state-active .ui-accordion-header-icon:before,
.ty-icon-up-open:before { content: '\e873'; }
.ty-accordion .ui-accordion-header-icon:before,
.ty-icon-down-open:before { content: '\e874'; }

.ty-select-block__arrow,
.ty-sort-dropdown__icon,
.ty-dropdown-box  .ty-icon-down-micro {
    top: 1px;
    width: 7px;
    color: inherit;
    font-size: 16px;
    line-height: 0;
}
.ty-sort-dropdown__icon {
    padding-left: 4px;
}
.open.ty-product-filters__switch .ty-product-filters__switch-right,
.ty-product-filters__switch-down {
	top: 1px;
}
.ty-accordion .ui-accordion-header-icon:before {
	font-size: 16px;
}
.ty-accordion .ui-accordion-header-icon {
	top: 8px;
}
//menu
.ty-menu__menu-btn .ty-icon-short-list:before { content: '\e871'; } /* '' */

//view icon
.ty-icon-products-multicolumns:before { content: '\E8BE'; }
.ty-icon-products-without-options:before { content: '\E8C0'; }
.ty-icon-short-list:before { content: '\E8BD'; }

//arrow
.ty-icon-left-circle:before  { content: '\E875'; }
.ty-icon-right-circle:before { content: '\E876'; }

//btn icon
/*
.ty-add-to-wish:before  { content: '\E813'; }
.ty-add-to-compare:before  { content: '\E88E'; }

.ty-add-to-wish:before, 
.ty-add-to-compare:before {
	margin-right: 4px;
}
*/

//bread
.ty-breadcrumbs > .ty-breadcrumbs__a:first-child::before  { content: '\E803'; }

//discussion
.ty-discussion-post .ty-caret-bottom:before { content: '\E83F'; }

//deliver
.ty-icon-flight:before { content: '\E8AA'; }

//cupon
.ty-gift-certificate-coupon:before { content: '\E844'; }

//checkout
.ty-icon-lock:before { content: '\E80F'; }

//cancel
.ty-icon-cancel-circle:before { 
	content: '\E880';
	position: relative;
	top: -2px;
}

