.ty-footer-general__header--no-hiden {
	cursor: default;
	
	padding: 20px 0 0;
	border: 0;
}
.ty-footer-general__body--no-hiden {
	display: block;
	
	.ty-footer-menu__item,
	.ty-footer-menu__items .ty-text-links__item,
	.ty-text-links__item {
		border: 0;
	}
}