// ========================================================= Variables

@ty_social_border_color: #7d93ab;

@rounded_corners: false;
@links: #242f3d;
@menu_links: #ffffff;
@menu: #242f3d;
@base: #ffffff;
@font: #333333;
@primary_button: #f1bc71;
@secondary_button: #4f78a6;
@tertiary_button: #242f3d;
@sidebar: #ffffff;
@price: #ff4f43;
@discount_label: #e27926;
@in_stock: #2ECC71;
@out_of_stock: #a80006;
@top_panel_links: #eeeeee;
@top_panel_text: #eeeeee;
@footer_text: #dddddd;
@decorative: #eeeeee;

@general_bg_color: #eeeeee;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #182029;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #182029;

@header_bg: #242f3d;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #242f3d;

@content_bg: #ffffff;
@content_bg_full: true;
@content_bg_transparent: false;

@footer_bg: #242f3d;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #242f3d;

@body_font: Lato,sans-serif;
@body_font_size: 14px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: Lato,sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: inherit;
@links_font_size: inherit;
@links_font_decoration: inherit;
@links_font_style: inherit;
@links_font_weight: inherit;
@price_font: Lato,sans-serif;
@price_font_size: 20px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: bold;
@buttons_font: Lato,sans-serif;
@buttons_font_size: 16px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;


// ========================================================= New Variables
//base
@accent: #d9803e;
@accent_second: #f1bc71;
@accent_under_text: #fff;
@links_hover: #d9803e;
@ok_color: #fbdb87;
@border_color: #242f3d;

//layers
@top_panel__border: @border_color;
@top_panel__shadow_color: rgba(0,0,0,0.05);

//sections
@footer_copyright_section: #141922;
@content_bg_section: #e3f1f3;
@footer_copyright_section_color: #dddddd;
@payments_color: #dddddd;

//components
@dropdown_box__bg: #ffffff;
@dropdown_box__border: #141922;
@old_price: #888;

@quick_view_link_bg: #eee;

@header_font: #ffffff;

//checkout
@checkout_selected_control_border: #4fbe31;
@checkout_control_border: #acbdcd;
@checkout_input_border: #acbdcd;
@checkout_selected_input_border: #4fbe31;
@checkout_step_title: #2e3a47;
@checkout_input_text: #2e3a47;
@checkout_input_label: #a1a6aa;
@checkout_control_background: #fff;
@checkout_selected_control_background: #fff;
@checkout_control_title: #4fbe31;
@checkout_control_description: #6c6c6c;
@checkout_control_label: #2e3a47;
@checkout_terms_background: #f9f9f9;






/*GFONTS*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}

/*/GFONTS*/