// ========================================================= Variables

@ty_social_border_color: #7d93ab;

@rounded_corners: false;
@links: #f04a62;
@menu_links: #f3f3f3;
@menu: #522c52;
@base: #ffffff;
@font: #110911;
@primary_button: #f04a62;
@secondary_button: #522c52;
@tertiary_button: #BDC3C7;
@sidebar: #fff;
@price: #f27151;
@discount_label: #f04a62;
@in_stock: #2ECC71;
@out_of_stock: #a80006;
@top_panel_links: #6a3b6b;
@top_panel_text: #333333;
@footer_text: #f3f3f3;
@decorative: #f3f3f3;

@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #ffffff;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #ffffff;

@header_bg: #ffffff;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #ffffff;

@content_bg: #ffffff;
@content_bg_full: true;
@content_bg_transparent: false;

@footer_bg: #522c52;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #522c52;

@body_font: Lato,sans-serif;
@body_font_size: 14px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: Lato,sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: inherit;
@links_font_size: inherit;
@links_font_decoration: inherit;
@links_font_style: inherit;
@links_font_weight: inherit;
@price_font: Lato,sans-serif;
@price_font_size: 20px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: bold;
@buttons_font: Lato,sans-serif;
@buttons_font_size: 16px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;


// ========================================================= New Variables
//base
@accent: #f04a62;
@accent_second: #ff4226;
@accent_under_text: #fff;
@links_hover: #f2576d;
@ok_color: #ff4226;
@border_color: #e6e6e6;

//layers
@top_panel__border: @border_color;
@top_panel__shadow_color: rgba(0,0,0,0.05);

//sections
@footer_copyright_section: #522c52;
@footer_copyright_section_color: #f3f3f3;
@payments_color: #f3f3f3;
@content_bg_section: #f3f3f3;

//components
@dropdown_box__bg: #fff;
@dropdown_box__border: #522c52;
@old_price: #888;

@quick_view_link_bg: #eee;

@header_font: #110911;

//checkout
@checkout_selected_control_border: #4fbe31;
@checkout_control_border: #acbdcd;
@checkout_input_border: #acbdcd;
@checkout_selected_input_border: #4fbe31;
@checkout_step_title: #2e3a47;
@checkout_input_text: #2e3a47;
@checkout_input_label: #a1a6aa;
@checkout_control_background: #fff;
@checkout_selected_control_background: #fff;
@checkout_control_title: #4fbe31;
@checkout_control_description: #6c6c6c;
@checkout_control_label: #2e3a47;
@checkout_terms_background: #f9f9f9;







/*GFONTS*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}

/*/GFONTS*/