@media (min-width:768px) {

.ath_mega-menu__l1:hover .ath_mega-menu__l1__link {
    color: #fff;
    background: #f04a62;
}

}

.tygh-footer:before, .th_copyright_section:before,
.tygh-header,
.tt_header-menu__section:before, .ty-menu__submenu-items:before {
border: 0;
}