/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2019   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and  accept   *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
.ab__mb_items {
width: 100%;
margin-bottom: 15px;
border: 1px solid @base;
.ab__mb_item {
padding: 10px 15px;
border-bottom: 1px solid @base;
&:hover {
background: fade(@content_bg, 30%);
}
&:last-child {
border-bottom: none;
}
}
&.colored {
border: 0 none;
.ab__mb_item {
border-bottom: 3px solid @content_bg;
&:hover .ab__mb_item-title:after {
color: @links;
}
&:last-child {
border-bottom: 0;
}
}
}
}
.ab__mb_item-title {
position: relative;
cursor: pointer;
display: flex;
flex-direction: row;
-webkit-box-align: center;
align-items: center;
min-height: 24px;
padding-right: 24px;
&:after {
content: "\e019";
font-family: "glyphs";
position: absolute;
right: -1px;
font-size: 16px;
color: lighten(@font, 50%);
.rotate(-90deg);
.transition(.2s);
}
&.open {
&:after {
color: @font;
.rotate(0);
}
}
}
.ab__mb_item-name {
font-weight: bold;
font-size: 15px;
}
.ab__mb_item-description {
margin: 5px 0;
p {
padding: 4px 0;
display: flex;
align-items: center;
color: lighten(@font, 20%);
i {
margin-right: 5px;
}
}
li {
padding: 2px 0;
list-style-type: disc;
color: lighten(@font, 20%);
}
@media screen and (max-width: 767px) {
p {
flex-wrap: wrap;
& > i + span + span.desktop-hidden {
padding-left: 19px;
}
}
span.cm-tooltip {
display: block;
font-weight: bold;
}
.desktop-hidden {
flex: 1 100%;
padding-top: 5px;
}
}
@media screen and (min-width: 768px) {
.desktop-hidden {
display: none;
}
}
}