// ========================================================= ##Custom params
@abt__yt_general_main_color: #fff;
@abt__yt_general_not_main_color: true;
@abt__yt_general_variant_buttons_color: false;
@main_color: @abt__yt_general_main_color;
@abt__yt_general_color_stars_rating: #707070;
@abt__yt_general_show_grid_border: margin_border;
@abt__yt_general_show_rounds: show_full_rounds;
@yt_color_subtitle: #4CAF50;

// ======================================================= ##Variables

@rounded_corners: true;
@links: #0275d8;
@menu_links: #232323;
@menu: #f99d1b;
@base: #EEEEEE;
@font: #232323;
@primary_button: #f99d1b;
@secondary_button: #757575;
@tertiary_button: #EEE;
@sidebar: #ffffff;
@price: #232323;
@discount_label: #ef3030;
@in_stock: #5aab5d;
@out_of_stock: #999999;
@top_panel_links: #999999;
@top_panel_text: #999999;
@footer_text: #232323;
@decorative: #ef3030;

@general_bg_color: #FFFFFF;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #FFFFFF;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #FFFFFF;

@header_bg: #FFFFFF;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #FFFFFF;

@content_bg: #FFFFFF;
@content_bg_full: false;
@content_bg_transparent: true;

@footer_bg: #FFFFFF;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #FFFFFF;

@body_font: 'Open Sans',sans-serif;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: 'Open Sans',sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: 'Open Sans',sans-serif;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: 'Open Sans',sans-serif;
@price_font_size: 23px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: normal;
@buttons_font: 'Open Sans',sans-serif;
@buttons_font_size: 13px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;

// Checkout
@checkout_link: #0275d8;
@checkout_input_border: #e0e0e0;
@checkout_selected_input_border: #0275d8;
@checkout_step_title: #232323;
@checkout_input_text: #232323;
@checkout_input_label: #858588;
@checkout_control_border: #e0e0e0;
@checkout_selected_control_border: #0275d8;
@checkout_control_background: #ffffff;
@checkout_selected_control_background: #ebf3fc;
@checkout_control_title: #0275d8;
@checkout_control_description: #858588;
@checkout_control_label: #232323;
@checkout_terms_background: #fff4f4;


// Only this style
@active-menu-link: @font;

.ab_dotd_product_label {
    background: @decorative;
}

.litecheckout__submit-btn {
	color: @font;
}	

.color-block .y-mainbox-title {
	color: @font;
}
.all-promotions__button .ty-btn {
    color: @font;
    border: 2px solid @font;
}
.top-menu-grid .ty-menu__item-active.no-active a.ty-menu__item-link, .top-menu-grid .ty-menu__item-active.no-active .ty-menu__item-link {
    color: @content_bg;
}
@media screen and (min-width: 768px) {
	.tbm-menu .ty-menu__item .ty-menu__item-link, .tbm-menu .ty-menu__item:nth-child(2) .ty-menu__item-link {
		border-color: #f1cb00;
	}
}

// Disable color schemas
.disable_main_color() when (@abt__yt_general_not_main_color = true) {
    .ty-product-block .ab__deal_of_the_day {
        border: 2px solid @menu;
        background: white;
    }
    .ty-product-detail .tab-list-title {
        color: @font;
    }
}
.disable_main_color();