// ========================================================= ##Custom params
@abt__yt_general_main_color: #ffffff;
@abt__yt_general_not_main_color: true;
@abt__yt_general_variant_buttons_color: false;
@main_color: @abt__yt_general_main_color;
@abt__yt_general_color_stars_rating: #ee1c25;
@abt__yt_general_show_grid_border: margin_border;
@abt__yt_general_show_rounds: show_full_rounds;
@yt_color_subtitle: #4CAF50;

// ======================================================= ##Variables

@rounded_corners: true;
@links: #ee1c25;
@menu_links: #ffffff;
@menu: #f04236;
@base: #eeeeee;
@font: #202021;
@primary_button: #f04236;
@secondary_button: #767676;
@tertiary_button: #eeeeee;
@sidebar: #ffffff;
@price: #202021;
@discount_label: #f04236;
@in_stock: #5aab5d;
@out_of_stock: #7c7c7c;
@top_panel_links: #7c7c7c;
@top_panel_text: #7c7c7c;
@footer_text: #202021;
@decorative: #f04236;

@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #ffffff;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #ffffff;

@header_bg: #ffffff;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #ffffff;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: true;

@footer_bg: #ffffff;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #ffffff;

@body_font: 'Open Sans',sans-serif;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: 'Open Sans',sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: 'Open Sans',sans-serif;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: 'Open Sans',sans-serif;
@price_font_size: 23px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: normal;
@buttons_font: 'Open Sans',sans-serif;
@buttons_font_size: 13px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;

// Checkout
@checkout_link: #ee1c25;
@checkout_input_border: #e1e1e1;
@checkout_selected_input_border: #ee1c25;
@checkout_step_title: #202021;
@checkout_input_text: #202021;
@checkout_input_label: #858588;
@checkout_control_border: #e1e1e1;
@checkout_selected_control_border: #ee1c25;
@checkout_control_background: #ffffff;
@checkout_selected_control_background: #fff4f4;
@checkout_control_title: #ee1c25;
@checkout_control_description: #858588;
@checkout_control_label: #202021;
@checkout_terms_background: #fff4f4;


// Only this style
@active-menu-link: @decorative;

@media screen and (max-width: 768px) {
   .ypi-cart-user-wrap {
       .count, .ty-minicart-count {
            background: @font !important;
        }
    }
}

// Disable color schemas
.disable_main_color() when (@abt__yt_general_not_main_color = true) {
    .top-menu-grid .ty-menu__item-active a.ty-menu__item-link,
    .top-menu-grid .ty-menu__item-active .ty-menu__item-link,
    .top-menu-grid-vetrtical .ty-menu__item-active a.ty-menu__item-link,
    .top-menu-grid-vetrtical .ty-menu__item-active .ty-menu__item-link {
        background: lighten(@font, 40%);
    }
    .top-menu-grid .ty-menu__item .ty-menu__item-link:hover,
    .top-menu-grid-vetrtical .ty-menu__item .ty-menu__item-link:hover {
        background: @font;   
    }
    .ypi-cart-user-wrap .ypi-search input.ty-search-block__input {
        background: white;
    }
    .ty-discount-label {
        background: @gcolor1;
    }
    .ty-product-block .ab__deal_of_the_day {   
        background: #ffebeb;
    }
    .ty-product-detail.fixed-form .sticky-block {
        border-color: @base;
    }
    .tygh-footer > div {
        background: #28282f !important;
        .ty-footer-menu__header, .ty-footer-general__header, .ty-footer-menu .y-mainbox-title {
            color: #e6e6e6;
        }
        .bottom-copyright, a {
            color: #858585;
        }
        .ty-btn__subscribe {
            background: #515361;
        }
    }
    .footer-copyright {
        background-color: #28282f;
    }
}
.disable_main_color();

.disable_bt_color() when (@abt__yt_general_variant_buttons_color = false) {
    .grid-list .ty-grid-list__control .ty-btn__primary {
        background: lighten(@font, 40%);
        &:hover {
            background: @primary_button;
        }
    }
}
.disable_bt_color();
