// ========================================================= ##Custom params
@abt__yt_general_main_color: #ffffff;
@abt__yt_general_not_main_color: true;
@abt__yt_general_variant_buttons_color: false;
@bold_font: "GothamProBold", sans-serif;
@main_color: @abt__yt_general_main_color;
@abt__yt_general_color_stars_rating: #F9690E;
@abt__yt_general_show_grid_border: margin_border;
@abt__yt_general_show_rounds: show_full_rounds;
@yt_color_subtitle: #4CAF50;

// ======================================================= ##Variables

@rounded_corners: true;
@links: #4CAF50;
@menu_links: #ffffff;
@menu: #4cae51;
@base: #EEEEEE;
@font: #363636;
@primary_button: #4cae51;
@secondary_button: #363636;
@tertiary_button: #EEE;
@sidebar: #ffffff;
@price: #363636;
@discount_label: #F9690E;
@in_stock: #4cae51;
@out_of_stock: #999999;
@top_panel_links: #999999;
@top_panel_text: #999999;
@footer_text: #363636;
@decorative: #F9690E;

@general_bg_color: #FFFFFF;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #FFFFFF;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #FFFFFF;

@header_bg: #FFFFFF;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #FFFFFF;

@content_bg: #FFFFFF;
@content_bg_full: false;
@content_bg_transparent: true;

@footer_bg: #FFFFFF;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #FFFFFF;

@body_font: 'Open Sans',sans-serif;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: 'Open Sans',sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: 'Open Sans',sans-serif;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: 'Open Sans',sans-serif;
@price_font_size: 23px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: normal;
@buttons_font: 'Open Sans',sans-serif;
@buttons_font_size: 13px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;

// Checkout
@checkout_link: #4CAF50;
@checkout_input_border: #e0e0e0;
@checkout_selected_input_border: #4CAF50;
@checkout_step_title: #363636;
@checkout_input_text: #363636;
@checkout_input_label: #9c9c9c;
@checkout_control_border: #e0e0e0;
@checkout_selected_control_border: #4CAF50;
@checkout_control_background: #ffffff;
@checkout_selected_control_background: #eef7ed;
@checkout_control_title: #4CAF50;
@checkout_control_description: #9c9c9c;
@checkout_control_label: #363636;
@checkout_terms_background: #fee5d5;


// Only this style
@active-menu-link: @font;

.disable_bt_color() when (@abt__yt_general_variant_buttons_color = false) {
    .ty-product-detail .ty-btn__add-to-cart {
        background: @decorative;
        &:hover {
            background: lighten(@decorative, 5%);
        }
    }
}
.disable_bt_color();