.ab__qobp {
	
	&_product, &_cart, &_checkout {
		
		.ab__qobp_phone {
	        flex: 1 calc(~'100% - 110px');
	        min-width: 140px;
	        min-height: @min-height-button;
	        margin: 0 5px 10px;
	    }
	    #ab__qobp_product {
		    flex: 1;
	        height: @min-height-button;
	        width: auto;
	        min-width: 90px;
	        margin: 0 5px 10px;
	        
	        > span {
		        height: @min-height-button;
	        }
	    }
	}
	&_content {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
		max-width: 360px;
	}
	// Product
	&_product {
		display: inline-block;
		position: relative;
		width: 100%;
		clear: both;
	}
	// Cart
	&_cart {
	    float: right;
	    margin-top: 10px;
	    
	    .ab__qobp_content {
		    max-width: 300px;
	    }

	    @media screen and ( max-width: 767px ) {
	        margin-top: 20px;
	    }
	    @media screen and ( max-width: 360px ) {
	        input {
	            width: 100%;
	            margin-bottom: 7px;
	        }
	    }
	}
	// Checkout
	&_checkout {
		margin-top: 20px;
	}
	
	// Agreement
	&_agreement {
		min-height: -webkit-fit-content;
		min-height: -moz-fit-content;
		min-height: max-content;
	    padding: 0 5px 5px 5px;
	    display: inline-block;
	    width: 100%;
	}
}

.sticky_add_to_cart, .ut2-vl__control, .ty-sellers-list {
	.ab__qobp_product {
		display: none;
	}
}