.native-captcha {
  margin-bottom: 10px;
  min-width: 200px;
}
.native-captcha__image-container {
  background: #f5f5f5;
  text-align: center;
  padding: 5px 0;
  border: 1px solid #c4c4c4;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}
.native-captcha__answer {
  width: 100%;
  margin-bottom: 0;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
@media (min-width: 480px) {
  .native-captcha--short {
    max-width: 310px;
  }
}
@font-face {
  font-family:Lato;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
.th_top-search input.ty-search-block__input {
  border-color: #fff;
}
